/* main: rella-admin.scss*/

.rella-popup {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.rella-popup-body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	height: 95%;
	margin: auto;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 13px 80px rgba(0, 0, 0, 0.4);
	box-shadow: 0 13px 80px rgba(0, 0, 0, 0.4);
}
.rella-popup-close {
	font-size: 36px;
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 9;
	display: inline-block;
	cursor: pointer;
}
.rella-popup-content-inner {
	display: block;
	width: 100%;
	height: 100%;
	padding: 2.2% 1.8%;
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.rella-popup-content-inner:before, .rella-popup-content-inner:after {
	content: '';
	display: table;
}
.rella-popup-content-inner:after {
	clear: both;
}
.rella-huge-text {
	display: block;
	height: 28%;
	/* position: absolute;*/
	/* top: 0;*/
	/* left: 0;*/
	/* right: 0;*/
	background-color: #f5f5f5;
	border-radius: 10px 0 0 0;
}
.rella-huge-text h3 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 250px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: -0.15em;
	color: #fff;
	text-shadow: 0 8px 25px rgba(0, 0, 0, 0.2), 0 15px 45px rgba(0, 0, 0, 0.05);
	-webkit-transform: translate3d(-32.4%, 24%, 0);
	transform: translate3d(-32.4%, 24%, 0);
}
.rella-popup-left {
	position: relative;
	margin-left: 0;
	border-radius: 5px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.rella-popup-left .demo-image-blur {
	width: 80%;
	height: auto;
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -40%;
	opacity: 0.8;
	-webkit-filter: blur(28px) brightness(1.15) contrast(1.1);
	filter: blur(28px) brightness(1.15) contrast(1.1);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.no-cssfilters .rella-popup-left .demo-image-blur {
	display: none;
}
.rella-popup-left .demo-image {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
	border-radius: 5px;
	-webkit-box-shadow: 0 13px 40px rgba(0, 0, 0, 0.12);
	box-shadow: 0 13px 40px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.rella-popup-left:hover .demo-image-blur {
	opacity: 0.65;
	-webkit-filter: blur(18px) brightness(1.15) contrast(1.1);
	filter: blur(18px) brightness(1.15) contrast(1.1);
}
.rella-popup-left:hover .demo-image {
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.rella-popup-right .rella-import-demo,
.rella-popup-left .live-demo {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	border-radius: 50em;
	font-family: 'Karla', sans-serif;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
	transition: opacity 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
	transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
	transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	opacity: 0;
	color: #fff;
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	-webkit-transform: translate3d(-50%, -30%, 0);
	transform: translate3d(-50%, -30%, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.rella-popup-right .rella-import-demo span, .rella-popup-left .live-demo span {
	display: inline-block;
	border-radius: 50em;
	padding: 1.65em 4em;
	background: rgba(244,41,88,1);
	background: linear-gradient(135deg, rgba(244,41,88,1) 0%, rgba(232,65,39,1) 100%);
}
.cssfilters .rella-popup-right .rella-import-demo:before, .cssfilters .rella-popup-left .live-demo:before {
	content: '';
	display: inline-block;
	width: 80%;
	height: 50%;
	position: absolute;
	top: 55%;
	left: 10%;
	z-index: -1;
	-webkit-filter: blur(15px) brightness(1.1) contrast(1.5);
	filter: blur(15px) brightness(1.1) contrast(1.5);
	background: rgba(244,41,88,1);
	background: linear-gradient(135deg, rgba(244,41,88,1) 0%, rgba(232,65,39,1) 100%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.rella-popup-right .rella-import-demo:hover, .rella-popup-left .live-demo:hover {
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.cssfilters .rella-popup-right .rella-import-demo:hover:before, .cssfilters .rella-popup-left .live-demo:hover:before {
	-webkit-transform: translateY(-10%);
	transform: translateY(-10%);
	-webkit-filter: blur(10px) brightness(1.1) contrast(1.5);
	filter: blur(10px) brightness(1.1) contrast(1.5);
}
.rella-popup-left:hover .live-demo {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.rella-popup-right {
	width: 70%;
	margin: 5em auto;
	text-align: center;
}
.rella-popup-right h3, .rella-popup-right h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 33px;
	font-weight: 700;
	line-height: 33px;
	margin: 0;
	margin-bottom: 0.5em;
	text-transform: capitalize;
	color: #000;
}
.rella-popup-right h4 {
	font-size: 24px;
	line-height: 22px;
}
.rella-popup-right p {
	margin: 1.5em;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2em;
	font-weight: 300;
	letter-spacing: 0.025em;
	color: #a5a5a5;
}
.rella-popup-right .import-option-group {
	display: block;
	margin-left: -20%;
	margin-right: -20%;
}
.rella-popup-right .import-option {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 25px;
}
.rella-popup-right .import-option:last-child {
	margin-right: 0;
}
.rella-popup-right .import-option input {
	display: none;
}
.rella-popup-right .import-option label {
	display: inline-block;
	color: #000;
}
.rella-popup-right .import-option .option-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 7px;
	font-size: 14px;
	line-height: 40px !important;
	font-weight: 400;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50em;
	background-color: #fff;
	color: #e84227;
	/*border: 0.5px solid #e84227;*/
	-webkit-box-shadow: 0 10px 20px rgba(232, 66, 39, 0.2), 0 5px 10px rgba(232, 66, 39, 0.2);
	box-shadow: 0 10px 20px rgba(232, 66, 39, 0.2), 0 5px 10px rgba(232, 66, 39, 0.2);
}
.rella-popup-right .import-option .option-icon:before {
	content: '\f00d';
}
.rella-popup-right .import-option input:checked+label i.option-icon {
	color: #27e859;
	border-color: #27e859;
	-webkit-box-shadow: 0 10px 20px rgba(39, 232, 89, 0.2), 0 5px 10px rgba(39, 232, 89, 0.2);
	box-shadow: 0 10px 20px rgba(39, 232, 89, 0.2), 0 5px 10px rgba(39, 232, 89, 0.2);
}
.rella-popup-right .import-option input:checked+label i.option-icon:before {
	content: '\f00c';
}
.rella-agree-box {
	margin-bottom: 15px;
}
.rella-popup-right .rella-import-demo {
	margin-left: 15px;
	position: relative;
	top: auto;
	left: auto;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	opacity: 0.5;
	pointer-events: none;
}
.rella-popup-right .rella-import-demo span, .cssfilters .rella-popup-right .rella-import-demo:before {
	background: linear-gradient(135deg, #54f429 0%, #27e874 100%);
}
.rella-popup-right hr {
	margin-top: 2em;
	margin-bottom: 2em;
}
.rella-popup-right .checked + .rella-import-demo {
	opacity: 1;
	pointer-events: all;
}
@-webkit-keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}
@keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}
.rella-shake {
	display: inline-block;
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.rella-import-modules {
	margin-top: 20px;
	font-size: 16px;
	color: #bbb;
}
.rella-import-modules li {
	margin-bottom: 5px;
}
.rella-import-modules i {
	margin-right: 7px;
}
.rella-import-modules li.done {
	color: #333
}
.rella-import-modules li.done i {
	color: #4bbb4b;
}
.rella-import-modules li.loader i:before {
	display: none
}
.rella-import-modules li.loader i:after {
	background: url(../img/loader.gif) no-repeat center;
	background-size: 16px 16px;
	content: " ";
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: bottom;
}
.rella-popup-right .success-container {
	background: #46b450;
}
.rella-popup-right .error-container {
	background: #ff6161;
}
.rella-popup-right .success-container, .rella-popup-right .error-container {
	margin: 20px 0;
	padding: 10px;
	border-radius: 4px;
}
.rella-popup-right .success-container p, .rella-popup-right .error-container p {
	color: #fff;
	margin: 0;
}
#rella-progress {
	margin-bottom: 1.5em;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
#rella-loader {
	width: 85%;
	height: 35px;
	position: relative;
	margin: 0 auto;
	border-radius: 50em;
	background-color: rgba(70, 49, 99, 0.3);
	line-height: 35px;

	.text {
		position: relative;
		z-index: 2;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #fff;
	}
	> div:not(.text) {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		border-radius: 50em;
		background-color: $color-accent;
		-webkit-box-shadow: 0 5px 25px rgba($color-accent, 0.4);
		        box-shadow: 0 5px 25px rgba($color-accent, 0.4);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}
#rela-import-complete {
	display: none;
	padding: 1.5em 2.5em;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.12em;
	border-radius: 50em;
	background: linear-gradient(135deg, #54f429 0%, #27e874 100%);
	color: #fff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0 13px 45px -8px rgba(#54f429, 0.9);
	        box-shadow: 0 13px 45px -8px rgba(#54f429, 0.9);
}

/* RTL */
html[dir="rtl"]  {

	.rella-popup-right {

		.import-option {
			margin-right: 0;
			margin-left: 25px;

			.option-icon {
				margin-right: 0;
				margin-left: 7px;
			}
		}
	}
}

@media screen and ( max-width: 1366px ) {
	.rella-popup-body {
		width: 70%;
	}
	.rella-huge-text h3 {
		-webkit-transform: translate3d(-23%, 25%, 0);
		transform: translate3d(-23%, 25%, 0);
	}

	html[dir=rtl] {

		.rella-huge-text h3 {
			-webkit-transform: translate3d(23%, 25%, 0);
			transform: translate3d(23%, 25%, 0);
		}
	}
}
@media screen and ( max-width: 1199px ) {
	.rella-popup-body {
		width: 90%;
	}
}
@media screen and ( max-width: 991px ) {
	.rella-popup-body {
		width: 100%;
		height: 100%;
	}
	.rella-popup-left .demo-image,  .rella-popup-left .demo-image-blur {
		width: 90%;
	}
	.rella-popup-left .demo-image-blur {
		margin-left: -45%;
	}
	.rella-popup-right {
		width: 80%;
	}
	.rella-huge-text {
		display: none;
	}

	html[dir=rtl] {

		.rella-popup-left .demo-image-blur {
			margin-left: 0;
			margin-right: -45%;
		}
	}
}
@media screen and ( max-width: 768px ) {
	.rella-popup-body {
		width: 100%;
		height: 100%;
	}
	.rella-popup-right .import-option-group {
		margin-left: -15%;
		margin-right: -15%;
	}
	.rella-popup-right .rella-import-demo,  .rella-popup-left .live-demo {
		font-size: 10px;
	}
	.rella-popup-right p {
		margin-left: 0;
		margin-right: 0;
	}
}
