@-webkit-keyframes linethrough {
	0% {
		-webkit-transform: scaleX(0) skewX(-35deg);
		transform: scaleX(0) skewX(-35deg);
		-webkit-transform-origin: left center;
		transform-origin: left center;
	}
	40% {
		-webkit-transform-origin: left center;
		transform-origin: left center;
		-webkit-transform: scaleX(1) skewX(-35deg);
		transform: scaleX(1) skewX(-35deg);
	}
	60% {
		-webkit-transform: scaleX(1) skewX(-35deg);
		transform: scaleX(1) skewX(-35deg);
		-webkit-transform-origin: right center;
		transform-origin: right center;
	}
	100% {
		-webkit-transform-origin: right center;
		transform-origin: right center;
		-webkit-transform: scaleX(0) skewX(-35deg);
		transform: scaleX(0) skewX(-35deg);
	}
}

@keyframes linethrough {
	0% {
		-webkit-transform: scaleX(0) skewX(-35deg);
		transform: scaleX(0) skewX(-35deg);
		-webkit-transform-origin: left center;
		transform-origin: left center;
	}
	40% {
		-webkit-transform-origin: left center;
		transform-origin: left center;
		-webkit-transform: scaleX(1) skewX(-35deg);
		transform: scaleX(1) skewX(-35deg);
	}
	60% {
		-webkit-transform: scaleX(1) skewX(-35deg);
		transform: scaleX(1) skewX(-35deg);
		-webkit-transform-origin: right center;
		transform-origin: right center;
	}
	100% {
		-webkit-transform-origin: right center;
		transform-origin: right center;
		-webkit-transform: scaleX(0) skewX(-35deg);
		transform: scaleX(0) skewX(-35deg);
	}
}

@-webkit-keyframes v-line {
	10% {
		-webkit-transform: scale3d(1, 0, 1);
		transform: scale3d(1, 0, 1);
		-webkit-transform-origin: center top;
		transform-origin: center top;
	}
	50% {
		-webkit-transform-origin: center top;
		transform-origin: center top;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	51% {
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
	}
	100% {
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-transform: scale3d(1, 0, 1);
		transform: scale3d(1, 0, 1);
	}
}

@keyframes v-line {
	10% {
		-webkit-transform: scale3d(1, 0, 1);
		transform: scale3d(1, 0, 1);
		-webkit-transform-origin: center top;
		transform-origin: center top;
	}
	50% {
		-webkit-transform-origin: center top;
		transform-origin: center top;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	51% {
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
	}
	100% {
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-transform: scale3d(1, 0, 1);
		transform: scale3d(1, 0, 1);
	}
}

@-webkit-keyframes slideFromBottom {
	from {
		-webkit-transform: translate3d(0, 105%, 0);
		transform: translate3d(0, 105%, 0);
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideFromBottom {
	from {
		-webkit-transform: translate3d(0, 105%, 0);
		transform: translate3d(0, 105%, 0);
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slideToTop {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(0, -105%, 0);
		transform: translate3d(0, -105%, 0);
	}
}

@keyframes slideToTop {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(0, -105%, 0);
		transform: translate3d(0, -105%, 0);
	}
}

/* Button */
.btn {
	padding: 0;
	font-size: 1em;
	position: relative;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	color: #f42958;
	border-color: #f42958;
	border-radius: 0;
}

.btn span,
.btn strong,
.btn i {
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
	transition: -webkit-transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
	transition: transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
	transition: transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875), -webkit-transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
}

.btn i {
	margin: 0 6px;
	margin-right: 0;
}

.btn .novi-icon {
	min-width: 10px;
	min-height: 10px;
}

.btn span {
	padding: 1.1em 2.1em;
}

.btn span + i {
	margin-right: 0;
	margin-left: 6px;
}

.btn span span {
	padding: 0 !important;
}

.btn.text-uppercase {
	letter-spacing: .1em;
}

.btn.semi-round {
	border-radius: 2px;
}

.btn.round {
	border-radius: 4px;
}

.btn.circle {
	border-radius: 50em;
}

.btn.disabled {
	pointer-events: none;
	cursor: none;
}

.btn.disabled span,
.btn.disabled .fa {
	opacity: 0.5;
}

.btn.trapezius {
	padding-left: 11px;
	padding-right: 11px;
	-webkit-transform: skewX(-30deg);
	transform: skewX(-30deg);
}

.btn.trapezius span,
.btn.trapezius i {
	-webkit-transform: skewX(30deg);
	transform: skewX(30deg);
}

.btn.trapezius:focus, .btn.trapezius:hover {
	-webkit-transform: skewX(-30deg) translateY(-1px);
	transform: skewX(-30deg) translateY(-1px);
}

.btn.border-none {
	border-width: 0;
}

.btn.border-none span {
	margin: 0;
}

.btn.border-thin {
	border-width: 1px;
}

.btn.border-thin span {
	margin: -0.5px;
}

.btn.border-thick {
	border-width: 2px;
}

.btn.border-thick span {
	margin: -1px;
}

.btn.border-thicker {
	border-width: 3px;
}

.btn.border-thicker span {
	margin: -2px;
}

.btn + .btn {
	margin-left: .75em;
}

.btn.wide span {
	padding-right: 2.4em;
	padding-left: 2.4em;
}

.btn:hover, .btn:focus {
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
	border-color: transparent;
	-webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.5);
}

.btn:hover i {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}

.btn:hover.icon-left i {
	-webkit-transform: translateX(2px);
	transform: translateX(2px);
}

.btn:focus, .btn:active {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-box-shadow: 0 4px 15px -6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 15px -6px rgba(0, 0, 0, 0.5);
}

.btn.no-side-margin {
	margin-right: 0;
	margin-left: 0;
}

.icon-left i {
	margin-left: 0;
	margin-right: 6px;
}

/* Sizes*/
.btn-xsm span {
	padding: 0.6em 1em;
}

.btn-xsm.wide span {
	padding-right: 1.7em;
	padding-left: 1.7em;
}

.btn-sm span {
	padding: 0.7em 1.5em;
}

.btn-sm.wide span {
	padding-right: 2.8em;
	padding-left: 2.8em;
}

.btn-lg span {
	padding: 1.3em 3em;
}

.btn-lg.wide span {
	padding-right: 3.6em;
	padding-left: 3.6em;
}

.btn-xlg span {
	padding: 1.5em 3.5em;
}

.btn-xlg.wide span {
	padding-right: 4.5em;
	padding-left: 4.5em;
}

.icon-static-onhover:hover i, .btn-center:hover i {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.btn-linethrough,
.btn-naked {
	border: none;
}

.btn-linethrough span,
.btn-naked span {
	padding: 0;
}

.btn-linethrough:hover, .btn-linethrough:focus,
.btn-naked:hover,
.btn-naked:focus {
	-webkit-transform: translateX(0) !important;
	transform: translateX(0) !important;
	color: inherit;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-linethrough {
	display: inline-block;
}

.btn-linethrough span {
	position: relative;
	padding-left: 16%;
	padding-right: 16%;
}

.btn-linethrough span:after, .btn-linethrough span:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 6px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 0;
	margin-top: -3px;
	background-color: #f42958;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: skewX(-35deg);
	transform: skewX(-35deg);
}

.btn-linethrough span:before {
	opacity: 0.1;
}

.btn-linethrough span:after {
	opacity: 0.2;
	-webkit-transform: scaleX(0) skewX(-35deg);
	transform: scaleX(0) skewX(-35deg);
}

.btn-linethrough:hover span:after {
	-webkit-animation: linethrough 0.5s cubic-bezier(0, 0, 0.2, 1) 1 both;
	animation: linethrough 0.5s cubic-bezier(0, 0, 0.2, 1) 1 both;
}

.btn-underlined {
	border: none;
	background-color: transparent !important;
	position: relative;
}

.btn-underlined:before, .btn-underlined:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #f42958;
	opacity: 0.25;
}

.btn-underlined:after {
	opacity: 1;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right center;
	transform-origin: right center;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-underlined span {
	padding: 0.4em 0;
}

.btn-underlined:focus, .btn-underlined:hover {
	background-color: transparent;
	color: #f42958;
	-webkit-transform: none;
	transform: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-underlined:focus:after, .btn-underlined:hover:after {
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.btn-underlined.border-none:before, .btn-underlined.border-none:after {
	border-width: 0;
}

.btn-underlined.border-thin:before, .btn-underlined.border-thin:after {
	border-width: 1px;
}

.btn-underlined.border-thick:before, .btn-underlined.border-thick:after {
	border-width: 2px;
}

.btn-underlined.border-thicker:before, .btn-underlined.border-thicker:after {
	border-width: 3px;
}

.btn-v-line {
	border: none;
	background-color: transparent !important;
	position: relative;
}

.btn-v-line:before, .btn-v-line:after {
	content: '';
	display: inline-block;
	width: 1px;
	min-height: 100px;
	padding: 0;
	position: absolute;
	left: 50%;
	bottom: 100%;
	background-color: #000;
	opacity: 0.095;
}

.btn-v-line:after {
	opacity: 1;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-animation: v-line 2s cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: v-line 2s cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.btn-v-line span {
	padding: 0;
}

.btn-v-line:focus, .btn-v-line:active, .btn-v-line:hover {
	background-color: transparent;
	-webkit-transform: none;
	transform: none;
	color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-v-line.line-top {
	/* &:after {*/
	/* 	content: none;*/
	/* }*/
}

.btn-v-line.line-top:before, .btn-v-line.line-top:after {
	max-height: 125px;
	margin-bottom: 2.14286em;
}

.btn-v-line.line-bottom:before, .btn-v-line.line-bottom:after {
	bottom: auto;
	top: 100%;
	margin-top: 2.14286em;
}

.btn-v-line.border-none:before, .btn-v-line.border-none:after {
	width: 0;
	margin-left: 0;
}

.btn-v-line.border-thin:before, .btn-v-line.border-thin:after {
	width: 1px;
	margin-left: -0.5px;
}

.btn-v-line.border-thick:before, .btn-v-line.border-thick:after {
	width: 2px;
	margin-left: -1px;
}

.btn-v-line.border-thicker:before, .btn-v-line.border-thicker:after {
	width: 3px;
	margin-left: -1.5px;
}

.btn-linear {
	border-width: 0;
	background: linear-gradient(137deg, #f42a59 0%, #e84227 100%);
	-webkit-box-shadow: 0 17px 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 17px 50px rgba(0, 0, 0, 0.1);
	color: #fff;
}

.btn-linear:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-linear span:last-child {
	position: relative;
	z-index: 2;
}

.btn-linear.semi-round:before {
	border-radius: 2px;
}

.btn-linear.round:before {
	border-radius: 4px;
}

.btn-linear.circle:before {
	border-radius: 50em;
}

.btn-linear:hover {
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-linear:hover:before {
	opacity: 1;
}

.btn-linear.btn-block {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-linear.btn-block:hover {
	-webkit-transform: none;
	transform: none;
}

.btn-linear.no-shadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-boxed {
	font-size: 17px;
	font-weight: 700;
	line-height: 1.76470588em;
	padding: 2.8em .65% 4.8em;
	letter-spacing: .1em;
	text-transform: uppercase;
	position: relative;
	color: #fff;
	border: none;
	background-color: #f42958;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.btn-boxed span:first-child {
	padding: 0 !important;
	position: static !important;
}

.btn-boxed span:first-child:before, .btn-boxed span:first-child:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #f20c42;
}

.btn-boxed span:first-child:before {
	width: 100%;
	height: 10px;
	top: -10px;
	left: 6px;
	-webkit-transform: skewX(-50deg);
	transform: skewX(-50deg);
}

.btn-boxed span:first-child:after {
	width: 12px;
	height: 100%;
	top: -5px;
	right: -12px;
	-webkit-transform: skewY(-39deg);
	transform: skewY(-39deg);
}

.btn-boxed span:last-child:after {
	position: absolute;
	top: -10px;
	left: 16px;
	right: 0;
	display: inline-block;
	height: 10px;
	content: '';
	background-color: #f20c42;
}

.btn-boxed span:last-child {
	width: 60%;
	padding: 0;
	position: relative;
	white-space: normal;
}

.btn-boxed span:last-child:after {
	top: auto;
	bottom: -1.5em;
	left: 0;
	right: auto;
	width: 100%;
	height: 5px;
	-webkit-transform: skewX(-35deg);
	transform: skewX(-35deg);
	background-color: rgba(255, 255, 255, 0.35);
}

.btn-boxed:hover {
	color: #fff;
	-webkit-transform: none;
	transform: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	/* background-color: lighten($color-primary, 3%);*/
}

.btn-default {
	background-color: transparent;
}

.btn-default:hover {
	color: #fff;
	background-color: #f42958;
}

.btn-solid {
	background: #f42958;
	color: #fff;
}

.btn-solid:hover {
	color: #fff;
}

.btn-block {
	white-space: normal;
}

.btn-block:hover {
	-webkit-transform: none;
	transform: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-hover-no-effect:hover, .btn-center:hover, .btn-hover-no-effect:focus, .btn-center:focus {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-app {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 1.53846em 3.84615em 1.53846em 3.07692em;
	border-width: 2px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 13px;
	text-align: left;
}

.btn-app > i {
	margin-right: 20px;
	font-size: 3em;
	line-height: 1em;
	text-align: center;
}

.btn-app span {
	padding: 0;
	font-size: 1.07692em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.btn-app span + i {
	margin-right: 0;
	margin-left: 20px;
}

.btn-app small {
	opacity: 0.7;
	font-size: 1.07143em;
	display: block;
	text-transform: none;
	letter-spacing: 0;
}

.btn-app.text-lowercase small,
.btn-app.text-lowercase span {
	text-transform: lowercase;
	letter-spacing: 0;
}

.btn-app.text-capitalize small,
.btn-app.text-capitalize span {
	text-transform: capitalize;
	letter-spacing: 0;
}

.btn-center {
	border: 0;
	/* padding: 1.8em 1.5em;*/
}

.btn-center span {
	/* padding: 1.2em 0 0;*/
}

.btn-center .icon-container {
	display: block;
	padding: 1.5em 0 0;
}

.btn-center .icon-container i {
	margin-left: 0;
	font-size: 4em;
	line-height: 1em;
}

.btn-center:hover .icon-container i {
	-webkit-transform: none !important;
	transform: none !important;
}

.btn-social-alt {
	width: 100%;
	padding: 1.28571em 30px;
	font-size: 0.92857em;
	line-height: 1.5em;
	font-weight: 700;
	text-align: left;
	color: #000;
}

.btn-social-alt i {
	position: relative;
	top: -8px;
	margin-right: 13px;
	margin-left: 0;
	font-size: 1.78571em;
}

.btn-social-alt span {
	padding: 0;
}

.btn-social-alt span span,
.btn-social-alt span strong {
	display: block;
}

.btn-social-alt strong {
	font-size: 0.85714em;
	color: #cacaca;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-social-alt + .btn-social-alt {
	margin-left: 0;
	border-top: none;
}

.btn-social-alt:hover {
	-webkit-box-shadow: 0 3px 40px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 40px -1px rgba(0, 0, 0, 0.1);
	-webkit-transform: none;
	transform: none;
}

.btn-social-alt:hover i {
	-webkit-transform: none;
	transform: none;
}

.lightbox-play-button {
	display: inline-block;
	padding: 0 !important;
	position: relative;
	text-align: center;
	background-color: transparent !important;
	background: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.lightbox-play-button span {
	display: block;
	padding: 0 !important;
}

.lightbox-play-button > span {
	margin-top: 1.07143em;
}

.lightbox-play-button > i {
	display: block;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	position: relative;
	border-radius: 50em;
	background: #fff;
	font-size: 22px;
	text-align: center;
	font-style: normal;
	overflow: hidden;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.lightbox-play-button > i:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50em;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.lightbox-play-button > i > span {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: inherit;
	line-height: 1.1em;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.lightbox-play-button > i .btn-text {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}

.lightbox-play-button > i .btn-text span {
	-webkit-transform: translate3d(0, 105%, 0);
	transform: translate3d(0, 105%, 0);
	-webkit-animation: slideToTop 0.3s cubic-bezier(0.3, 0, 0.19, 1) both;
	animation: slideToTop 0.3s cubic-bezier(0.3, 0, 0.19, 1) both;
}

.lightbox-play-button > i .btn-text + .btn-icon {
	text-indent: 2px;
}

.lightbox-play-button > i .btn-text + .btn-icon i {
	-webkit-animation: slideFromBottom 0.4s 0.15s cubic-bezier(0.15, 0.75, 0.19, 1) both;
	animation: slideFromBottom 0.4s 0.15s cubic-bezier(0.15, 0.75, 0.19, 1) both;
}

.lightbox-play-button.btn-sm > i {
	height: 60px;
	width: 60px;
	font-size: 16px;
}

.lightbox-play-button.btn-sm .btn-text {
	font-size: 12px;
}

.lightbox-play-button.btn-md > i {
	height: 90px;
	width: 90px;
	font-size: 20px;
}

.lightbox-play-button.btn-md .btn-text {
	font-size: 14px;
}

.lightbox-play-button:hover {
	background-color: transparent !important;
	background: none !important;
}

.lightbox-play-button:hover > i:before {
	opacity: 1;
}

.lightbox-play-button:hover > i .btn-text span {
	-webkit-animation: slideFromBottom 0.4s 0.15s cubic-bezier(0.15, 0.75, 0.19, 1) both;
	animation: slideFromBottom 0.4s 0.15s cubic-bezier(0.15, 0.75, 0.19, 1) both;
}

.lightbox-play-button:hover > i .btn-text + .btn-icon i {
	-webkit-animation: slideToTop 0.3s cubic-bezier(0.3, 0, 0.19, 1) both;
	animation: slideToTop 0.3s cubic-bezier(0.3, 0, 0.19, 1) both;
}

.btn-hover-curtain {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 800px;
	perspective: 800px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-hover-curtain .btn-curtain {
	display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	z-index: -1;
	border-radius: inherit;
	background-color: #f42958;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn-hover-curtain.circle {
	overflow: hidden;
}

.btn-hover-curtain.hc-default.curtain-top .btn-curtain {
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

.btn-hover-curtain.hc-default.curtain-right .btn-curtain {
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.btn-hover-curtain.hc-default.curtain-bottom .btn-curtain {
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: center top;
	transform-origin: center top;
}

.btn-hover-curtain.hc-default.curtain-left .btn-curtain {
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: right center;
	transform-origin: right center;
}

.btn-hover-curtain.hc-rotate {
	overflow: hidden;
}

.btn-hover-curtain.hc-rotate .btn-curtain {
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn-hover-curtain.hc-rotate.curtain-right .btn-curtain {
	-webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	-webkit-transform-origin: 100% 2%;
	transform-origin: 100% 2%;
}

.btn-hover-curtain.hc-rotate.curtain-left .btn-curtain {
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -100%, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -100%, 0);
	-webkit-transform-origin: 0 2%;
	transform-origin: 0 2%;
}

.btn-hover-curtain:focus, .btn-hover-curtain:hover {
	-webkit-transform: none;
	transform: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-hover-curtain:focus.hc-default.curtain-top .btn-curtain, .btn-hover-curtain:hover.hc-default.curtain-top .btn-curtain {
	-webkit-transform-origin: center top;
	transform-origin: center top;
}

.btn-hover-curtain:focus.hc-default.curtain-right .btn-curtain, .btn-hover-curtain:hover.hc-default.curtain-right .btn-curtain {
	-webkit-transform-origin: right center;
	transform-origin: right center;
}

.btn-hover-curtain:focus.hc-default.curtain-bottom .btn-curtain, .btn-hover-curtain:hover.hc-default.curtain-bottom .btn-curtain {
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

.btn-hover-curtain:focus.hc-default.curtain-left .btn-curtain, .btn-hover-curtain:hover.hc-default.curtain-left .btn-curtain {
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.btn-hover-curtain:focus.hc-default .btn-curtain, .btn-hover-curtain:hover.hc-default .btn-curtain {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.btn-hover-curtain:focus.hc-rotate .btn-curtain, .btn-hover-curtain:hover.hc-rotate .btn-curtain {
	-webkit-transform: rotate3d(0, 0, 0, 0deg);
	transform: rotate3d(0, 0, 0, 0deg);
}

.woocommerce ul.products li.product a.button.btn,
.woocommerce ul.products li.product button.button.btn,
.woocommerce a.button.btn,
.woocommerce button.button.btn {
	padding: 0;
}

.woocommerce input.button,
.woocommerce input.btn,
.woocommerce input.button.btn {
	padding: 1em 2em;
}

.woocommerce input[type=submit].button:disabled,
.woocommerce input[type=submit].button:disabled[disabled] {
	padding: 1em 2em;
}

.woocommerce ul.products li.product a.button,
.woocommerce ul.products li.product button.button,
.woocommerce a.button,
.woocommerce input.button,
.woocommerce button.button {
	border: 1px solid #000;
	background-color: transparent;
	border-radius: 0;
	position: relative;
	font-size: 1em;
	color: #000;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	/* Sizes*/
}

.woocommerce ul.products li.product a.button span,
.woocommerce ul.products li.product a.button strong,
.woocommerce ul.products li.product a.button i,
.woocommerce ul.products li.product button.button span,
.woocommerce ul.products li.product button.button strong,
.woocommerce ul.products li.product button.button i,
.woocommerce a.button span,
.woocommerce a.button strong,
.woocommerce a.button i,
.woocommerce input.button span,
.woocommerce input.button strong,
.woocommerce input.button i,
.woocommerce button.button span,
.woocommerce button.button strong,
.woocommerce button.button i {
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
	transition: -webkit-transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
	transition: transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
	transition: transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875), -webkit-transform 0.3s cubic-bezier(0.22, 0.665, 0.34, 0.875);
}

.woocommerce ul.products li.product a.button i,
.woocommerce ul.products li.product button.button i,
.woocommerce a.button i,
.woocommerce input.button i,
.woocommerce button.button i {
	margin: 0 6px;
	margin-right: 0;
}

.woocommerce ul.products li.product a.button span,
.woocommerce ul.products li.product button.button span,
.woocommerce a.button span,
.woocommerce input.button span,
.woocommerce button.button span {
	padding: 1em 2em;
}

.woocommerce ul.products li.product a.button span + i,
.woocommerce ul.products li.product button.button span + i,
.woocommerce a.button span + i,
.woocommerce input.button span + i,
.woocommerce button.button span + i {
	margin-right: 0;
	margin-left: 6px;
}

.woocommerce ul.products li.product a.button .btn-xsm span,
.woocommerce ul.products li.product button.button .btn-xsm span,
.woocommerce a.button .btn-xsm span,
.woocommerce input.button .btn-xsm span,
.woocommerce button.button .btn-xsm span {
	padding: 0.6em 1em;
}

.woocommerce ul.products li.product a.button .btn-xsm.wide span,
.woocommerce ul.products li.product button.button .btn-xsm.wide span,
.woocommerce a.button .btn-xsm.wide span,
.woocommerce input.button .btn-xsm.wide span,
.woocommerce button.button .btn-xsm.wide span {
	padding-right: 1.7em;
	padding-left: 1.7em;
}

.woocommerce ul.products li.product a.button .btn-sm span,
.woocommerce ul.products li.product button.button .btn-sm span,
.woocommerce a.button .btn-sm span,
.woocommerce input.button .btn-sm span,
.woocommerce button.button .btn-sm span {
	padding: 0.7em 1.5em;
}

.woocommerce ul.products li.product a.button .btn-sm.wide span,
.woocommerce ul.products li.product button.button .btn-sm.wide span,
.woocommerce a.button .btn-sm.wide span,
.woocommerce input.button .btn-sm.wide span,
.woocommerce button.button .btn-sm.wide span {
	padding-right: 2.8em;
	padding-left: 2.8em;
}

.woocommerce ul.products li.product a.button .btn-lg span,
.woocommerce ul.products li.product button.button .btn-lg span,
.woocommerce a.button .btn-lg span,
.woocommerce input.button .btn-lg span,
.woocommerce button.button .btn-lg span {
	padding: 1.3em 3em;
}

.woocommerce ul.products li.product a.button .btn-lg.wide span,
.woocommerce ul.products li.product button.button .btn-lg.wide span,
.woocommerce a.button .btn-lg.wide span,
.woocommerce input.button .btn-lg.wide span,
.woocommerce button.button .btn-lg.wide span {
	padding-right: 3.6em;
	padding-left: 3.6em;
}

.woocommerce ul.products li.product a.button .btn-xlg span,
.woocommerce ul.products li.product button.button .btn-xlg span,
.woocommerce a.button .btn-xlg span,
.woocommerce input.button .btn-xlg span,
.woocommerce button.button .btn-xlg span {
	padding: 1.5em 3.5em;
}

.woocommerce ul.products li.product a.button .btn-xlg.wide span,
.woocommerce ul.products li.product button.button .btn-xlg.wide span,
.woocommerce a.button .btn-xlg.wide span,
.woocommerce input.button .btn-xlg.wide span,
.woocommerce button.button .btn-xlg.wide span {
	padding-right: 4.5em;
	padding-left: 4.5em;
}

/* AJAX Buttons */
.page-ajax {
	text-align: center;
}

.page-links,
.ajax-load-more:not(.btn),
.pagination {
	margin: 0 0 20px;
}

.page-links > li > span,
.page-links > li > a,
.page-links > span,
.page-links > a,
.ajax-load-more:not(.btn) > li > span,
.ajax-load-more:not(.btn) > li > a,
.ajax-load-more:not(.btn) > span,
.ajax-load-more:not(.btn) > a,
.pagination > li > span,
.pagination > li > a,
.pagination > span,
.pagination > a {
	float: none;
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 0;
	margin: 0 7px;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	font-size: 0.85714em;
	font-weight: 700;
	line-height: 45px;
	text-align: center;
	color: #000;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.page-links > li > span.current, .page-links > li > span:hover,
.page-links > li > a.current,
.page-links > li > a:hover,
.page-links > span.current,
.page-links > span:hover,
.page-links > a.current,
.page-links > a:hover,
.ajax-load-more:not(.btn) > li > span.current,
.ajax-load-more:not(.btn) > li > span:hover,
.ajax-load-more:not(.btn) > li > a.current,
.ajax-load-more:not(.btn) > li > a:hover,
.ajax-load-more:not(.btn) > span.current,
.ajax-load-more:not(.btn) > span:hover,
.ajax-load-more:not(.btn) > a.current,
.ajax-load-more:not(.btn) > a:hover,
.pagination > li > span.current,
.pagination > li > span:hover,
.pagination > li > a.current,
.pagination > li > a:hover,
.pagination > span.current,
.pagination > span:hover,
.pagination > a.current,
.pagination > a:hover {
	border-color: #f42958;
	color: #f42958;
	background-color: transparent;
}

.page-links > .page-links-title,
.ajax-load-more:not(.btn) > .page-links-title,
.pagination > .page-links-title {
	width: auto;
	border: none;
	margin-left: 0;
	color: #000;
}

.page-links > .page-links-title:hover,
.ajax-load-more:not(.btn) > .page-links-title:hover,
.pagination > .page-links-title:hover {
	color: #000;
}

.page-links > li,
.ajax-load-more:not(.btn) > li,
.pagination > li {
	display: inline-block;
}

.page-links > li:first-child span, .page-links > li:first-child a, .page-links > li:last-child span, .page-links > li:last-child a,
.ajax-load-more:not(.btn) > li:first-child span,
.ajax-load-more:not(.btn) > li:first-child a,
.ajax-load-more:not(.btn) > li:last-child span,
.ajax-load-more:not(.btn) > li:last-child a,
.pagination > li:first-child span,
.pagination > li:first-child a,
.pagination > li:last-child span,
.pagination > li:last-child a {
	border-radius: 2px;
}

.page-links > span {
	border-color: #f42958;
	color: #f42958;
}

.btn.ajax-load-more {
	border-color: #ebebeb;
	font-size: 0.92857em;
	letter-spacing: 0.1em;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	overflow: hidden;
}

.btn.ajax-load-more i {
	font-size: 1.1em;
}

.btn.ajax-load-more span {
	-webkit-transition: opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn.ajax-load-more .loading-icon {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	font-size: 2em;
	-webkit-transform: translateX(-50%) translateY(-150%);
	transform: translateX(-50%) translateY(-150%);
	opacity: 0;
	-webkit-transition: opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), -webkit-transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
	transition: opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), -webkit-transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
	transition: transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
	transition: transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), -webkit-transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
}

.btn.ajax-load-more .loading-icon:before {
	display: inline-block;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-animation: loadMoreRotate 1.5s linear infinite both;
	animation: loadMoreRotate 1.5s linear infinite both;
}

.btn.ajax-load-more.btn-linear {
	background: -webkit-gradient(linear, left top, right top, from(#AB00F5), to(#FF1300));
	background: linear-gradient(to right, #AB00F5 0%, #FF1300 100%);
	font-weight: 500;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
}

.btn.ajax-load-more.btn-solid {
	color: #fff;
}

.btn.ajax-load-more.loading {
	pointer-events: none;
}

.btn.ajax-load-more.loading span {
	opacity: 0;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	-webkit-transition: opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), -webkit-transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
	transition: opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), -webkit-transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
	transition: transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
	transition: transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), opacity 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995), -webkit-transform 0.5s cubic-bezier(0.76, 0.025, 0.23, 0.995);
}

.btn.ajax-load-more.loading .loading-icon {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn.ajax-load-more:focus, .btn.ajax-load-more:hover {
	border-color: #f42958;
	background-color: transparent;
	color: #f42958;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.btn.ajax-load-more:focus span i, .btn.ajax-load-more:hover span i {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}

.btn.ajax-load-more:focus.btn-linear, .btn.ajax-load-more:hover.btn-linear {
	color: #fff;
}

.btn.ajax-load-more:focus.btn-solid, .btn.ajax-load-more:hover.btn-solid {
	color: #f42958;
}

.btn.ajax-load-more-block,
.btn.ajax-load-more-huge {
	display: block;
	width: 100%;
}

.no-image .btn.ajax-load-more-block,
.masonry-creative .btn.ajax-load-more-block, .no-image
.btn.ajax-load-more-huge,
.masonry-creative
.btn.ajax-load-more-huge {
	width: 60%;
	left: 20%;
}

.btn.ajax-load-more-alt {
	border-color: #f42958;
	font-size: 0.85714em;
	font-weight: 700;
	color: #f42958;
}

.btn.ajax-load-more-huge {
	width: auto;
	margin-left: -15px;
	margin-right: -15px;
	padding: 1.3em 0;
	margin-bottom: 0;
	font-size: 5.35714em;
	text-transform: none;
	letter-spacing: -0.025em;
}

.btn.ajax-load-more-huge i {
	margin-left: 0.5em;
	font-size: 1em;
}

.btn.ajax-load-more-huge .loading-icon {
	-webkit-transform: translateX(-50%) translateY(-100%);
	transform: translateX(-50%) translateY(-100%);
}

.fix-v-align > span {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media all and (max-width: 768px) {
	.btn {
		white-space: normal;
	}
	/* Sizes*/
	.btn-xsm span {
		padding: 0.5em 0.8em;
	}
	.btn-xsm.wide span {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}
	.btn-sm span {
		padding: 0.6em 1.2em;
	}
	.btn-sm.wide span {
		padding-right: 2.5em;
		padding-left: 2.5em;
	}
	.btn-md span {
		padding: 1em 2em;
	}
	.btn-lg span {
		padding: 1.15em 2.5em;
	}
	.btn-lg.wide span {
		padding-right: 3.3em;
		padding-left: 3.3em;
	}
	.btn-xlg span {
		padding: 1.3em 3.1em;
	}
	.btn-xlg.wide span {
		padding-right: 4.1em;
		padding-left: 4.1em;
	}
}
