.mfp-inline-holder {
		position: relative;
		margin: auto;
}

.rella-modal {
		background-color: #fff;
		padding-top: 8.57143em;
}

.rella-modal .mfp-close {
		display: block;
		width: 100%;
		height: 2.14286em;
		padding: 0 1em;
		font-size: 2em;
		text-align: right;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rella-modal .close-btn-container {
		padding: 1em;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 2.14286em;
}

.rella-modal .close-btn-container:before, .rella-modal .close-btn-container:after {
		content: "";
		display: table;
}

.rella-modal .close-btn-container:after {
		clear: both;
}

.rella-modal .close-btn-container .btn {
		float: right;
}

@media (min-width: 768px) {
		.mfp-inline-holder {
				width: 780px;
		}
}

@media (min-width: 992px) {
		.mfp-inline-holder {
				width: 1000px;
		}
}

@media (min-width: 1200px) {
		.mfp-inline-holder {
				width: 1200px;
		}
}
