.accordion-item {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.accordion-toggle {
	font-size: 1em;
	font-weight: 400;
	position: relative;
	margin: 0;
	text-transform: uppercase;
}

.accordion-toggle a {
	display: block;
	padding: 18px 20px 18px 55px;
	color: #555;
}

.accordion-expander {
	font-size: 0.75em;
	font-weight: normal;
	position: absolute;
	top: 50%;
	left: 10px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.accordion-expander :nth-child(2) {
	display: none;
}

.accordion-item.active .accordion-expander :nth-child(1) {
	display: none;
}

.accordion-item.active .accordion-expander :nth-child(2) {
	display: inline-block;
}

.accordion-body {
	overflow: hidden;
	padding: 11px 20px 22px;
}

.accordion-body .wpb_content_element:only-child {
	margin-bottom: 0;
}

.accordion-right .accordion-toggle a {
	padding-right: 45px;
	padding-left: 20px;
}

.accordion-right .accordion-expander {
	right: 10px !important;
	left: auto !important;
}

.accordion.no-expander .accordion-expander {
	display: none;
}

.accordion.no-expander .accordion-toggle a {
	padding-left: 20px;
}

.accordion.no-expander .accordion-body {
	padding-right: 10px;
	padding-left: 10px;
}

.accordion.short .accordion-item {
	margin-bottom: 0.78571em;
}

.accordion.shorter .accordion-item {
	margin-bottom: 0.57143em;
}

.accordion-active-padding .accordion-item {
	margin-bottom: 20px;
}

.accordion-active-padding .accordion-item .accordion-toggle {
	margin-right: 5px;
	margin-left: 5px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.accordion-active-padding .accordion-item .accordion-body {
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 0;
	padding-bottom: 30px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.accordion-active-padding .accordion-item.active .accordion-toggle {
	margin-top: 12px;
	margin-right: 10px;
	margin-left: 10px;
}

/* Boxed
========================*/
.accordion-boxed .accordion-item, .accordion-boxed-minimal .accordion-item {
	border-color: #d2d2d2;
	border-radius: 3px;
	background: #fff;
}

.accordion-boxed .accordion-expander, .accordion-boxed-minimal .accordion-expander {
	line-height: 30px;
	color: white;
	border: 1px solid transparent;
	border-radius: 50em;
	background-color: #f42958;
	height: 30px;
	width: 30px;
}

.accordion-boxed .accordion-expander i, .accordion-boxed-minimal .accordion-expander i {
	line-height: 30px;
}

.accordion-boxed .active .accordion-expander, .accordion-boxed-minimal .active .accordion-expander {
	color: #f42958;
	border-color: #f42958;
	background-color: white;
}

.accordion-highlighted .accordion-item {
	border-color: #ededed;
}

.accordion-highlighted .accordion-item.active .accordion-expander {
	color: #333;
}

.accordion-highlighted .accordion-toggle a {
	color: #000;
	padding-top: 0.52941em;
	padding-bottom: 0.52941em;
}

.accordion-highlighted h4 {
	font-size: 1.13333em;
	line-height: 1.76471em;
	color: #000;
	text-transform: none;
}

.accordion-highlighted .accordion-expander {
	background: transparent;
	border: 0;
}

.accordion-highlighted .accordion-body {
	padding-top: 0.35714em;
}

.accordion-highlighted .active.accordion-item {
	border-width: 2px;
	border-color: #f42958;
}

/* Square
========================*/
.accordion-square .accordion-toggle {
	font-size: 16.1px;
	border-radius: 3px;
	background: #fff;
}

.accordion-square .accordion-expander {
	height: 18px;
	width: 18px;
	line-height: 19px;
	color: #fff;
	border-radius: 2px;
	background-color: #f42958;
}

.accordion-square .accordion-expander i {
	line-height: 18px;
}

.accordion-square .accordion-body {
	margin-top: 6px;
	padding: 1.57143em;
	background-color: #fff;
}

.accordion-square .active .accordion-expander {
	color: #f42958;
	background-color: #fff;
}

.accordion-square .active .accordion-toggle {
	background-color: #f42958;
}

.accordion-square .active .accordion-toggle a {
	color: #fff;
}

.accordion-red .accordion-item {
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.accordion-red .accordion-expander {
	background-color: #EB3659;
}

.accordion-red .accordion-body {
	margin-top: 0;
}

.accordion-red .accordion-toggle {
	border-radius: 3px 3px 0 0;
	text-transform: none;
	line-height: 1em;
	font-size: 1.13333em;
}

.accordion-red .active .accordion-expander {
	color: #2331f5;
}

.accordion-red .active .accordion-toggle {
	background-color: #EB3659;
}

/* Square HFiller
========================*/
.accordion-square.with-filler .accordion-toggle {
	font-size: 14px;
	border: 1px solid #d2d2d2;
}

.accordion-square.with-filler .accordion-body {
	margin-top: 0;
	border: 1px solid #d2d2d2;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}

.accordion-square.with-filler .active .accordion-toggle {
	border-color: #f42958;
	border-radius: 3px 3px 0 0;
}

/* Square Inverted
========================*/
.accordion-square-inverted .accordion-toggle, .accordion-facebook .accordion-toggle, .accordion-facebook-alt .accordion-toggle {
	border-radius: 3px 3px 0 0;
	background: #eff4f7;
}

.accordion-square-inverted .accordion-expander, .accordion-facebook .accordion-expander, .accordion-facebook-alt .accordion-expander {
	line-height: 20px;
	/* top: 16.5px;*/
	left: 15px;
	color: #e4442a;
	height: 18px;
	width: 18px;
}

.accordion-square-inverted .accordion-body, .accordion-facebook .accordion-body, .accordion-facebook-alt .accordion-body {
	background-color: #eff4f7;
}

.accordion-square-inverted .active .accordion-expander, .accordion-facebook .active .accordion-expander, .accordion-facebook-alt .active .accordion-expander {
	color: #fff;
}

.accordion-square-inverted .active .accordion-toggle, .accordion-facebook .active .accordion-toggle, .accordion-facebook-alt .active .accordion-toggle {
	background-color: #e4442a;
}

.accordion-square-inverted .active .accordion-toggle a, .accordion-facebook .active .accordion-toggle a, .accordion-facebook-alt .active .accordion-toggle a {
	color: #fff;
}

/* Facebook
========================*/
.accordion-facebook .accordion-item, .accordion-facebook-alt .accordion-item {
	border-radius: 0;
}

.accordion-facebook .accordion-toggle, .accordion-facebook-alt .accordion-toggle {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	background: #fff;
	font-size: 1.4em;
	line-height: 1.5;
	text-transform: none;
}

.accordion-facebook .accordion-toggle a, .accordion-facebook-alt .accordion-toggle a {
	color: #000;
	padding: 0.41em 2.4em 0.41em 1.2em;
}

.accordion-facebook .accordion-expander, .accordion-facebook-alt .accordion-expander {
	/* top: 50%;*/
	/* transform: translateY(-50%);*/
	color: #1271b3;
	font-size: 15px;
	right: 25px !important;
}

.accordion-facebook .accordion-body, .accordion-facebook-alt .accordion-body {
	margin-top: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 0;
	background: #fff;
}

.accordion-facebook .active .accordion-toggle, .accordion-facebook-alt .active .accordion-toggle {
	border-color: transparent;
	background-color: #1271b3;
}

/* Facebook Alt
========================*/
.accordion-facebook-alt .accordion-toggle {
	font-size: 1.4em;
}

.accordion-facebook-alt .active .accordion-toggle {
	background: linear-gradient(120deg, #14ade4 0%, #1d99d7 100%);
}

.accordion-facebook-alt .accordion-expander {
	color: #30c2f9;
}

.accordion-facebook-alt .active .accordion-expander {
	color: #fff;
}

/* Square HFiller Inverted
========================*/
.accordion-square-hfiller-inverted .accordion-toggle a {
	padding-left: 70px;
	color: #fff;
	border-radius: 3px;
	background: #f42958;
}

.accordion-square-hfiller-inverted .accordion-expander {
	width: 60px;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0 !important;
	color: #fff;
	border-radius: 3px 0 0 3px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transform: none;
	transform: none;
}

.accordion-square-hfiller-inverted .accordion-expander i {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.accordion-square-hfiller-inverted.accordion-right .accordion-toggle a {
	padding-left: 20px;
	padding-right: 70px;
}

.accordion-square-hfiller-inverted.accordion-right .accordion-expander {
	right: 0 !important;
	left: auto !important;
	border-radius: 0 3px 3px 0;
}

.accordion-square-hfiller-inverted .active .accordion-toggle a {
	background: #3b3d3c;
}

/* Square Expanded
========================*/
.accordion-square-expanded .accordion-toggle a {
	margin-left: 50px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	padding: 15.4px 15px;
}

.accordion-square-expanded .accordion-expander {
	font-size: 17px;
	top: 0;
	bottom: 0;
	left: 0;
	width: 44px;
	color: #f42958;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	-webkit-transform: none;
	transform: none;
}

.accordion-square-expanded .accordion-expander i {
	position: relative;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.accordion-square-expanded.accordion-right .accordion-toggle a {
	margin-right: 50px;
	margin-left: 0;
}

.accordion-square-expanded.accordion-right .accordion-expander {
	right: 0 !important;
	left: auto;
}

.accordion-square-expanded .accordion-body {
	margin-top: 5.5px;
	margin-bottom: 0;
	padding: 22px;
	border: 1px solid #d2d2d2;
}

.accordion-square-expanded .active .accordion-expander {
	color: #fff;
	border-color: #f42958;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #f42958;
}

.accordion-square-expanded .active .accordion-toggle a {
	color: #fff;
	border-color: #f42958;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #f42958;
}

.accordion-square-expanded .active .accordion-body {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/* Big Square
========================*/
.accordion-big-square .panel {
	margin-bottom: 1.75em;
}

.accordion-big-square .accordion-toggle {
	font-weight: 600;
	font-size: 1em;
}

.accordion-big-square .accordion-toggle a {
	padding-top: 1.11111em;
	padding-bottom: 1.11111em;
	font-size: 1.2em;
	line-height: 1.666666667em;
	letter-spacing: 0;
	text-transform: none;
	padding-left: 82.5px;
	border: 1px solid rgba(200, 200, 200, 0.35);
}

.accordion-big-square .accordion-expander {
	line-height: 4.6666666673em;
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 1em;
	width: 63px;
	margin: 1px;
	background: #d3d3d3;
	color: #fff;
	-webkit-transform: none;
	transform: none;
}

.accordion-big-square .accordion-expander i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.accordion-big-square .accordion-body {
	margin-top: 22px;
	padding: 0;
}

.accordion-big-square.accordion-right .accordion-toggle a {
	padding-right: 82.5px;
	padding-left: 30px;
}

.accordion-big-square.accordion-right .accordion-expander {
	right: 0 !important;
	left: auto;
}

/* Minimal
========================*/
.accordion-boxed-minimal .accordion-toggle a {
	font-weight: 600;
	color: #e4442a;
}

.accordion-boxed-minimal .accordion-expander {
	color: #e4442a;
	border-color: #f3f3f7;
	border-radius: 2px;
	background-color: #f3f3f7;
}

.accordion-university .accordion-toggle {
	text-transform: none;
	font-size: 1.066em;
	font-weight: 600;
	border-bottom: 1px solid #d2d2d2;
	color: #f42958;
}

.accordion-university .accordion-toggle a {
	padding: 0.667em 20px 0.667em 2px;
	color: #000;
}

.accordion-university .accordion-expander {
	font-size: 14px;
}

.accordion-university .active .accordion-toggle {
	border-width: 2px;
	border-color: #f42958;
}

.accordion-university .active .accordion-toggle a {
	color: #f42958;
}

.accordion-university .accordion-body {
	padding: 22px 0 0;
}

.accordion-university.accordion-left .accordion-toggle a {
	padding-left: 35px;
}

.accordion-university.accordion-right .accordion-expander {
	left: auto !important;
	right: 10px !important;
}

/* Underline
========================*/
.accordion-underline .accordion-toggle a {
	display: inline-block;
	padding: 0 0 0.1em;
	position: relative;
	font-size: 1.07143em;
	letter-spacing: 0.1em;
	color: #7c7c7c;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.accordion-underline .accordion-toggle a:after, .accordion-underline .accordion-toggle a:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	-webkit-transform-origin: right center;
	transform-origin: right center;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.32, 0.96, 0.4, 0.98);
	transition: -webkit-transform 0.5s cubic-bezier(0.32, 0.96, 0.4, 0.98);
	transition: transform 0.5s cubic-bezier(0.32, 0.96, 0.4, 0.98);
	transition: transform 0.5s cubic-bezier(0.32, 0.96, 0.4, 0.98), -webkit-transform 0.5s cubic-bezier(0.32, 0.96, 0.4, 0.98);
}

.accordion-underline .accordion-toggle a:before {
	background-color: rgba(159, 159, 159, 0.5);
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.accordion-underline .accordion-body {
	padding: 1.5em 0 0;
}

.accordion-underline .accordion-body .wpb_text_column,
.accordion-underline .accordion-body p {
	margin-bottom: 0;
}

.accordion-underline .accordion-item {
	margin-bottom: 1.42857em;
}

.accordion-underline .accordion-item a[aria-expanded="true"],
.accordion-underline .accordion-item.active .accordion-toggle a,
.accordion-underline .accordion-item:hover .accordion-toggle a {
	color: #000;
}

.accordion-underline .accordion-item a[aria-expanded="true"]:before,
.accordion-underline .accordion-item.active .accordion-toggle a:before,
.accordion-underline .accordion-item:hover .accordion-toggle a:before {
	-webkit-transform-origin: right center;
	transform-origin: right center;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.accordion-underline .accordion-item a[aria-expanded="true"]:after,
.accordion-underline .accordion-item.active .accordion-toggle a:after,
.accordion-underline .accordion-item:hover .accordion-toggle a:after {
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.accordion-underline .accordion-expander {
	top: 0;
	-webkit-transform: none;
	transform: none;
}

/* Responsive*/
