/* Map */
.cd-google-map {
	height: 450px;
	position: relative;
}

.cd-google-map .gm-style {
	overflow: visible !important;
}

.cd-google-map .gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div {
	width: 660px !important;
	-webkit-transform: translateY(30px) translateX(10px);
	transform: translateY(30px) translateX(10px);
}

.cd-google-map .gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div > div:first-child {
	display: none !important;
}

.cd-google-map .gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div > div:first-child > div:nth-child(2) {
	display: none !important;
}

.cd-google-map .gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div > div:first-child > div:nth-child(2) + div {
	display: none !important;
}

.cd-google-map .gm-style-iw {
	width: 660px !important;
	padding-bottom: 30px !important;
}

.cd-google-map .gm-style-iw > div {
	overflow: visible !important;
	width: 100% !important;
	max-width: none !important;
	max-height: none !important;
}

.cd-google-map .gm-style-iw + div {
	top: 30px !important;
	right: 10px !important;
	width: 28px !important;
	height: 28px !important;
}

.cd-google-map .gm-style-iw + div:after {
	display: inline-block;
	content: '\e870';
	color: #fff;
	font: normal normal 28px/1 'icomoon';
}

.cd-google-map .gm-style-iw + div img {
	visibility: hidden;
}

.cd-google-map .marker-contents {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.cd-google-map .marker-contents > .container {
	position: static;
	width: 100%;
}

.cd-google-map .marker-contents .contents-inner {
	position: relative;
}

.cd-google-map .marker-contents .details {
	/* float: right; */
	/* width: 50%; */
	padding: 10px 50px 30px;
}

.cd-google-map .marker-contents .details h3 {
	margin-bottom: 25px;
	letter-spacing: 0.05em;
	font-size: 14px;
	font-weight: 700;
}

.cd-google-map .marker-contents .details h3 i {
	margin-right: 12px;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 400;
}

.cd-google-map .marker-contents .details p {
	margin-bottom: 3px;
	font-size: 13px;
	font-weight: 700;
}

.cd-google-map .marker-contents .details p span {
	opacity: 0.7;
	font-weight: 400;
}

.cd-google-map .marker-contents .details .socials {
	margin-top: 33px;
}

.cd-google-map .marker-contents .details .socials a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 8px 8px 0;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50em;
	font-size: 14px;
	line-height: 30px;
}

.cd-google-map .marker-contents .details .socials a:hover {
	color: #fe3366;
	background-color: #fff;
}

.cd-google-map.contents-style2 .gm-style, .cd-google-map.contents-style3 .gm-style,
.cd-google-map.contents-style2 .gm-style .gm-style-iw, .cd-google-map.contents-style3 .gm-style .gm-style-iw {
	font-size: 1em;
}

.cd-google-map.contents-style2 .marker-contents, .cd-google-map.contents-style3 .marker-contents {
	left: 13%;
	top: 50%;
	visibility: visible;
	min-width: 445px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cd-google-map.contents-style2 .contents-inner, .cd-google-map.contents-style3 .contents-inner {
	border-top: none;
	-webkit-box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.08);
	box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.08);
}

.cd-google-map.contents-style2 .contents-inner:before, .cd-google-map.contents-style3 .contents-inner:before {
	display: none;
}

.cd-google-map.contents-style2 .contents-inner .details, .cd-google-map.contents-style3 .contents-inner .details {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	background: #fff;
}

.cd-google-map.contents-style2 .contents-inner .details h3, .cd-google-map.contents-style3 .contents-inner .details h3 {
	margin-bottom: 1.5em;
	letter-spacing: -0.025em;
	color: #000;
	font-size: 2.14286em;
}

.cd-google-map.contents-style2 .contents-inner .details p, .cd-google-map.contents-style3 .contents-inner .details p {
	color: #000;
	font-size: 1em;
	font-weight: 400;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.cd-google-map.contents-style2 .contents-inner .details span, .cd-google-map.contents-style3 .contents-inner .details span {
	opacity: 0.5;
}

.cd-google-map.contents-style2 .contents-inner .details a, .cd-google-map.contents-style3 .contents-inner .details a {
	margin-top: 2em;
	margin-bottom: 2em;
}

.cd-google-map.contents-style2 .gm-style-iw + div, .cd-google-map.contents-style3 .gm-style-iw + div {
	right: 8.33333333% !important;
	width: 35px !important;
	height: 35px !important;
	-webkit-transform: translateX(-25px);
	transform: translateX(-25px);
	text-align: center;
	border-radius: 50em;
	background-color: rgba(0, 0, 0, 0.25);
	line-height: 35px;
}

.cd-google-map.contents-style2 .gm-style-iw + div:after, .cd-google-map.contents-style3 .gm-style-iw + div:after {
	content: '\f00d';
	font-family: 'fontAwesome';
	font-size: 15px;
	line-height: 35px;
}

.cd-google-map.contents-style3 {
	height: 600px;
}

.cd-google-map.contents-style3 .marker-contents {
	left: 50%;
	top: 50%;
	z-index: 10;
	text-transform: uppercase;
	text-align: center;
	visibility: visible;
	max-width: 520px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.cd-google-map.contents-style3 .contents-inner {
	border-top: none;
	-webkit-box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.08);
	box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.08);
}

.cd-google-map.contents-style3 .contents-inner:before {
	display: none;
}

.cd-google-map.contents-style3 .contents-inner .details {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	background: #fff;
}

.cd-google-map.contents-style3 .contents-inner .details h3 {
	margin-top: 0.88em;
	margin-bottom: 2em;
	color: #000;
	font-size: 1.66667em;
	letter-spacing: 0.02em;
}

.cd-google-map.contents-style3 .contents-inner .details p {
	color: #000;
	text-transform: none;
	margin-top: 0;
	margin-bottom: 0;
}

.cd-google-map.contents-style3 .contents-inner .details strong {
	font-weight: inherit;
	color: #bdbdbd;
	opacity: 1;
}

.cd-google-map.contents-style3 .contents-inner .details a {
	font-weight: 400;
	font-size: 0.86667em;
	line-height: 2.5em;
	border-bottom-color: #b23421;
	font-family: "Lato", sans-serif;
	margin-top: 2.92308em;
	margin-bottom: 1.69231em;
}

.cd-google-map.contents-style4 {
	/* @extend .contents-style2;*/
}

.cd-google-map.contents-style4 .gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div,
.cd-google-map.contents-style4 .gm-style-iw {
	width: 280px !important;
}

.cd-google-map.contents-style4 .google-container .marker-contents {
	left: 50%;
	top: 15px;
	min-width: 280px;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.cd-google-map.contents-style4 .contents-inner .details {
	overflow: hidden;
	background: #D72727;
	padding: 0;
	display: block;
	border-radius: 3px;
}

.cd-google-map.contents-style4 .contents-inner .details:before, .cd-google-map.contents-style4 .contents-inner .details:after {
	content: "";
	display: table;
}

.cd-google-map.contents-style4 .contents-inner .details:after {
	clear: both;
}

.cd-google-map.contents-style4 .contents-inner .details::after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: 50%;
	bottom: -10px;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	border-top: 10px solid #D72727;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.cd-google-map.contents-style4 .contents-inner .details p {
	padding: 20px;
	color: #fff;
	text-align: left;
	font-size: 15px;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cd-google-map.contents-style4 .contents-inner .details p:last-of-type {
	border-bottom: 0;
}

.cd-google-map.contents-style4 .contents-inner .details span {
	margin: 0 30px 0 10px;
	text-align: center;
	height: 25px;
	width: 25px;
	font-size: 25px;
	opacity: 1;
	vertical-align: middle;
}

.cd-google-map.contents-style4 .gm-style-iw + div {
	display: none;
}

.cd-google-map.contents-style4 .marker-html .gm-style-iw {
	left: 24px !important;
}

.cd-google-map.contents-style4.alt .contents-inner .details {
	background: #12406d;
}

.cd-google-map.contents-style4.alt .contents-inner .details::after {
	border-top-color: #12406d;
}

.cd-google-map.contents-style4.alt .contents-inner .details p {
	font-size: 15px;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.cd-google-map.contents-style4.alt .contents-inner .details p:hover {
	opacity: 1;
}

.cd-google-map.contents-style5 {
	height: 487px;
}

.google-map-container,
.google-container {
	height: 100%;
}

.google-map-container .marker-contents,
.google-container .marker-contents {
	position: relative;
	top: auto;
	left: auto;
	visibility: visible;
}

.google-map-container .google-map,
.google-container .google-map {
	height: 100%;
}

.google-map-container .google-map-markers,
.google-container .google-map-markers {
	display: none;
}

.map_marker {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50em;
	background-color: #f42958;
}

.map_marker div {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50em;
	opacity: 1;
	background-color: #f42958;
}

.map_marker > div:first-child {
	-webkit-animation: markerWave 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
	animation: markerWave 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
}

.map_marker > div:first-child + div {
	-webkit-animation: markerWave 1.5s 0.45s cubic-bezier(0, 0, 0.2, 1) infinite forwards;
	animation: markerWave 1.5s 0.45s cubic-bezier(0, 0, 0.2, 1) infinite forwards;
}

/* Responsive*/
@media (max-width: 768px) {
	.cd-google-map.contents-style2 .marker-contents, .cd-google-map.contents-style3 .marker-contents,
	.cd-google-map.contents-style3 .marker-contents {
		min-width: 100%;
		width: 100%;
		left: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
	.cd-google-map.contents-style2, .cd-google-map.contents-style3,
	.cd-google-map.contents-style3 {
		height: auto !important;
	}
	.cd-google-map.contents-style2 .google-container, .cd-google-map.contents-style3 .google-container,
	.cd-google-map.contents-style3 .google-container {
		min-height: 400px;
	}
	.cd-google-map.contents-style2 .marker-contents, .cd-google-map.contents-style3 .marker-contents,
	.cd-google-map.contents-style3 .marker-contents {
		position: relative;
		top: auto;
		left: auto;
		min-width: 0;
		width: 100%;
		height: auto;
		transform: none;
	}
}
