.text-right.section-title-thick2 hr, .text-right.section-title-thick3 hr {
		margin-left: 0;
}

/* Section Title */
.section-title {
		margin-bottom: 60px;
		text-align: center;
}

.section-title p {
		line-height: normal;
}

.section-title .subtitle {
		display: block;
		line-height: 1.5em;
		text-transform: uppercase;
		letter-spacing: 0.4em;
}

.section-title hr {
		display: block;
		border: none;
		width: 50px;
		height: 5px;
		background-color: #f42958;
		background-image: none;
}

.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 {
		margin-top: 0.25em;
}

.section-title.color-light .subtitle,
.section-title.color-light h2,
.section-title.color-light p {
		color: #fff;
}

.section-title.text-left,
.text-left .section-title {
		text-align: left;
}

.section-title.text-right,
.text-right .section-title {
		text-align: right;
}

.section-title.align-left hr, .section-title.text-left hr,
.text-left .section-title hr {
		margin-left: 0;
}

.section-title.align-right hr, .section-title.text-right hr,
.text-right .section-title hr {
		margin-right: 0;
}

.section-title-default, .section-title-lines-between {
		margin-bottom: 4.75em;
}

.section-title-default p, .section-title-lines-between p {
		/* font-size: em(16,14);*/
}

.section-title-default .subtitle, .section-title-lines-between .subtitle {
		padding-bottom: 1.8em;
		margin-bottom: 0;
		/* letter-spacing: 0.1em;*/
		text-transform: uppercase;
		/* font-weight: 700;*/
		color: #f42958;
		/* font-size: em(17, 14);*/
}

.section-title-default h2, .section-title-lines-between h2 {
		margin-bottom: 0.3em;
		padding-top: 0.5em;
		font-size: 3.42857em;
		font-weight: 600;
		line-height: 1.5em;
}

.section-title-default.inverse .subtitle, .inverse.section-title-lines-between .subtitle,
.section-title-default.inverse h2, .inverse.section-title-lines-between h2 {
		color: #fff;
}

.section-title-default.inverse p, .inverse.section-title-lines-between p {
		color: #fff;
		opacity: 0.5;
}

.section-title-default.no-margin, .no-margin.section-title-lines-between {
		margin-bottom: 0 !important;
}

.section-title-default[data-plugin-resolve] h2, [data-plugin-resolve].section-title-lines-between h2 {
		letter-spacing: -0.025em;
}

.section-title-icon h5 {
		font-size: 16.8px;
}

.section-title-icon i {
		width: 50px;
		height: 50px;
		margin-right: 18px;
		text-align: center;
		vertical-align: middle;
		color: #fff;
		border-radius: 50em;
		background: #f42958;
		font-size: 25px;
		line-height: 52px;
}

.section-title-lines-between .subtitle {
		color: #9e9e9e;
		letter-spacing: 0.1em;
		font-weight: 700;
		font-size: 1.21429em;
}

.section-title-lines-between p {
		font-size: 1.14286em;
}

.section-title-lines-between .subtitle,
.section-title-lines-between h2 {
		position: relative;
}

.section-title-lines-between .subtitle:before,
.section-title-lines-between h2:before {
		position: absolute;
		left: 50%;
		display: inline-block;
		width: 44px;
		margin-left: -22px;
		content: '';
		background: #e5432a;
}

.section-title-lines-between h2 {
		margin-top: 2px;
}

.section-title-lines-between h2:before {
		top: 0;
		height: 3px;
}

.section-title-lines-between .subtitle:before {
		bottom: 0;
		height: 3px;
}

.section-title-lines-between hr {
		width: 100px;
		height: 3px;
		margin: 5px auto auto;
		background-color: transparent;
		border-top: 3px solid #e5432a;
}

.section-title-blue-underline, .section-title-thick,
.section-title-thick2,
.section-title-blue-underline2 {
		margin-bottom: 4em;
}

.section-title-blue-underline h2, .section-title-thick h2,
.section-title-thick2 h2,
.section-title-blue-underline2 h2 {
		margin-bottom: 0.4em;
		font-size: 2.66666667em;
		font-weight: 500;
		line-height: 1.2em;
}

.section-title-blue-underline h2 + hr, .section-title-thick h2 + hr,
.section-title-thick2 h2 + hr,
.section-title-blue-underline2 h2 + hr {
		margin-top: -3px;
}

.section-title-blue-underline .subtitle, .section-title-thick .subtitle,
.section-title-thick2 .subtitle,
.section-title-blue-underline2 .subtitle {
		display: block;
		margin-top: 3px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		color: #c1c1c1;
		/* font-family: $font-montserrat;*/
		font-size: 0.93333333em;
		line-height: 1.5em;
		font-weight: 400;
}

.section-title-blue-underline p, .section-title-thick p,
.section-title-thick2 p,
.section-title-blue-underline2 p {
		letter-spacing: 0.035em;
		color: #797979;
		font-size: 1.06666667em;
}

.section-title-blue-underline i, .section-title-thick i,
.section-title-thick2 i,
.section-title-blue-underline2 i {
		width: 50px;
		height: 50px;
		margin-right: 18px;
		text-align: center;
		vertical-align: middle;
		color: #fff;
		border-radius: 50em;
		background: -webkit-gradient(linear, left bottom, left top, from(#007aff), to(#00b8ff));
		background: linear-gradient(to top, #007aff, #00b8ff);
		font-size: 25px;
		line-height: 52px;
}

.section-title-blue-underline hr, .section-title-thick hr,
.section-title-thick2 hr,
.section-title-blue-underline2 hr {
		display: block;
		width: 50px;
		height: 3px;
		margin-top: 25px;
		margin-bottom: 0;
		border: none;
		background: -webkit-gradient(linear, left top, right top, from(#007aff), to(#00b8ff));
		background: linear-gradient(to right, #007aff, #00b8ff);
}

.section-title-blue-underline hr + p, .section-title-thick hr + p,
.section-title-thick2 hr + p,
.section-title-blue-underline2 hr + p {
		margin-top: 15px;
}

.section-title-blue-underline2 {
		margin-bottom: 3.75em;
		font-size: 15px;
		line-height: 1.867em;
}

.section-title-blue-underline2 h2 {
		margin-bottom: 0.714em;
		letter-spacing: -0.007em;
		font-size: 2.33333333em;
}

.section-title-blue-underline2 p {
		font-size: 1.13333333em;
		line-height: 1.76470588em;
		letter-spacing: 0;
		color: rgba(0, 0, 0, 0.35);
}

.section-title-blue-underline2 hr {
		width: 60px;
		height: 4px;
		margin: 1.3em auto;
		background: #14b8f9;
		background: -webkit-gradient(linear, left top, right top, from(#14b8f9), to(#37d4df));
		background: linear-gradient(to right, #14b8f9 0%, #37d4df 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#14b8f9', endColorstr='#37d4df', GradientType=1 );
}

.section-title-blue-underline2 hr + p {
		margin-top: 0.5em;
}

.section-title-red-underline {
		padding-bottom: 3.75em;
}

.section-title-red-underline .subtitle {
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #cacaca;
		font-size: 0.86666667em;
		font-weight: 400;
}

.section-title-red-underline h2 {
		margin-top: 0.4em;
		margin-bottom: 0.45em;
		letter-spacing: -0.01em;
		font-size: 2.66666667em;
}

.section-title-red-underline hr {
		position: relative;
		width: 60px;
		height: 2px;
		margin-top: 0;
		-webkit-transform: skewX(-60deg);
		transform: skewX(-60deg);
		border: none;
		/* left: -30px;*/
		background: rgba(255, 45, 84, 0);
		background: linear-gradient(177deg, rgba(255, 45, 84, 0) 0%, rgba(255, 45, 86, 0) 0%, rgba(255, 44, 88, 0) 34%, #ff2b60 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#ff2d54', endColorstr='#ff2b60', GradientType=1 );
}

.section-title-red-underline.inverse .subtitle,
.section-title-red-underline.inverse h2 {
		color: #fff;
}

.section-title-red-underline.inverse .subtitle {
		opacity: 0.4;
}

.section-title-red-underline.inverse hr {
		background: rgba(255, 255, 255, 0);
		background: linear-gradient(177deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 34%, white 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#fff', endColorstr='#fff', GradientType=1 );
}

.section-title-red-underline2 {
		margin-bottom: 6.538em;
}

.section-title-red-underline2 h2 {
		font-size: 3.076923077em;
		padding-bottom: 0.625em;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 700;
		color: #000;
		opacity: 1;
		line-height: 1.25em;
		letter-spacing: 0;
		position: relative;
}

.section-title-red-underline2 h2:after {
		content: "";
		display: block;
		height: 5px;
		width: 1.75em;
		position: absolute;
		right: 50%;
		bottom: 0;
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		background: #D72727;
}

.section-title-orange-underline {
		margin-bottom: 5.6667em;
}

.section-title-orange-underline h2 {
		margin-bottom: 0.6em;
		font-size: 2.66666667em;
		letter-spacing: -0.025em;
		font-weight: 600;
}

.section-title-orange-underline hr {
		margin-bottom: 2em;
		border: none;
		background-color: #efa80f;
}

.section-title-orange-underline .btn {
		font-size: 0.86666667em;
}

.section-title-orange-underline .btn strong {
		font-weight: 600;
}

.section-title-orange-underline.inverse h2 {
		color: #fff;
}

.section-title-orange-underline.inverse hr {
		background-color: #fff;
}

.section-title-side-line {
		margin-bottom: 2.666em;
		width: 100%;
}

.section-title-side-line h2 {
		font-weight: 700;
		letter-spacing: 0.075em;
		font-size: 1.2em;
		margin: 0;
		text-transform: uppercase;
		text-align: left;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		color: #000;
}

.section-title-side-line h2:after {
		margin-left: 20px;
		content: "";
		height: 2px;
		margin-top: 0.7em;
		position: relative;
		background: #1271b3;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
}

.section-title-classic {
		margin-bottom: 70px;
}

.section-title-classic h2 {
		margin-bottom: 0.55em;
		color: #333;
		font-size: 3.33333333em;
		font-weight: 400;
		line-height: 1.2em;
}

.section-title-classic .subtitle {
		margin: auto;
		opacity: 0.35;
		color: #000;
		letter-spacing: 0.04em;
		text-transform: none;
		font-size: 1.13333333em;
		line-height: 1.88235294em;
}

.section-title-classic.dark h2 {
		color: #000;
}

.section-title-classic2 {
		margin-bottom: 4em;
}

.section-title-classic2 .subtitle {
		margin-bottom: 2em;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		color: #f42958;
		font-size: 1em;
		font-weight: 700;
}

.section-title-classic2 h2 {
		margin-top: 0.35em;
		margin-bottom: 0.75em;
		font-size: 2.13333333em;
		font-weight: 500;
}

.section-title-classic2 p {
		font-size: 1em;
		line-height: 2em;
}

.section-title-classic2.inverse .subtitle,
.section-title-classic2.inverse h2 {
		color: #fff;
}

.section-title-classic3 {
		margin-bottom: 4.75em;
}

.section-title-classic3 h2 {
		margin-top: 0.3em;
		font-size: 3em;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		color: #111;
}

.section-title-classic3 .subtitle {
		font-size: 0.75em;
		color: rgba(17, 17, 17, 0.25);
}

.section-title-classic4, .section-title-classic4-alt {
		margin-bottom: 3em;
		font-size: 15px;
		line-height: 2em;
}

.section-title-classic4 h2, .section-title-classic4-alt h2 {
		margin-top: 0;
		font-size: 2.66666667em;
		line-height: 1.1em;
		text-transform: uppercase;
}

.section-title-classic4 .subtitle, .section-title-classic4-alt .subtitle {
		font-size: 3.2em;
		line-height: 1.1em;
		letter-spacing: 0;
		text-transform: lowercase;
		font-weight: 400;
}

.section-title-classic4-alt .subtitle {
		font-size: 2.66667em;
		margin-bottom: 0.5em;
		color: #000;
}

.section-title-classic4-alt h2 {
		font-size: 3.33333em;
		letter-spacing: 0.05em;
}

.section-title-classic5 {
		text-align: center;
		font-size: 15px;
		margin-bottom: 0;
		overflow: hidden;
}

.section-title-classic5 h2 {
		font-size: 3.667em;
		line-height: 1em;
		margin-top: 0;
		margin-bottom: 0.63636em;
		font-weight: 300;
}

.section-title-classic5 p {
		font-size: 1em;
		line-height: 2.308em;
}

.section-title-classic5 .btn {
		font-size: 0.93333em;
		margin-bottom: 2.30769em;
}

.section-title-classic5.short h2 {
		margin-bottom: 0.364em;
}

.section-title-classic6 h2 {
		font-size: 2.857142857em;
		font-weight: 500;
		color: #000;
		line-height: 1.3;
		margin: 0 0 0.25em;
}

.section-title-classic6 .subtitle {
		font-size: 1.071428571em;
		letter-spacing: 0.2em;
		color: #000;
		opacity: 0.5;
		margin-bottom: 0;
}

.section-title-numerical {
		margin-bottom: 3.75em;
}

.section-title-numerical h2,
.section-title-numerical h6 {
		margin: 20px 0;
		line-height: 1.5em;
}

.section-title-numerical h2 strong,
.section-title-numerical h6 strong {
		font-weight: inherit;
}

.section-title-numerical h2 {
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #f42958;
		font-size: 0.9375em;
		font-weight: 400;
}

.section-title-numerical h6 {
		position: relative;
		padding-bottom: 0.7em;
		text-transform: uppercase;
		color: #000;
		font-size: 2.5em;
		font-weight: 700;
}

.section-title-numerical h6:after {
		position: absolute;
		bottom: 0;
		left: 50%;
		display: inline-block;
		width: 46px;
		height: 3px;
		margin-left: -23px;
		content: '';
		background-color: #f42958;
}

.section-title-numerical.align-left h2,
.section-title-numerical.align-left h6 {
		text-align: left;
}

.section-title-numerical.align-left h2:after {
		left: 0;
		margin-left: 0;
}

.section-title-numerical.no-border h2 {
		padding-bottom: 0;
}

.section-title-numerical.no-border h2:after {
		display: none;
}

.section-title-numerical.inverse h2,
.section-title-numerical.inverse h6 {
		color: #fff;
}

.section-title-numerical-alt {
		margin-bottom: 3em;
}

.section-title-numerical-alt .subtitle,
.section-title-numerical-alt h2 {
		margin: 18px 0 15px;
		line-height: 1.5em;
}

.section-title-numerical-alt .subtitle strong,
.section-title-numerical-alt h2 strong {
		font-weight: inherit;
}

.section-title-numerical-alt .subtitle {
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #f42958;
		font-size: 0.9375em;
		font-weight: 400;
}

.section-title-numerical-alt h2 {
		position: relative;
		padding-bottom: 0.7em;
		color: #000;
		font-size: 2.5em;
		font-weight: 700;
}

.section-title-numerical-alt h2:after {
		position: absolute;
		bottom: 0;
		left: 50%;
		display: inline-block;
		width: 46px;
		height: 3px;
		margin-left: -23px;
		content: '';
		background-color: #f42958;
}

.section-title-numerical-alt.align-left .subtitle,
.section-title-numerical-alt.align-left h2 {
		text-align: left;
}

.section-title-numerical-alt.align-left h2:after {
		left: 0;
		margin-left: 0;
}

.section-title-numerical-alt.no-border h2 {
		padding-bottom: 0;
}

.section-title-numerical-alt.no-border h2:after {
		display: none;
}

.section-title-numerical-alt.inverse .subtitle,
.section-title-numerical-alt.inverse h2 {
		color: #fff;
}

.section-title-big {
		margin-bottom: 3.75em;
}

.section-title-big h2 {
		margin-bottom: 0.6em;
		font-size: 3.64286em;
		letter-spacing: -0.01em;
		font-weight: 300;
}

.section-title-big p {
		margin-bottom: 1.1em;
		font-size: 1.15384615em;
		line-height: 2em;
}

.section-title-big.style2 {
		margin-bottom: 4em;
}

.section-title-big.style2 h2 {
		font-size: 3.666667em;
		letter-spacing: -0.025em;
}

.section-title-big.style2 p {
		font-size: 1.2em;
		margin-bottom: 1em;
}

.section-title-underlined-title {
		margin-bottom: 3.75em;
}

.section-title-underlined-title h2 {
		display: inline-block;
		margin-bottom: 1.15em;
		padding: 1em 0 0.8333em;
		letter-spacing: 0.175em;
		text-transform: uppercase;
		color: #f42958;
		border-bottom: 2px solid #f42958;
		font-size: 1.125em;
		font-weight: 600;
}

.section-title-underlined-title p {
		font-size: 2.1875em;
		line-height: 1.25em;
		color: #000;
}

.section-title-thick,
.section-title-thick2 {
		margin-bottom: 6em;
}

.section-title-thick h2,
.section-title-thick2 h2 {
		display: inline-block;
		margin-bottom: 0.3em;
		padding-bottom: 0.15em;
		position: relative;
		font-size: 3.57142857em;
		font-weight: 700;
		letter-spacing: -0.035em;
		color: #f42958;
}

.section-title-thick h2:after,
.section-title-thick2 h2:after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #f42958;
		opacity: 0.1;
}

.section-title-thick .subtitle,
.section-title-thick2 .subtitle {
		font-size: 1em;
		font-weight: 700;
		line-height: 1;
		margin-top: 0;
		letter-spacing: 0.0714em;
		color: #f42958;
}

.section-title-thick p,
.section-title-thick2 p {
		margin-top: 3em;
}

.section-title-thick i,
.section-title-thick2 i {
		background-color: #e4442a;
		background-image: none;
}

.section-title-thick2 h2 {
		font-size: 3.3333333em;
		margin-bottom: 0.1em;
}

.section-title-thick2 h2:after {
		content: none;
}

.section-title-thick2 hr {
		height: 4px;
		margin-top: 1em;
		background-color: #e4442a;
		background-image: none;
}

.section-title-thick2 hr + p {
		margin-top: 3.75em;
}

.section-title-thick2 i {
		background-color: #e4442a;
}

.section-title-thick3 {
		margin-bottom: 5em;
}

.section-title-thick3 h2 {
		font-size: 3.24137931em;
		line-height: 1.24;
		font-weight: 400;
		letter-spacing: 0;
}

.section-title-thick3 hr {
		height: 3px;
		margin-top: 1em;
		margin-bottom: 0;
}

.section-title-thick3.inverse h2 {
		color: #fff;
}

.section-title-thick3.inverse hr {
		background: #fff;
		opacity: 0.25;
}

.section-title-underlined-subtitle h2 {
		font-size: 2.66667em;
		line-height: 1em;
		letter-spacing: 0;
		margin-bottom: 0.375em;
		vertical-align: middle;
}

.section-title-underlined-subtitle h2 i {
		font-size: 0.375em;
		margin: 0 1em;
		vertical-align: middle;
}

.section-title-underlined-subtitle .subtitle {
		display: inline-block;
		font-size: 0.86667em;
		letter-spacing: 0.4em;
		color: #f42958;
		border-bottom: 1px solid #f42958;
		padding-bottom: 5px;
}

.section-title-resolve h2 {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 0.42857em;
		font-size: 2.85714em;
}

.section-title-resolve p {
		font-size: 1.21429em;
		line-height: 2.1em;
}

.section-title-overlay {
		position: relative;
}

.section-title-overlay h1,
.section-title-overlay h2,
.section-title-overlay h3,
.section-title-overlay h4,
.section-title-overlay h5,
.section-title-overlay h6,
.section-title-overlay p {
		position: relative;
		z-index: 2;
		transform: translate3d(0, 0, 0);
}

.section-title-overlay h2 {
		margin: 0;
		font-size: 43px;
		line-height: 1.5em;
		letter-spacing: -0.005em;
}

.section-title-overlay hr {
		width: 148px;
		height: 55px;
		margin: 0;
		position: absolute;
		top: 0.5em;
		left: 50%;
		z-index: 0;
		-webkit-transition: all 0.65s cubic-bezier(0.8, 0, 0.2, 1);
		transition: all 0.65s cubic-bezier(0.8, 0, 0.2, 1);
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translate3d(-50%, 0, 0) skewX(-22deg) rotateZ(0) scaleX(0);
		transform: translate3d(-50%, 0, 0) skewX(-22deg) rotateZ(0) scaleX(0);
}

.section-title-overlay.align-left hr {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0) skewX(-22deg) rotateZ(0);
		transform: translate3d(0, 0, 0) skewX(-22deg) rotateZ(0);
}

.section-title-overlay.align-left hr {
		left: auto;
		right: 0;
		-webkit-transform: translate3d(0, 0, 0) skewX(22deg) rotateZ(0);
		transform: translate3d(0, 0, 0) skewX(22deg) rotateZ(0);
}

.section-title-overlay.is-in-view hr {
		-webkit-transform: translate3d(-50%, 0, 0) skewX(-22deg) rotateZ(-20deg) scaleX(1);
		transform: translate3d(-50%, 0, 0) skewX(-22deg) rotateZ(-20deg) scaleX(1);
}

.section-title-overlay.is-in-view.align-left hr {
		-webkit-transform: translate3d(0, 0, 0) skewX(-22deg) rotateZ(-20deg) scaleX(1);
		transform: translate3d(0, 0, 0) skewX(-22deg) rotateZ(-20deg) scaleX(1);
}

.section-title-overlay.is-in-view.align-left hr {
		-webkit-transform: translate3d(0, 0, 0) skewX(22deg) rotateZ(-20deg) scaleX(1);
		transform: translate3d(0, 0, 0) skewX(22deg) rotateZ(-20deg) scaleX(1);
}

/* Responsive*/
@media (max-width: 991px) {
		.section-title-resolve h2 {
				font-size: 2.28571em;
		}
		.section-title-classic h2 {
				font-size: 2.75em;
		}
		.section-title-classic .subtitle {
				font-size: 1em;
		}
}
