.mejs-container {
	width: 100% !important;
}

.mejs-container .mejs-inner.mejs-audio {
	background-color: transparent;
}

.mejs-container .mejs-inner .mejs-controls {
	height: 60px;
	padding: 0;
	background-image: none;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mejs-container .mejs-inner .mejs-controls div {
	position: relative;
	height: 100%;
	font-size: 0.85714em;
	font-weight: 700;
	line-height: 60px;
	color: #fff;
}

.mejs-container .mejs-inner .mejs-controls button {
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	left: 0;
	text-align: center;
	background-image: none;
}

.mejs-container .mejs-inner .mejs-controls button:focus {
	outline: none;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-float {
	display: none !important;
}

.mejs-container .mejs-inner .mejs-controls .mejs-button {
	width: 65px;
}

.mejs-container .mejs-inner .mejs-controls .mejs-playpause-button {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.mejs-container .mejs-inner .mejs-controls .mejs-playpause-button:before, .mejs-container .mejs-inner .mejs-controls .mejs-playpause-button:after {
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	border-style: solid;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.mejs-container .mejs-inner .mejs-controls .mejs-playpause-button:before {
	border-color: transparent transparent transparent #fff;
	border-width: 7px 0 7px 14px;
}

.mejs-container .mejs-inner .mejs-controls .mejs-playpause-button:after {
	opacity: 0;
	border-color: #fff transparent transparent #fff;
	border-width: 14px 0 0 6px;
	margin-left: 4px;
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
}

.mejs-container .mejs-inner .mejs-controls .mejs-playpause-button.mejs-pause:before {
	margin-left: -4px;
	border-color: #fff transparent #fff #fff;
	border-width: 7px 0 7px 6px;
}

.mejs-container .mejs-inner .mejs-controls .mejs-playpause-button.mejs-pause:after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	text-align: center;
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button:before {
	content: '\f028';
	font-family: 'fontAwesome';
	font-size: 18px;
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button.mejs-unmute:before {
	content: '\f026';
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button .mejs-volume-slider {
	left: 50%;
	margin-left: -12px;
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button .mejs-volume-slider:active, .mejs-container .mejs-inner .mejs-controls .mejs-volume-button .mejs-volume-slider:focus {
	outline: none;
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
	background-color: #fff;
	height: 94%;
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	position: absolute;
	background-color: #f42958;
}

.mejs-container .mejs-inner .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50em;
	left: 6px;
	background-color: #f42958;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time {
	height: 100%;
	padding: 0;
	margin: 0 25px;
	color: #cacaca;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-handle {
	top: -4px;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-handle span {
	border-radius: 50em;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total {
	height: 2px;
	margin: 0;
	top: 50%;
	background-image: none;
	background-color: #fff;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 10px;
	position: absolute;
	top: -5px;
	left: 0;
	z-index: 0;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total span {
	height: 100%;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-current {
	background-image: none;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-current {
	background-color: #f42958;
}

.mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-loaded {
	background-color: #999;
}

.mejs-container .mejs-inner a.mejs-horizontal-volume-slider {
	height: 100%;
}

.mejs-container .mejs-inner .mejs-mediaelement video {
	width: 100%;
	height: 100%;
}

.mejs-container .mejs-inner .mejs-layers > div {
	width: 100% !important;
}

.mejs-container .mejs-inner .mejs-poster {
	background-size: cover;
}

.mejs-container .mejs-inner .mejs-poster img {
	width: 100%;
	height: auto;
}

.mejs-container .mejs-inner .mejs-overlay-button {
	width: 70px;
	height: 70px;
	margin: -35px 0 0 -35px;
	border-radius: 50em;
	background-color: rgba(0, 0, 0, 0.75);
	background-image: none;
	line-height: 72px;
	text-align: center;
	text-indent: 1px;
	color: #fff;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mejs-container .mejs-inner .mejs-overlay-button:after {
	content: '\f04b';
	display: inline-block;
	font: normal normal 15px/1em fontAwesome;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mejs-container .mejs-inner .mejs-overlay-play:hover .mejs-overlay-button {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.mejs-container .mejs-inner .mejs-overlay-play:hover .mejs-overlay-button:after {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}

.mejs-container .mejs-inner .mejs-overlay-loading {
	width: 70px;
	height: 70px;
	border-radius: 50em;
}

.mejs-container .mejs-inner .mejs-overlay-loading span {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background-size: cover;
}

.mejs-container.mejs-video {
	overflow: hidden;
}

.mejs-container.mejs-video .mejs-inner .mejs-controls {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.is-playing .mejs-container.mejs-video .mejs-inner .mejs-controls, .mejs-container.mejs-video.is-playing .mejs-inner .mejs-controls {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.mejs-controls-2 .mejs-overlay {
	background: rgba(0, 0, 0, 0.4);
}

.mejs-controls-2 .mejs-overlay-button {
	background: none;
	border: 2px solid #fff;
}

.wpb_wrapper > .mejs-video {
	margin-bottom: 1.5em;
}
