/* Size Variables */
.appear-animation-visible svg,
.appear-animation-visible object {
	opacity: 1 !important;
}

/* Icon Box */
.icon-box {
	margin-bottom: 2em;
	text-align: center;
	color: #999;
	position: relative;
}

.icon-box:before, .icon-box:after {
	content: "";
	display: table;
}

.icon-box:after {
	clear: both;
}

.icon-box p:empty,
.icon-box h3:empty {
	display: none;
}

.icon-box h3 {
	margin: 1.2em 0 0.7em;
	font-size: 1.53333333em;
	line-height: 1.5em;
	letter-spacing: .01em;
	color: #010101;
}

.icon-box h3 .counter {
	margin-top: 0.5em;
}

.icon-box h3 sub {
	bottom: 0;
}

.icon-box p {
	padding-right: 8%;
	padding-left: 8%;
	margin-bottom: 1.2em;
	font-size: 1em;
	line-height: 2em;
	letter-spacing: 0.025em;
}

.icon-box .icon-container {
	position: relative;
	display: block;
	font-size: 3.71429em;
	line-height: 53px;
	text-align: center;
	color: #f42958;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box .icon-container img[src$=".svg"],
.icon-box .icon-container object,
.icon-box .icon-container svg {
	display: inline-block;
	width: 52px;
	line-height: 0;
}

.icon-box .icon-container img[src$=".svg"] stop,
.icon-box .icon-container object stop,
.icon-box .icon-container svg stop {
	-webkit-transition: stop-color 0.3s ease;
	transition: stop-color 0.3s ease;
}

.icon-box .icon-container svg,
.icon-box .icon-container svg path,
.icon-box .icon-container svg rect,
.icon-box .icon-container svg ellipse,
.icon-box .icon-container svg circle,
.icon-box .icon-container svg polygon,
.icon-box .icon-container svg polyline {
	transition: fill 0.3s, stroke 0.3s;
}

.icon-box .icon-container svg.custom-gradient-applied path,
.icon-box .icon-container svg.custom-gradient-applied rect,
.icon-box .icon-container svg.custom-gradient-applied ellipse,
.icon-box .icon-container svg.custom-gradient-applied circle,
.icon-box .icon-container svg.custom-gradient-applied polygon,
.icon-box .icon-container svg.custom-gradient-applied polyline {
	stroke: inherit;
}

.icon-box .icon-container i {
	display: inline-block;
	font-size: 1em;
	line-height: inherit !important;
}

.icon-box .icon-container i:before {
	line-height: inherit;
}

.icon-box .icon-container i[class*=icon-flaticon], .icon-box .icon-container i[class*=icon-linear] {
	/* font-size: 0.75em;*/
}

.icon-box .icon-container[data-plugin-animated-icon] {
	font-size: 1em;
	line-height: 0.5em !important;
}

.icon-box .icon-container[data-plugin-animated-icon] svg,
.icon-box .icon-container[data-plugin-animated-icon] object {
	opacity: 0;
}

.icon-box .btn-md {
	margin-top: 1.5em;
}

.icon-box .counter {
	display: block;
	font-size: 1.15em;
	color: #f42958;
}

.icon-box .counter-element {
	display: block;
	margin-top: 0.9em;
	font-size: 1.73333333em;
	line-height: 1.5em;
	font-weight: 300;
	color: #000;
}

.icon-box .counter-element.counter-lg {
	margin: 0 0 0.7em;
	font-size: 3.07692em;
	font-weight: 300;
}

.icon-box .icon-wrapper {
	position: relative;
}

.icon-box .icon-wrapper .icon-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.icon-box .circle-gradient-border {
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50em;
}

.icon-box .circle-gradient-border ellipse {
	rx: 39;
	ry: 39;
	cx: 40;
	cy: 40;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box .circle-gradient-border ellipse.bg {
	opacity: 0;
}

.icon-box .circle-gradient-border + img[src$=".svg"],
.icon-box .circle-gradient-border object,
.icon-box .circle-gradient-border + svg {
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.icon-box .circle-gradient-border + .icon-container {
	border: none !important;
}

.icon-box .circle-gradient-border + .icon-container i,
.icon-box .circle-gradient-border + .icon-container path {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box:hover .circle-gradient-border ellipse.bg {
	opacity: 1;
}

.icon-box:hover .circle-gradient-border + .icon-container i {
	color: #fff;
}

.icon-box.text-left {
	text-align: left;
}

.icon-box.text-left p {
	padding-left: 0;
	padding-right: 0;
}

.icon-box.text-left .icon-container {
	margin-left: 0;
	text-align: left;
}

.icon-box.text-left.icon-box-square .icon-container, .icon-box.text-left.icon-box-circle .icon-container, .icon-box.text-left.icon-box-lozenge .icon-container, .icon-box.text-left.icon-box-circle .icon-container, .icon-box.text-left.icon-box-lozenge .icon-container, .icon-box.text-left.icon-box-hexagon .icon-container {
	text-align: center;
}

.icon-box.text-right {
	text-align: right;
}

.icon-box.text-right p {
	padding-left: 0;
	padding-right: 0;
}

.icon-box.text-right .icon-container {
	text-align: right;
	margin-right: 0;
}

.icon-box.text-right.icon-box-square .icon-container, .icon-box.text-right.icon-box-circle .icon-container, .icon-box.text-right.icon-box-lozenge .icon-container, .icon-box.text-right.icon-box-circle .icon-container, .icon-box.text-right.icon-box-lozenge .icon-container, .icon-box.text-right.icon-box-hexagon .icon-container {
	text-align: center;
}

.icon-container-shadowed .icon-container {
	width: 60px;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	border-radius: 50em;
}

.icon-container-shadowed .icon-container svg,
.icon-container-shadowed .icon-container image {
	width: 30px;
}

.icon-container-shadowed:hover .icon-container {
	-webkit-box-shadow: 0 17px 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 17px 50px rgba(0, 0, 0, 0.1);
}

.icon-container-shadowed.icon-box-sm.icon-box-circle .icon-container {
	width: 60px;
	height: 60px;
}

.icon-container-shadowed.icon-box-sm.icon-box-circle .icon-container i {
	line-height: 61px !important;
}

.icon-container-shadowed.icon-box-sm.icon-box-circle svg {
	width: 30px;
}

.icon-box-square .icon-container, .icon-box-circle .icon-container, .icon-box-lozenge .icon-container,
.icon-box-circle .icon-container,
.icon-box-lozenge .icon-container {
	position: relative;
}

.icon-box-square .icon-container img[src$=".svg"], .icon-box-circle .icon-container img[src$=".svg"], .icon-box-lozenge .icon-container img[src$=".svg"],
.icon-box-square .icon-container object, .icon-box-circle .icon-container object, .icon-box-lozenge .icon-container object,
.icon-box-square .icon-container svg, .icon-box-circle .icon-container svg, .icon-box-lozenge .icon-container svg,
.icon-box-circle .icon-container img[src$=".svg"],
.icon-box-circle .icon-container object,
.icon-box-circle .icon-container svg,
.icon-box-lozenge .icon-container img[src$=".svg"],
.icon-box-lozenge .icon-container object,
.icon-box-lozenge .icon-container svg {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

/* Icon Shape*/
.icon-box-square, .icon-box-circle, .icon-box-lozenge {
	margin-bottom: 3em;
}

.icon-box-square .icon-container, .icon-box-circle .icon-container, .icon-box-lozenge .icon-container {
	height: 80px;
	width: 80px;
	border-radius: 5%;
	margin: 0 auto;
	background: #f42958;
	text-align: center;
	font-size: 2.85714em;
	line-height: 80px;
	color: #fff;
}

.icon-box-square .icon-container img[src$=".svg"], .icon-box-circle .icon-container img[src$=".svg"], .icon-box-lozenge .icon-container img[src$=".svg"],
.icon-box-square .icon-container object, .icon-box-circle .icon-container object, .icon-box-lozenge .icon-container object,
.icon-box-square .icon-container svg, .icon-box-circle .icon-container svg, .icon-box-lozenge .icon-container svg {
	width: 50px;
}

.icon-box-circle .icon-container {
	border-radius: 50em;
}

.icon-box-circle .icon-container img[src$=".svg"],
.icon-box-circle .icon-container object,
.icon-box-circle .icon-container svg {
	width: 44px;
}

.icon-box-lozenge .icon-container {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	border-radius: 25px;
}

.icon-box-lozenge .icon-container img[src$=".svg"],
.icon-box-lozenge .icon-container object,
.icon-box-lozenge .icon-container svg {
	-webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg);
	transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg);
}

.icon-box-lozenge h3 {
	margin-top: 1.4em;
	margin-bottom: 0.3em;
}

.icon-box-lozenge p {
	padding-right: 2%;
	padding-left: 2%;
}

/* Icon Style*/
.icon-box-inline {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 6em;
	text-align: left;
}

.icon-box-inline:before, .icon-box-inline:after {
	content: "";
	display: table;
}

.icon-box-inline:after {
	clear: both;
}

.icon-box-inline .icon-container {
	float: left;
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
	margin-left: 0;
	margin-right: 20px;
}

.icon-box-inline .icon-container i:before {
	margin-left: 1px;
}

.icon-box-inline h3 {
	margin-bottom: 0.5em;
	font-size: 0.9375em;
	/* text-transform: uppercase;*/
	/* letter-spacing: 0.2em;*/
}

.icon-box-inline > h3 {
	float: left;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	flex: 1;
}

.icon-box-inline p {
	margin: 0;
	padding: 0;
	clear: both;
}

.icon-box-inline .contents {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	margin-top: 0.5em;
}

.icon-box-inline.icon-box-heading-sm h3, .icon-box-inline.icon-box-heading-md h3, .icon-box-inline.icon-box-heading-md2 h3, .icon-box-inline.icon-box-heading-lg h3, .icon-box-inline.icon-box-heading-xlg h3, .icon-box-inline.icon-box-heading-xxlg h3 {
	text-transform: none;
	letter-spacing: 0;
}

.icon-box-inline.icon-box-heading-sm .icon-container {
	margin-bottom: 0.25em;
}

.icon-box-inline.align-right {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.icon-box-inline.align-right > h3 {
	float: right;
}

.icon-box-inline.align-right .icon-container {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}

.text-center .icon-box-inline {
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.icon-box-side {
	margin-bottom: 3.6em;
	text-align: left;
}

.icon-box-side .icon-container {
	float: left;
	margin-right: 0.65em;
	margin-left: 0;
}

.icon-box-side h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.icon-box-side img {
	vertical-align: top;
}

.icon-box-side .contents {
	overflow: hidden;
}

.icon-box-side .contents p {
	padding: 0;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

.icon-box-side[class*=icon-box-heading] h3 {
	margin-top: 0;
}

.icon-box-side.align-right .icon-container {
	float: right;
	margin-right: 0;
	margin-left: 0.5em;
}

.text-center .icon-box-side {
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.icon-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.icon-middle .icon-container {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 0.5em;
}

.icon-middle.align-right .icon-container {
	margin-right: 0;
	margin-left: 0.5em;
}

.backgroundcliptext .icon-gradient .icon-container i {
	background: -webkit-gradient(linear, left top, left bottom, from(#4776e6), to(#8e54e9));
	background: linear-gradient(#4776e6, #8e54e9);
	background: -linear-linear-gradient(#4776e6, #8e54e9);
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

.backgroundcliptext .icon-gradient2 .icon-container i {
	background: -webkit-gradient(linear, left top, right top, from(#007aff), to(#00b9ff));
	background: linear-gradient(to right, #007aff, #00b9ff);
	background: -linear-linear-gradient(to right, #007aff, #00b9ff);
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

.icon-box-bordered {
	border-color: #f42958;
}

.icon-box-bordered .icon-container {
	color: #f42958;
}

.icon-box-bordered.icon-box-square .icon-container, .icon-box-bordered.icon-box-circle .icon-container, .icon-box-bordered.icon-box-lozenge .icon-container, .icon-box-bordered.icon-box-lozenge .icon-container {
	border: 2px solid #f2f2f2;
}

.icon-box-bordered.icon-box-square .icon-container:before, .icon-box-bordered.icon-box-circle .icon-container:before, .icon-box-bordered.icon-box-lozenge .icon-container:before, .icon-box-bordered.icon-box-square .icon-container:after, .icon-box-bordered.icon-box-circle .icon-container:after, .icon-box-bordered.icon-box-lozenge .icon-container:after, .icon-box-bordered.icon-box-lozenge .icon-container:before, .icon-box-bordered.icon-box-lozenge .icon-container:after {
	content: '';
	display: inline-block;
	height: 2px;
	position: absolute;
	top: -2px;
	left: 2%;
	right: 2%;
	opacity: 0;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, right top, from(#4777e6), to(#8d54e9));
	background: linear-gradient(to right, #4777e6 0%, #8d54e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4777e6', endColorstr='#8d54e9', GradientType=1 );
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box-bordered.icon-box-square .icon-container:after, .icon-box-bordered.icon-box-circle .icon-container:after, .icon-box-bordered.icon-box-lozenge .icon-container:after, .icon-box-bordered.icon-box-lozenge .icon-container:after {
	top: auto;
	bottom: -2px;
}

.icon-box-bordered.icon-box-square .icon-container i, .icon-box-bordered.icon-box-circle .icon-container i, .icon-box-bordered.icon-box-lozenge .icon-container i, .icon-box-bordered.icon-box-lozenge .icon-container i {
	position: relative;
	top: -2px;
}

.icon-box-bordered.icon-box-square:hover .icon-container, .icon-box-bordered.icon-box-circle:hover .icon-container, .icon-box-bordered.icon-box-lozenge:hover .icon-container, .icon-box-bordered.icon-box-lozenge:hover .icon-container {
	border-color: #4776e6;
	border-right-color: #8d55e9;
}

.icon-box-bordered.icon-box-square:hover .icon-container:before, .icon-box-bordered.icon-box-circle:hover .icon-container:before, .icon-box-bordered.icon-box-lozenge:hover .icon-container:before, .icon-box-bordered.icon-box-square:hover .icon-container:after, .icon-box-bordered.icon-box-circle:hover .icon-container:after, .icon-box-bordered.icon-box-lozenge:hover .icon-container:after, .icon-box-bordered.icon-box-lozenge:hover .icon-container:before, .icon-box-bordered.icon-box-lozenge:hover .icon-container:after {
	opacity: 1;
}

.icon-box-bordered.icon-box-circle .icon-container:before, .icon-box-bordered.icon-box-circle .icon-container:after {
	content: none;
}

.icon-box-bordered.icon-box-circle:hover .icon-container {
	border-color: inherit;
}

@-webkit-keyframes counter-btn-hover {
	0% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes counter-btn-hover {
	0% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.icon-box-counter-lg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	text-align: left;
}

.icon-box-counter-lg .icon-container object,
.icon-box-counter-lg .icon-container img[src$=".svg"],
.icon-box-counter-lg .icon-container svg {
	width: 150px;
	height: auto;
}

.icon-box-counter-lg h3 {
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.icon-box-counter-lg p {
	font-size: 15px;
	padding: 0;
}

.icon-box-counter-lg .counter {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	margin-left: 5%;
	margin-right: 9%;
	text-align: center;
}

.icon-box-counter-lg .counter > span {
	display: inline-block;
	margin-top: 1.42857em;
	line-height: 1em;
	font-size: 4.92754em;
	font-weight: 500;
	font-style: italic;
	color: #f5f5f5;
}

.icon-box-counter-lg .contents {
	overflow: hidden;
	-ms-flex-preferred-size: 60%;
	flex-basis: 60%;
}

.icon-box-counter-lg .icon-container {
	display: block;
	float: none;
	text-align: left;
	margin-right: 0;
	margin-left: 0;
}

.icon-box-counter-lg .btn {
	overflow: hidden;
	font-size: 14px;
	display: block;
	margin: .5em 0;
	-webkit-transition: opacity 0.6s cubic-bezier(0.17, 0.67, 0.26, 1), -webkit-transform 0.6s cubic-bezier(0.17, 0.67, 0.26, 1);
	transition: opacity 0.6s cubic-bezier(0.17, 0.67, 0.26, 1), -webkit-transform 0.6s cubic-bezier(0.17, 0.67, 0.26, 1);
	transition: transform 0.6s cubic-bezier(0.17, 0.67, 0.26, 1), opacity 0.6s cubic-bezier(0.17, 0.67, 0.26, 1);
	transition: transform 0.6s cubic-bezier(0.17, 0.67, 0.26, 1), opacity 0.6s cubic-bezier(0.17, 0.67, 0.26, 1), -webkit-transform 0.6s cubic-bezier(0.17, 0.67, 0.26, 1);
	opacity: 0;
	padding-bottom: 8px;
}

.icon-box-counter-lg .btn:before {
	/* content:"";*/
	display: block;
	width: 100%;
	height: 2px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: left center;
	transform-origin: left center;
	background: #f42958;
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.icon-box-counter-lg.text-right .icon-container {
	text-align: right;
}

.icon-box-counter-lg.text-center .icon-container {
	text-align: center;
}

.icon-box-counter-lg.icon-box-heading-xlg h3 {
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

.icon-box-counter-lg:hover h3 {
	color: #f42958;
}

.icon-box-counter-lg:hover .btn {
	opacity: 1;
}

.icon-box-counter-lg:hover .btn span {
	-webkit-animation-name: counter-btn-hover;
	animation-name: counter-btn-hover;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

.icon-box-counter-lg:hover .btn:before {
	-webkit-transform: scaleZ(1);
	transform: scaleZ(1);
}

.icon-box-boxed-unfilled,
.icon-box-boxed-unfilled-alt,
.icon-box-boxed-unfilled-alt2,
.icon-box-boxed-unfilled-alt3,
.icon-box-boxed-unfilled-alt4,
.icon-box-boxed-unfilled-alt5 {
	padding: 3.4375em 1em 2.8125em;
	border: 1px solid #e5e5e5;
	position: relative;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box-boxed-unfilled:after,
.icon-box-boxed-unfilled-alt:after,
.icon-box-boxed-unfilled-alt2:after,
.icon-box-boxed-unfilled-alt3:after,
.icon-box-boxed-unfilled-alt4:after,
.icon-box-boxed-unfilled-alt5:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	opacity: 0;
	border: 1px solid #1b1b1b;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box-boxed-unfilled .icon-container,
.icon-box-boxed-unfilled .contents,
.icon-box-boxed-unfilled-alt .icon-container,
.icon-box-boxed-unfilled-alt .contents,
.icon-box-boxed-unfilled-alt2 .icon-container,
.icon-box-boxed-unfilled-alt2 .contents,
.icon-box-boxed-unfilled-alt3 .icon-container,
.icon-box-boxed-unfilled-alt3 .contents,
.icon-box-boxed-unfilled-alt4 .icon-container,
.icon-box-boxed-unfilled-alt4 .contents,
.icon-box-boxed-unfilled-alt5 .icon-container,
.icon-box-boxed-unfilled-alt5 .contents {
	position: relative;
	z-index: 2;
}

.icon-box-boxed-unfilled:hover,
.icon-box-boxed-unfilled-alt:hover,
.icon-box-boxed-unfilled-alt2:hover,
.icon-box-boxed-unfilled-alt3:hover,
.icon-box-boxed-unfilled-alt4:hover,
.icon-box-boxed-unfilled-alt5:hover {
	border-color: #1b1b1b;
}

.icon-box-boxed-unfilled:hover:after,
.icon-box-boxed-unfilled-alt:hover:after,
.icon-box-boxed-unfilled-alt2:hover:after,
.icon-box-boxed-unfilled-alt3:hover:after,
.icon-box-boxed-unfilled-alt4:hover:after,
.icon-box-boxed-unfilled-alt5:hover:after {
	opacity: 1;
}

.icon-box-boxed-unfilled {
	padding-bottom: 4.28571em;
}

.icon-box-boxed-unfilled .btn {
	margin-top: 0.35714em;
}

.icon-box-boxed-unfilled.icon-box-heading-xxlg h3 {
	margin-top: 1em;
}

.icon-box-boxed-unfilled.icon-box-side {
	padding-right: 15%;
	padding-left: 15%;
}

.icon-box-boxed-unfilled.icon-box-side .icon-container {
	margin-top: -0.28571em;
}

.icon-box-boxed-unfilled.icon-box-side.icon-box-heading-sm {
	padding-top: 2.5em;
	padding-bottom: 1.21429em;
}

.icon-box-boxed-unfilled.icon-box-side.icon-box-heading-sm h3 {
	margin-bottom: 0.5em;
}

.icon-box-boxed-unfilled.icon-box-side.icon-box-heading-sm p {
	margin-top: 0;
}

.icon-box-boxed-unfilled-alt {
	padding-top: 4em;
	padding-bottom: 3.5em;
}

.icon-box-boxed-unfilled-alt:after {
	border-color: #30c2f9;
}

.icon-box-boxed-unfilled-alt p {
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 1.35em;
}

.icon-box-boxed-unfilled-alt .btn {
	font-size: 1.333333em;
	font-weight: 300;
}

.icon-box-boxed-unfilled-alt.icon-box-heading-xxlg h3 {
	margin-top: 0.7em;
}

.icon-box-boxed-unfilled-alt:hover {
	border-color: #f42958;
}

.icon-box-boxed-unfilled-alt2 {
	padding: 1.8em 2.666667em 1.8em 2em;
	margin-bottom: 2.14286em;
	border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.07);
}

.icon-box-boxed-unfilled-alt2:after {
	border-color: #30c2f9;
	border-radius: 2px;
}

.icon-box-boxed-unfilled-alt2:hover {
	border-color: #30c2f9;
}

.icon-box-boxed-unfilled-alt3 {
	padding: 2.8em 15px 0;
	border: 2px solid #f6f6f6;
}

.icon-box-boxed-unfilled-alt3 h3,
.icon-box-boxed-unfilled-alt3 p,
.icon-box-boxed-unfilled-alt3 .icon-container {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box-boxed-unfilled-alt3 h3 {
	margin-top: 1.5em;
}

.icon-box-boxed-unfilled-alt3 p {
	margin-bottom: 2em;
	line-height: inherit;
	padding-right: 0;
	padding-left: 0;
}

.icon-box-boxed-unfilled-alt3 .btn-naked {
	display: block;
	margin-left: -15px;
	margin-right: -15px;
	font-size: 0.938em;
	font-weight: 600;
	padding: 1.667em 15px;
	border-top: 1px solid #f6f6f6;
}

.icon-box-boxed-unfilled-alt3:after {
	content: none;
}

.icon-box-boxed-unfilled-alt3:hover {
	background-color: #f42958;
	border-color: transparent;
}

.icon-box-boxed-unfilled-alt3:hover h3,
.icon-box-boxed-unfilled-alt3:hover p,
.icon-box-boxed-unfilled-alt3:hover .btn,
.icon-box-boxed-unfilled-alt3:hover .icon-container {
	color: #fff;
}

.icon-box-boxed-unfilled-alt3:hover p {
	opacity: 0.5;
}

.icon-box-boxed-unfilled-alt3:hover .btn-naked {
	border-color: rgba(255, 255, 255, 0.15);
}

.icon-box-boxed-unfilled-alt4 {
	padding-top: 3em;
	padding-bottom: 3.4em;
	border: 1px solid #e7ecf0;
}

.icon-box-boxed-unfilled-alt4 .icon-container, .icon-box-boxed-unfilled-alt4 .btn {
	color: #000;
}

.icon-box-boxed-unfilled-alt4 .btn {
	margin-top: 1.5em;
}

.icon-box-boxed-unfilled-alt4 h3 {
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.icon-box-boxed-unfilled-alt4:after {
	content: none;
}

.icon-box-boxed-unfilled-alt4 p {
	margin-bottom: 0.8em;
}

.icon-box-boxed-unfilled-alt4.icon-box-heading-md h3 {
	margin-bottom: 1.1em;
}

.icon-box-boxed-unfilled-alt4:hover {
	border-color: transparent;
	-webkit-box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.1);
}

.icon-box-boxed-unfilled-alt4:hover .icon-container, .icon-box-boxed-unfilled-alt4:hover h3 {
	color: #f42958;
}

.icon-box-boxed-unfilled-alt5 {
	margin-bottom: 2.1em;
	padding-bottom: 7em;
	padding-top: 3em;
	border: none;
	border-top: 1px solid #e7ecf0;
	border-bottom: none;
	position: relative;
}

.icon-box-boxed-unfilled-alt5 p {
	margin-bottom: 0.666666667em;
}

.icon-box-boxed-unfilled-alt5:after {
	width: auto;
	border: none;
	border: 1px solid #e7ecf0;
	border-top: none;
	top: 0;
	bottom: 4em;
	z-index: 0;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
	opacity: 1;
	background: #fff;
}

.icon-box-boxed-unfilled-alt5 .btn {
	font-size: 0.86667em;
	font-weight: 600;
	position: absolute;
	left: 50%;
	z-index: 2;
	-webkit-transform: translate3d(-50%, 50%, 0);
	transform: translate3d(-50%, 50%, 0);
}

.icon-box-boxed-unfilled-alt5.icon-box-heading-sm h3 {
	margin-top: 1em;
	font-weight: 600;
	letter-spacing: 0.05882em;
}

.icon-box-boxed-unfilled-alt5:hover {
	border-color: transparent;
	-webkit-box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.08);
}

.icon-box-boxed-unfilled-alt5:hover:after {
	bottom: 0;
	opacity: 1;
}

.icon-box-boxed-unfilled-card {
	padding: 3.6em 15px 2.6em;
	border: 2px solid #f1f1f1;
	border-radius: 5px;
	position: relative;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box-boxed-unfilled-card:before, .icon-box-boxed-unfilled-card:after {
	content: '';
	display: inline-block;
	width: 2px;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: -2px;
	border-radius: 5px;
	opacity: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8d54e9), to(#4875e6));
	background-image: linear-gradient(#8d54e9 0%, #4875e6 100%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-box-boxed-unfilled-card:after {
	left: auto;
	right: -2px;
}

.icon-box-boxed-unfilled-card:hover {
	border-color: #8e54e9;
	border-bottom-color: #4776e6;
}

.icon-box-boxed-unfilled-card:hover:before, .icon-box-boxed-unfilled-card:hover:after {
	opacity: 1;
}

.icon-box-boxed-filled {
	padding: 0.9em 2em 1.5em;
	border-radius: 4px;
	background-color: #f42958;
	color: #fff;
	margin-bottom: 30px;
}

.icon-box-boxed-filled h3,
.icon-box-boxed-filled p,
.icon-box-boxed-filled .icon-container,
.icon-box-boxed-filled .btn {
	color: #fff;
}

.icon-box-boxed-filled p {
	letter-spacing: 0;
	line-height: 1.733em;
	margin-bottom: 0.5em;
	opacity: 0.85;
}

.icon-box-boxed-filled.icon-box-inline .icon-container {
	margin-right: 15px;
	margin-bottom: 0.2em;
}

.icon-box-light, .icon-box-light h3, .icon-box-light p, .icon-box-light .icon-container {
	color: #fff;
}

.icon-box-light p {
	opacity: 0.6;
}

.icon-box-light.icon-box-square .icon-container, .icon-box-light.icon-box-circle .icon-container, .icon-box-light.icon-box-lozenge .icon-container, .icon-box-light.icon-box-circle .icon-container, .icon-box-light.icon-box-lozenge .icon-container {
	background-color: #fff;
	color: #4a7ccc;
}

/* Heading sizes */
.icon-box-heading-xxxsm h3 {
	margin-top: 0.8em;
	font-size: 0.86666667em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.icon-box-heading-xxsm h3 {
	margin-top: 1em;
	margin-bottom: 0.8em;
	font-size: 0.9375em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.icon-box-heading-xsm h3 {
	margin-bottom: 0.2em;
	font-size: 1.13333333em;
}

.icon-box-heading-sm h3 {
	margin-top: 1.8em;
	margin-bottom: 1em;
	font-size: 1.2em;
}

.icon-box-heading-sm.icon-box-inlin h3 {
	margin-top: 1.6em;
}

.icon-box-heading-sm.icon-box-circle.icon-box-side h3 {
	line-height: 1.2em;
}

.icon-box-heading-sm .btn-xsm {
	margin-top: 0.2em;
	font-size: 0.8em;
}

.icon-box-heading-sm2 h3 {
	margin-top: 2.1em;
	margin-bottom: 1.3em;
	font-size: 1.28571em;
}

.icon-box-heading-sm2.icon-box-inlin h3 {
	margin-top: 1.6em;
}

.icon-box-heading-md {
	margin-bottom: 2em;
}

.icon-box-heading-md h3 {
	margin-top: 1.2em;
	margin-bottom: 0.45em;
	font-size: 1.53846154em;
}

.icon-box-heading-md.icon-box-side p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.icon-box-heading-md.icon-box-side.icon-box-circle p {
	margin-top: 1.3em;
}

.icon-box-heading-md .btn-xsm {
	margin-top: 0.2em;
	font-size: 0.8em;
}

.icon-box-heading-md1 {
	margin-bottom: 4.5em;
}

.icon-box-heading-md1 h3 {
	margin-top: 1.4em;
	margin-bottom: 1.1em;
	font-size: 1.64286em;
}

.icon-box-heading-md1.icon-box-side p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.icon-box-heading-md2 h3 {
	font-size: 25px;
}

.icon-box-heading-lg h3 {
	margin-top: 0.7em;
	margin-bottom: 0.2em;
	font-size: 1.8em;
}

.icon-box-heading-xlg h3 {
	margin-top: 1.35em;
	margin-bottom: 1em;
	font-size: 2em;
}

.icon-box-heading-xxlg h3 {
	margin-top: 0.5em;
	margin-bottom: 0.6em;
	font-size: 2.1875em;
	font-weight: 300;
}

.icon-box-heading-uppercase h3 {
	text-transform: uppercase !important;
	letter-spacing: 0.1em !important;
	margin-bottom: 1em;
}

.icon-box-heading-md,
.icon-box-heading-md1,
.icon-box-heading-md2,
.icon-box-heading-lg,
.icon-box-heading-xlg,
.icon-box-heading-xxlg {
	/* &.icon-box-inline h3 {*/
	/* 	text-transform: none;*/
	/* 	letter-spacing: 0;*/
	/* }*/
}

/* Sizes*/
.icon-box-xxsm.icon-box-circle .icon-container, .icon-box-xxsm.icon-box-square .icon-container, .icon-box-xxsm.icon-box-circle .icon-container, .icon-box-xxsm.icon-box-lozenge .icon-container, .icon-box-xxsm.icon-box-lozenge .icon-container {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.icon-box-xxsm.icon-box-hexagon .icon-container {
	width: 30px;
	height: 17.28011px;
}

.icon-box-xxsm.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 7.5px;
}

.icon-box-xxsm.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 15px;
}

.icon-box-xxsm .circle-gradient-border {
	width: 30px;
	height: 30px;
}

.icon-box-xxsm .circle-gradient-border ellipse {
	rx: 14;
	ry: 14;
	cx: 15;
	cy: 15;
}

.icon-box-xxsm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-xxsm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-xxsm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-xsm.icon-box-circle .icon-container, .icon-box-xsm.icon-box-square .icon-container, .icon-box-xsm.icon-box-circle .icon-container, .icon-box-xsm.icon-box-lozenge .icon-container, .icon-box-xsm.icon-box-lozenge .icon-container {
	width: 45px;
	height: 45px;
	line-height: 45px;
}

.icon-box-xsm.icon-box-hexagon .icon-container {
	width: 45px;
	height: 25.92017px;
}

.icon-box-xsm.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 11.25px;
}

.icon-box-xsm.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 22.5px;
}

.icon-box-xsm .circle-gradient-border {
	width: 45px;
	height: 45px;
}

.icon-box-xsm .circle-gradient-border ellipse {
	rx: 21.5;
	ry: 21.5;
	cx: 22.5;
	cy: 22.5;
}

.icon-box-xsm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-xsm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-xsm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-xsm1.icon-box-circle .icon-container, .icon-box-xsm1.icon-box-square .icon-container, .icon-box-xsm1.icon-box-circle .icon-container, .icon-box-xsm1.icon-box-lozenge .icon-container, .icon-box-xsm1.icon-box-lozenge .icon-container {
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.icon-box-xsm1.icon-box-hexagon .icon-container {
	width: 50px;
	height: 28.80018px;
}

.icon-box-xsm1.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 12.5px;
}

.icon-box-xsm1.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 25px;
}

.icon-box-xsm1 .circle-gradient-border {
	width: 50px;
	height: 50px;
}

.icon-box-xsm1 .circle-gradient-border ellipse {
	rx: 24;
	ry: 24;
	cx: 25;
	cy: 25;
}

.icon-box-xsm1:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-xsm1:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-xsm1:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-sm.icon-box-circle .icon-container, .icon-box-sm.icon-box-square .icon-container, .icon-box-sm.icon-box-circle .icon-container, .icon-box-sm.icon-box-lozenge .icon-container, .icon-box-sm.icon-box-lozenge .icon-container {
	width: 68px;
	height: 68px;
	line-height: 68px;
}

.icon-box-sm.icon-box-hexagon .icon-container {
	width: 68px;
	height: 39.16825px;
}

.icon-box-sm.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 17px;
}

.icon-box-sm.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 34px;
}

.icon-box-sm .circle-gradient-border {
	width: 68px;
	height: 68px;
}

.icon-box-sm .circle-gradient-border ellipse {
	rx: 33;
	ry: 33;
	cx: 34;
	cy: 34;
}

.icon-box-sm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-sm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-sm:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-md.icon-box-circle .icon-container, .icon-box-md.icon-box-square .icon-container, .icon-box-md.icon-box-circle .icon-container, .icon-box-md.icon-box-lozenge .icon-container, .icon-box-md.icon-box-lozenge .icon-container {
	width: 90px;
	height: 90px;
	line-height: 90px;
}

.icon-box-md.icon-box-hexagon .icon-container {
	width: 90px;
	height: 51.84033px;
}

.icon-box-md.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 22.5px;
}

.icon-box-md.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 45px;
}

.icon-box-md .circle-gradient-border {
	width: 90px;
	height: 90px;
}

.icon-box-md .circle-gradient-border ellipse {
	rx: 44;
	ry: 44;
	cx: 45;
	cy: 45;
}

.icon-box-md:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-md:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-md:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-lg.icon-box-circle .icon-container, .icon-box-lg.icon-box-square .icon-container, .icon-box-lg.icon-box-circle .icon-container, .icon-box-lg.icon-box-lozenge .icon-container, .icon-box-lg.icon-box-lozenge .icon-container {
	width: 100px;
	height: 100px;
	line-height: 100px;
}

.icon-box-lg.icon-box-hexagon .icon-container {
	width: 100px;
	height: 57.60037px;
}

.icon-box-lg.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 25px;
}

.icon-box-lg.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 50px;
}

.icon-box-lg .circle-gradient-border {
	width: 100px;
	height: 100px;
}

.icon-box-lg .circle-gradient-border ellipse {
	rx: 49;
	ry: 49;
	cx: 50;
	cy: 50;
}

.icon-box-lg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-lg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-lg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-xlg.icon-box-circle .icon-container, .icon-box-xlg.icon-box-square .icon-container, .icon-box-xlg.icon-box-circle .icon-container, .icon-box-xlg.icon-box-lozenge .icon-container, .icon-box-xlg.icon-box-lozenge .icon-container {
	width: 125px;
	height: 125px;
	line-height: 125px;
}

.icon-box-xlg.icon-box-hexagon .icon-container {
	width: 125px;
	height: 72.00046px;
}

.icon-box-xlg.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 31.25px;
}

.icon-box-xlg.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 62.5px;
}

.icon-box-xlg .circle-gradient-border {
	width: 125px;
	height: 125px;
}

.icon-box-xlg .circle-gradient-border ellipse {
	rx: 61.5;
	ry: 61.5;
	cx: 62.5;
	cy: 62.5;
}

.icon-box-xlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-xlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-xlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-xxlg.icon-box-circle .icon-container, .icon-box-xxlg.icon-box-square .icon-container, .icon-box-xxlg.icon-box-circle .icon-container, .icon-box-xxlg.icon-box-lozenge .icon-container, .icon-box-xxlg.icon-box-lozenge .icon-container {
	width: 150px;
	height: 150px;
	line-height: 150px;
}

.icon-box-xxlg.icon-box-hexagon .icon-container {
	width: 150px;
	height: 86.40055px;
}

.icon-box-xxlg.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 37.5px;
}

.icon-box-xxlg.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 75px;
}

.icon-box-xxlg .circle-gradient-border {
	width: 150px;
	height: 150px;
}

.icon-box-xxlg .circle-gradient-border ellipse {
	rx: 74;
	ry: 74;
	cx: 75;
	cy: 75;
}

.icon-box-xxlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-xxlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-xxlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-xxxlg.icon-box-circle .icon-container, .icon-box-xxxlg.icon-box-square .icon-container, .icon-box-xxxlg.icon-box-circle .icon-container, .icon-box-xxxlg.icon-box-lozenge .icon-container, .icon-box-xxxlg.icon-box-lozenge .icon-container {
	width: 170px;
	height: 170px;
	line-height: 170px;
}

.icon-box-xxxlg.icon-box-hexagon .icon-container {
	width: 170px;
	height: 97.92063px;
}

.icon-box-xxxlg.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 42.5px;
}

.icon-box-xxxlg.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 85px;
}

.icon-box-xxxlg .circle-gradient-border {
	width: 170px;
	height: 170px;
}

.icon-box-xxxlg .circle-gradient-border ellipse {
	rx: 84;
	ry: 84;
	cx: 85;
	cy: 85;
}

.icon-box-xxxlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) img[src$=".svg"],
.icon-box-xxxlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) object,
.icon-box-xxxlg:not(.icon-box-square):not(.icon-box-circle):not(.icon-box-lozenge):not(.icon-box-circle):not(.icon-box-lozenge) svg {
	/* width: 100%;*/
}

.icon-box-xxsm .icon-container {
	font-size: 1.14286em;
	line-height: 1em;
}

.icon-box-xxsm .icon-container img[src$=".svg"],
.icon-box-xxsm .icon-container object,
.icon-box-xxsm .icon-container svg {
	width: 16px;
}

.icon-box-xsm .icon-container {
	font-size: 2.35714em;
	line-height: 1.5em;
}

.icon-box-xsm .icon-container img[src$=".svg"],
.icon-box-xsm .icon-container object,
.icon-box-xsm .icon-container svg {
	width: 28px;
}

.icon-box-xsm.icon-box-boxed-filled .icon-container, .icon-box-xsm.icon-box-circle .icon-container, .icon-box-xsm.icon-box-square .icon-container, .icon-box-xsm.icon-box-circle .icon-container, .icon-box-xsm.icon-box-lozenge .icon-container, .icon-box-xsm.icon-box-lozenge .icon-container, .icon-box-xsm.icon-box-hexagon .icon-container {
	font-size: 1.78571em;
}

.icon-box-xsm1 .icon-container {
	font-size: 1.28571em;
	line-height: 1.5em;
}

.icon-box-xsm1 .icon-container img[src$=".svg"],
.icon-box-xsm1 .icon-container object,
.icon-box-xsm1 .icon-container svg {
	width: 28px;
}

.icon-box-sm .icon-container {
	font-size: 2.85714em;
	line-height: 1.2em;
}

.icon-box-sm .icon-container img[src$=".svg"],
.icon-box-sm .icon-container object,
.icon-box-sm .icon-container svg {
	width: 40px;
}

.icon-box-sm.icon-box-side .icon-container {
	margin-right: 0.8em;
}

.icon-box-sm.icon-box-side.align-right .icon-container {
	margin-right: 0.8em;
}

.icon-box-sm1 .icon-container {
	width: 58px;
	height: 50px;
	font-size: 2.35714em;
	line-height: 50px;
	margin-bottom: 0.3em;
}

.icon-box-sm1 .icon-container img[src$=".svg"],
.icon-box-sm1 .icon-container object,
.icon-box-sm1 .icon-container svg {
	width: 35px;
}

.icon-box-sm1.icon-box-side .icon-container {
	margin-right: 0.8em;
	margin-left: 0;
}

.icon-box-sm1.icon-box-side.align-right .icon-container {
	margin-left: 0.8em;
	margin-right: 0;
}

.icon-box-md .icon-container {
	font-size: 3.57143em;
	line-height: 1em;
}

.icon-box-md .icon-container img[src$=".svg"],
.icon-box-md .icon-container object,
.icon-box-md .icon-container svg {
	width: 50px;
}

.icon-box-lg .icon-container {
	font-size: 2.85714em;
	line-height: 1em;
}

.icon-box-lg .icon-container img[src$=".svg"],
.icon-box-lg .icon-container object,
.icon-box-lg .icon-container svg {
	width: 56px;
}

.icon-box-xlg .icon-container {
	font-size: 4.14286em;
	line-height: 1em;
}

.icon-box-xlg .icon-container img[src$=".svg"],
.icon-box-xlg .icon-container object,
.icon-box-xlg .icon-container svg {
	width: 58px;
}

.icon-box-xxlg .icon-container {
	font-size: 4.64286em;
	line-height: 1em;
}

.icon-box-xxlg .icon-container img[src$=".svg"],
.icon-box-xxlg .icon-container object,
.icon-box-xxlg .icon-container svg {
	width: 65px;
}

.icon-box-xxxlg .icon-container {
	font-size: 5em;
	line-height: 1em;
}

.icon-box-xxxlg .icon-container img[src$=".svg"],
.icon-box-xxxlg .icon-container object,
.icon-box-xxxlg .icon-container svg {
	width: 70px;
}

.icon-box-xxxlg.icon-box-bordered.icon-box-heading-xlg h3 {
	margin-bottom: 0.5em;
}

.icon-box-xxxlg.icon-box-heading-xlg p {
	margin-top: 1.5em;
	margin-bottom: 2.5em;
}

.icon-box-app.icon-box-side h3,
.icon-box-ci.icon-box-side h3, .icon-box-side.icon-box-ci-alt h3 {
	margin-bottom: 0 !important;
}

.icon-box-app.icon-box-side p,
.icon-box-ci.icon-box-side p, .icon-box-side.icon-box-ci-alt p {
	margin-top: 0;
}

.icon-box-app.icon-box-side .icon-container,
.icon-box-ci.icon-box-side .icon-container, .icon-box-side.icon-box-ci-alt .icon-container {
	margin-right: 22px;
}

.icon-box-app.icon-box-side .contents p,
.icon-box-ci.icon-box-side .contents p, .icon-box-side.icon-box-ci-alt .contents p {
	margin-bottom: 0;
}

.icon-box-app.icon-box-side .btn,
.icon-box-ci.icon-box-side .btn, .icon-box-side.icon-box-ci-alt .btn {
	margin-top: 1em;
}

.icon-box-ci.icon-box-heading-xxsm, .icon-box-heading-xxsm.icon-box-ci-alt {
	margin-bottom: 2.85714em;
}

.icon-box-ci.icon-box-heading-xxsm .icon-container, .icon-box-heading-xxsm.icon-box-ci-alt .icon-container {
	margin-right: 10px;
}

.icon-box-ci.icon-box-heading-xxsm h3, .icon-box-heading-xxsm.icon-box-ci-alt h3 {
	font-size: 1em;
	text-transform: none;
	letter-spacing: 0.02em;
}

.icon-box-ci.icon-box-sm, .icon-box-sm.icon-box-ci-alt {
	margin-bottom: 2.14286em;
}

.icon-box-ci.icon-box-sm.icon-box-square .icon-container, .icon-box-ci.icon-box-sm.icon-box-circle .icon-container, .icon-box-sm.icon-box-circle.icon-box-ci-alt .icon-container, .icon-box-ci.icon-box-sm.icon-box-lozenge .icon-container, .icon-box-sm.icon-box-lozenge.icon-box-ci-alt .icon-container, .icon-box-sm.icon-box-square.icon-box-ci-alt .icon-container, .icon-box-ci.icon-box-sm.icon-box-circle .icon-container, .icon-box-sm.icon-box-circle.icon-box-ci-alt .icon-container, .icon-box-ci.icon-box-sm.icon-box-lozenge .icon-container, .icon-box-sm.icon-box-lozenge.icon-box-ci-alt .icon-container {
	width: 60px;
	height: 60px;
	font-size: 1.42857em;
	line-height: 60px;
}

.icon-box-ci.icon-box-sm.icon-box-heading-sm2 .icon-container, .icon-box-sm.icon-box-heading-sm2.icon-box-ci-alt .icon-container {
	margin-bottom: 0.71429em;
}

.icon-box-ci.icon-box-sm.icon-box-heading-sm2 h3, .icon-box-sm.icon-box-heading-sm2.icon-box-ci-alt h3 {
	margin-top: 0.92857em;
	text-transform: none;
	letter-spacing: 0.01em;
}

.icon-box-ci.icon-box-sm.icon-box-heading-sm2 p, .icon-box-sm.icon-box-heading-sm2.icon-box-ci-alt p {
	font-size: 0.92857em;
	line-height: 2em;
}

.icon-box-app.icon-box-side h3 {
	font-weight: 400;
}

.icon-box-app.icon-box-side .icon-container {
	margin-right: 1em;
}

.icon-box-ci h3, .icon-box-ci-alt h3 {
	margin: 0.625em 0;
}

.icon-box-ci-alt.icon-box-side .icon-container {
	height: 2em;
	width: 2em;
	font-size: 1.5em;
	margin-right: 0.3em;
}

.icon-box-hexagon .icon-container {
	position: relative;
	height: 40px;
	width: 65px;
	background: #f42958;
	border-radius: 5%/25%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.icon-box-hexagon .icon-container > svg, .icon-box-hexagon .icon-container img, .icon-box-hexagon .icon-container i {
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	color: #fff;
}

.icon-box-hexagon .icon-container:before, .icon-box-hexagon .icon-container:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: inherit;
	width: inherit;
	background: inherit;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	border-radius: inherit;
	z-index: -1;
}

.icon-box-hexagon .icon-container:before {
	-webkit-transform: rotate3d(0, 0, 1, 60deg);
	transform: rotate3d(0, 0, 1, 60deg);
}

.icon-box-hexagon .icon-container:after {
	-webkit-transform: rotate3d(0, 0, 1, -60deg);
	transform: rotate3d(0, 0, 1, -60deg);
}

.icon-box-hexagon.icon-box-heading-md h3 {
	font-size: 1.4em;
}

.icon-box-hexagon.icon-box-heading-sm2 h3 {
	margin-top: 1.57143em;
	margin-bottom: 0.71429em;
}

.icon-box-hexagon.icon-box-heading-sm2 p {
	margin-bottom: 0.64286em;
}

.icon-box-hexagon:not(.icon-box-side):not(.icon-box-inline) .icon-container {
	margin-left: auto;
	margin-right: auto;
}

.icon-box-hexagon:not(.icon-box-inline) .icon-container {
	margin-bottom: 15px;
}

.icon-box-hexagon.icon-box-inline .contents {
	margin-top: 25px;
}

/* Featured Rounded
========================*/
.icon-box-shadow-onhover {
	padding: 3em 3.2em 1.57143em;
	-webkit-transition: -webkit-box-shadow .3s ease;
	transition: -webkit-box-shadow .3s ease;
	transition: box-shadow .3s ease;
	transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.085);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.085);
}

.icon-box-shadow-onhover h3 {
	margin: 1.57143em 0 1.21429em;
}

.icon-box-shadow-onhover:hover {
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.085);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.085);
}

/* Media Queries
======================*/
@media screen and (max-width: 991px) {
	.icon-box[data-plugin-animated-icon] svg,
	.icon-box[data-plugin-animated-icon] object {
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	#content .icon-box.icon-box-side .icon-container, #content .icon-box.icon-box-side.align-right .icon-container {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.07143em;
	}
	#content .icon-box.icon-box-side .contents {
		text-align: center;
	}
	#content .icon-box.icon-middle {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
	}
	.icon-box-counter-lg .icon-container svg {
		width: 100px;
	}
	.icon-box-counter-lg .counter {
		margin-right: 5%;
	}
	.icon-box-counter-lg .counter > span {
		font-size: 3.5em;
	}
	.icon-box-heading-xlg h3 {
		font-size: 1.75em;
	}
	.icon-box-inline {
		margin-bottom: 4em;
	}
	.icon-box-boxed-unfilled-alt5 {
		padding-bottom: 2.14286em;
	}
	.icon-box-boxed-unfilled-alt5:after {
		bottom: 0;
	}
	.icon-box-boxed-unfilled-alt5 .btn {
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: none;
		transform: none;
	}
}
