.equally-sized-parent .nav-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.equally-size-child .nav-tabs > li {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.reset-nav-tab-styles .nav-tabs {
	border: 0;
}

.reset-nav-tab-styles .nav-tabs > li > a {
	margin-right: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
}

.reset-nav-tab-styles .nav-tabs > li:hover > a {
	background: none;
}

.reset-nav-tab-styles .nav-tabs > li:focus > a,
.reset-nav-tab-styles .nav-tabs > li:focus > a:focus {
	border: 0;
	background: none;
}

.reset-nav-tab-styles .nav-tabs > li.active > a {
	border: 0;
	background: none;
}

.reset-nav-pill-styles .nav-pills > li {
	margin: 0;
}

.reset-nav-pill-styles .nav-pills > li > a {
	padding: 0;
	border-radius: 0;
}

.reset-nav-pill-styles .nav-pills > li.active > a {
	color: #000;
	background: none;
}

.reset-nav-pill-styles .nav-pills > li:hover > a {
	background: none;
}

.reset-nav-pill-styles .nav-pills > li:focus > a,
.reset-nav-pill-styles .nav-pills > li > a:focus {
	background: none;
}

.center-list .nav-tabs > li {
	float: none;
	display: inline-block;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	background-color: transparent;
}

/* Tabs */
.tab-pane [class*=col-] {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: cubic-bezier(0.31, 0.71, 0.57999, 1);
	animation-timing-function: cubic-bezier(0.31, 0.71, 0.57999, 1);
}

.tab-pane .carousel-nav-style1 .carousel-items {
	padding-bottom: 43px;
}

.tab-pane .carousel-nav-style1 .flickity-page-dots {
	bottom: 0;
}

.tab-pane .carousel-nav-style1 .flickity-page-dots .dot {
	width: 12px;
	height: 12px;
}

/* Default
========================*/
.tabs-default {
	border: 1px solid #cecece;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tabs-default .nav-tabs > li > a {
	font-size: 15.4px;
	line-height: 75px;
	width: 100%;
	text-align: center;
	color: #333;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	background: #f9f9f9;
}

.tabs-default .nav-tabs > li.active > a {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #f9f9f9;
	background: #fff;
}

.tabs-default .nav-tabs > li:hover > a {
	background: #f9f9f9;
}

.tabs-default .nav-tabs > li.active:hover > a {
	background: #fff;
}

.tabs-default .nav-tabs > li:last-child > a {
	border-right: 0;
}

.tabs-default .tab-content {
	padding: 15px;
}

/* Simple
========================*/
.tabs-simple {
	border-radius: 0;
	border: 0;
}

.tabs-simple .tab-content {
	background: #fff;
}

.tabs-simple .nav-tabs li {
	margin-right: 3px;
}

.tabs-simple .nav-tabs li:last-child {
	margin-right: 0;
}

.tabs-simple .nav-tabs li a, .tabs-simple .nav-tabs li:hover a {
	background: #fff;
	border: 0;
	border-bottom: 2px solid #fafafa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tabs-simple .nav-tabs li.active a, .tabs-simple .nav-tabs li.active:hover a {
	border: 0;
	background: #f42958;
	color: #fff;
}

/* Stacked Default
========================*/
.tabs-stacked-default .nav-pills > li {
	position: relative;
	border: 1px solid #eee;
	border-bottom-width: 0;
}

.tabs-stacked-default .nav-pills > li:last-child {
	border-bottom-width: 1px;
}

.tabs-stacked-default .nav-pills > li > a {
	font-size: 1.14286em;
	line-height: 2em;
	padding: 0.75em 2.5em;
	background: #fff;
	color: #000;
	display: block;
}

.tabs-stacked-default .nav-pills > li > a i {
	position: absolute;
	top: 50%;
	right: 1.66667em;
	font-size: 1em;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #999;
}

.tabs-stacked-default .nav-pills > li:hover > a,
.tabs-stacked-default .nav-pills > li.active > a {
	background: #f42958;
	color: #fff;
}

.tabs-stacked-default .nav-pills > li:hover > a i,
.tabs-stacked-default .nav-pills > li.active > a i {
	color: #fff;
}

/* Stacked Bubble
========================*/
.tabs-stacked-bubble:before, .tabs-stacked-bubble:after {
	content: "";
	display: table;
}

.tabs-stacked-bubble:after {
	clear: both;
}

.tabs-stacked-bubble .nav-pills > li {
	position: relative;
}

.tabs-stacked-bubble .nav-pills > li > a {
	line-height: 4em;
	z-index: 5;
	padding: 0 10px;
	color: #e4442a;
}

.tabs-stacked-bubble .nav-pills > li > a .number {
	color: #f42958;
}

.tabs-stacked-bubble .nav-pills > li:hover > a,
.tabs-stacked-bubble .nav-pills > li.active > a {
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	background: #f42958;
}

.tabs-stacked-bubble .nav-pills > li:hover > a .number,
.tabs-stacked-bubble .nav-pills > li.active > a .number {
	color: #fff;
}

.tabs-stacked-bubble .nav-pills > li::before {
	opacity: 0;
}

.tabs-stacked-bubble .nav-pills > li:hover::before, .tabs-stacked-bubble .nav-pills > li.active::before {
	opacity: 1;
}

.tabs-stacked-bubble .nav-pills > li::before {
	position: absolute;
	top: 50%;
	right: -2em;
	height: 0;
	width: 0;
	content: '';
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translateY(-50%) translateX(50%);
	transform: translateY(-50%) translateX(50%);
	border: 2em solid transparent;
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: #f42958;
}

.tabs-stacked-bubble .nav-pills > li:after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 1px;
	content: '';
	background: #eee;
}

/* Stacked Bubble Invert
========================*/
.tabs-stacked-bubble-invert .nav-pills > li a {
	color: #fff;
	border-radius: 3px;
	font-size: 1.14286em;
	font-weight: 500;
	line-height: 1.5em;
	padding: 0.64286em 0;
}

.tabs-stacked-bubble-invert .nav-pills > li a i {
	font-size: 30px;
	margin-right: 20px;
	vertical-align: middle;
}

.tabs-stacked-bubble-invert .nav-pills > li:hover > a,
.tabs-stacked-bubble-invert .nav-pills > li.active > a {
	color: #f42958;
	background: none;
	padding-left: 5px;
}

.tabs-stacked-bubble-invert .nav-pills > li > a::after {
	background: #fff;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -10px;
	width: 0;
	z-index: -1;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0;
}

.tabs-stacked-bubble-invert .nav-pills > li:hover > a::after,
.tabs-stacked-bubble-invert .nav-pills > li.active > a::after {
	opacity: 1;
	width: 100%;
}

.tabs-stacked-bubble-invert .nav-pills > li.active::before, .tabs-stacked-bubble-invert .nav-pills > li::before {
	position: absolute;
	top: 50%;
	right: 2px;
	height: 0;
	width: 0;
	content: '';
	-webkit-transition: 0s;
	transition: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(-15px);
	transform: translateY(-50%) translateX(-15px);
	border: 8px solid transparent;
	border-left-color: #fff;
}

.tabs-stacked-bubble-invert .nav-pills > li.active::before, .tabs-stacked-bubble-invert .nav-pills > li:hover::before {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(50%);
	transform: translateY(-50%) translateX(50%);
	-webkit-transition: all 0.2s ease-out 0.2s;
	transition: all 0.2s ease-out 0.2s;
}

.tabs-stacked-bubble-invert .nav-pills > li:after {
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), color-stop(75%, rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0) 100%);
}

.tabs-stacked-bubble-invert .tab-content {
	color: #fff;
	font-size: 1.07143em;
	line-height: 2em;
}

.tabs-stacked-bubble-invert h3 {
	font-size: 1.57143em;
	line-height: 1.36364em;
}

/* Icon Dots
========================*/
.tabs-icon-dots {
	position: relative;
}

.tabs-icon-dots span.bg-line {
	position: absolute;
	top: 145px;
	left: 50%;
	height: 1px;
	display: block;
	height: 1px;
	opacity: 0.16;
	background: #000;
}

.tabs-icon-dots .nav-tabs > li > a {
	font-size: 0.9375em;
	line-height: 2.5em;
	margin-bottom: 3.125em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color: #000;
}

.tabs-icon-dots .nav-tabs > li > a .icon-container {
	height: 100px;
	margin-bottom: 40px;
	display: block;
	transition: all 0.3s;
}

.tabs-icon-dots .nav-tabs > li > a .icon-container i,
.tabs-icon-dots .nav-tabs > li > a .icon-container span {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 65px;
	line-height: 100px;
}

.tabs-icon-dots .nav-tabs > li > a svg {
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	height: 100px;
	margin-bottom: 40px;
	text-align: center;
	display: block;
}

.tabs-icon-dots .nav-tabs > li > a svg line, .tabs-icon-dots .nav-tabs > li > a svg rect, .tabs-icon-dots .nav-tabs > li > a svg g {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.tabs-icon-dots .nav-tabs > li > a span.number-with-dot {
	font-size: 0.86667em;
	display: block;
	color: #f42958;
}

.tabs-icon-dots .nav-tabs > li > a span.number-with-dot::before {
	display: block;
	height: 10px;
	width: 10px;
	margin: 0 auto 2.14286em;
	content: '';
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 100px;
	background: #f42958;
}

.tabs-icon-dots .nav-tabs > li > a:hover .icon-container {
	transform: translateY(-5px);
}

.tabs-icon-dots .nav-tabs > li.active > a, .tabs-icon-dots .nav-tabs > li.active > a i, .tabs-icon-dots .nav-tabs > li.active > a svg, .tabs-icon-dots .nav-tabs > li > .active > a .icon-container {
	color: #f42958;
}

.tabs-icon-dots .nav-tabs > li.active > a i, .tabs-icon-dots .nav-tabs > li.active > a span, .tabs-icon-dots .nav-tabs > li.active > a i i, .tabs-icon-dots .nav-tabs > li.active > a i span, .tabs-icon-dots .nav-tabs > li.active > a svg i, .tabs-icon-dots .nav-tabs > li.active > a svg span, .tabs-icon-dots .nav-tabs > li > .active > a .icon-container i, .tabs-icon-dots .nav-tabs > li > .active > a .icon-container span {
	color: #f42958;
}

.tabs-icon-dots .nav-tabs > li.active > a g, .tabs-icon-dots .nav-tabs > li.active > a line, .tabs-icon-dots .nav-tabs > li.active > a rect, .tabs-icon-dots .nav-tabs > li.active > a i g, .tabs-icon-dots .nav-tabs > li.active > a i line, .tabs-icon-dots .nav-tabs > li.active > a i rect, .tabs-icon-dots .nav-tabs > li.active > a svg g, .tabs-icon-dots .nav-tabs > li.active > a svg line, .tabs-icon-dots .nav-tabs > li.active > a svg rect, .tabs-icon-dots .nav-tabs > li > .active > a .icon-container g, .tabs-icon-dots .nav-tabs > li > .active > a .icon-container line, .tabs-icon-dots .nav-tabs > li > .active > a .icon-container rect {
	stroke: #f42958;
}

/* Border
========================*/
.tabs-border {
	border-radius: 0;
	font-size: 1em;
	position: relative;
	border-color: #e5e5e5;
}

.tabs-border:before, .tabs-border:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	background: #F9F9F9;
	border: 1px solid #e5e5e5;
	height: 50px;
	z-index: -1;
}

.tabs-border:before {
	bottom: -6px;
	right: 10px;
	width: calc(100% - 20px);
	z-index: -5;
}

.tabs-border:after {
	bottom: -9px;
	right: 15px;
	width: calc(100% - 30px);
	z-index: -10;
}

.tabs-border .tab-content {
	background: #fff;
}

.tabs-border .nav-tabs li a {
	padding: 0.85714em;
	line-height: 1.5em;
	background: transparent;
	letter-spacing: 0.075em;
	font-weight: 700;
	border-color: #e5e5e5;
}

.tabs-border .nav-tabs li a:before {
	content: '';
	display: inline-block;
	height: 2px;
	opacity: 0;
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	background-color: #f42958;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.tabs-border .nav-tabs li:hover a {
	background-color: transparent;
}

.tabs-border .nav-tabs li.active a {
	color: #f42958;
	border-bottom-color: #e5e5e5;
	border-top-color: transparent;
}

.tabs-border .nav-tabs li.active a:before {
	opacity: 1;
}

.tabs-border .tab-content {
	overflow: hidden;
}

.tabs-border .tab-content h3 {
	margin-bottom: 0.3em;
}

.tabs-border .tab-content p {
	margin-bottom: 1.42857em;
}

/* Border Floated
========================*/
.tabs-border-floated:before, .tabs-border-floated:after {
	display: none;
}

.tabs-border-floated .nav-tabs .title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	padding: 2.3em 0;
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-left: 0;
	text-align: center;
}

.tabs-border-floated .nav-tabs .title h4 {
	margin: 0;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 1.5em;
	letter-spacing: 0.075em;
}

.tabs-border-floated .nav-tabs li a {
	padding: 2.3em 0;
	height: 100%;
	font-size: 1em;
	color: #f42958;
	background: #fff;
	line-height: 1em;
	overflow: hidden;
}

.tabs-border-floated .nav-tabs li a:before {
	content: none;
}

.tabs-border-floated .nav-tabs .date {
	font-size: 2em;
	line-height: 0.6;
	font-weight: 500;
	margin-bottom: 0.166666667em;
}

.tabs-border-floated .nav-tabs li.active a, .tabs-border-floated .nav-tabs li:hover a, .tabs-border-floated .nav-tabs li.active:hover a {
	background: #f42958;
	color: #fff !important;
}

.tabs-border-floated .tab-content {
	padding: 0;
}

.tabs-border-floated .tab-content h3 {
	margin-bottom: 0.6em;
}

.tabs-border-floated .tab-content .wpb_text_column i {
	margin-right: 10px;
}

/* Shadow
========================*/
.tabs-shadow {
	margin-bottom: 2.14286em;
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.tabs-shadow .tab-content {
	background: #fff;
}

.tabs-shadow .nav-tabs {
	border-bottom-color: #fff;
}

.tabs-shadow .nav-tabs li a, .tabs-shadow .nav-tabs li:hover a {
	border-color: #fff;
	background: #EDEDED;
	font-weight: 700;
	letter-spacing: 0.05em;
	font-size: 1em;
	line-height: 3.33333em;
}

.tabs-shadow .nav-tabs li.active a {
	background: #fff;
	border-color: transparent;
	color: #f42958;
}

.tabs-shadow h3 {
	margin-bottom: 20px;
}

.tabs-shadow p {
	margin-bottom: 10px;
}

.tabs-shadow p .fa {
	color: #f42958;
	margin-right: 5px;
}

.tabs-shadow h6 {
	display: inline-block;
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 0.86667em;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-right: 20px;
}

.tabs-shadow h6 .fa {
	font-size: 30px;
	vertical-align: middle;
	color: #D2D2D2;
	margin-right: 5px;
}

.tabs-shadow.tabs-heading-sm .nav-tabs li a, .tabs-shadow.tabs-heading-sm .nav-tabs li:hover a {
	font-size: 0.86667em;
}

.tabs-shadow.tabs-heading-sm p {
	color: #868686;
}

/* Naked
========================*/
.tabs-naked .nav-tabs {
	border-bottom: 0;
	text-align: center;
}

.tabs-naked .nav-tabs > li {
	margin-right: 5px;
}

.tabs-naked .nav-tabs > li i {
	display: none;
	opacity: 0;
	font-size: 1.6667em;
	vertical-align: middle;
	line-height: 3em;
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}

.tabs-naked .nav-tabs > li a, .tabs-naked .nav-tabs > li a:hover, .tabs-naked .nav-tabs > li.active a {
	border: 0;
	letter-spacing: 0.05384em;
	text-transform: uppercase;
	padding: 0 2em;
	font-size: 13px;
	line-height: 3.4615em;
}

.tabs-naked .nav-tabs > li a, .tabs-naked .nav-tabs > li:hover a {
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
}

.tabs-naked .nav-tabs > li.active a, .tabs-naked .nav-tabs > li.active:hover a {
	background: #fff;
	color: #f42958;
}

.tabs-naked .nav-tabs > li.active a i, .tabs-naked .nav-tabs > li.active:hover a i {
	display: inline-block;
	opacity: 1;
}

.tabs-naked.tabs-sm .nav-tabs > li a {
	font-size: 0.8667em;
	font-weight: 600;
}

/* Border Center
========================*/
.tabs-border-center .tab-content {
	margin-top: 20px;
}

.tabs-border-center .nav-tabs {
	text-align: center;
	margin-bottom: 4.66667em;
}

.tabs-border-center .nav-tabs > li {
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	margin-right: 0;
}

.tabs-border-center .nav-tabs > li:first-child {
	border-left: 1px solid #ececec;
}

.tabs-border-center .nav-tabs > li:last-child {
	border-right: 1px solid #ececec;
}

.tabs-border-center .nav-tabs > li a,
.tabs-border-center .nav-tabs > li:hover a,
.tabs-border-center .nav-tabs > li.active a {
	background: none;
	color: #000;
	margin: 0;
	padding: 0.85714em 45px;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-size: 1em;
}

.tabs-border-center .nav-tabs > li.active a, .tabs-border-center .nav-tabs > li.active:hover a {
	color: #fff;
	background: #f42958;
}

/* Border Center Alt
========================*/
.tabs-border-center-alt .nav-tabs {
	margin-bottom: 5.33333em;
}

.tabs-border-center-alt .nav-tabs > li a,
.tabs-border-center-alt .nav-tabs > li:hover a,
.tabs-border-center-alt .nav-tabs > li.active a {
	text-transform: none;
	font-size: 1.33333em;
	line-height: 2.5em;
	letter-spacing: 0;
	font-weight: 400;
	padding: 0 2.5em;
}

.tabs-border-center-alt .nav-tabs > li.active a,
.tabs-border-center-alt .nav-tabs > li.active:hover a {
	background-color: #f42958;
	color: #fff;
}

/* Border Center Alt 2
========================*/
.tabs-border-center-alt2 .nav-tabs {
	margin-bottom: 2em;
}

.tabs-border-center-alt2 .nav-tabs > li {
	border-left: 1px solid #eee;
}

.tabs-border-center-alt2 .nav-tabs > li:hover a,
.tabs-border-center-alt2 .nav-tabs > li.active a,
.tabs-border-center-alt2 .nav-tabs > li a {
	font-size: 0.93333em;
	line-height: 3.57143em;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}

.tabs-border-center-alt2 .nav-tabs > li.active a,
.tabs-border-center-alt2 .nav-tabs > li.active:hover a,
.tabs-border-center-alt2 .nav-tabs > li:focus a {
	background: #f8f8f8;
	color: #000;
}

/* Switch Center
========================*/
.tabs-switch-center .nav-tabs > li {
	border: 0 !important;
	font-size: 1em;
}

.tabs-switch-center .nav-tabs > li a, .tabs-switch-center .nav-tabs > li:hover a, .tabs-switch-center .nav-tabs > li.active a {
	padding-right: 2.33333em;
	padding-left: 2.33333em;
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 0.16667em;
	line-height: 3.16667em;
	color: #fff;
	background: #f42958;
}

.tabs-switch-center .nav-tabs > li.active a, .tabs-switch-center .nav-tabs > li.active:hover a {
	background: #fff;
	color: #000;
	-webkit-box-shadow: inset 0 0 0 2px #f42958;
	box-shadow: inset 0 0 0 2px #f42958;
}

/* Switch Center
========================*/
.tabs-switch-center-gradient .nav-tabs {
	position: relative;
	display: inline-block;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tabs-switch-center-gradient .nav-tabs:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	z-index: -1;
	background: linear-gradient(120deg, #1b90d1 0%, #0face4 100%);
}

.tabs-switch-center-gradient .nav-tabs > li a,
.tabs-switch-center-gradient .nav-tabs > li:hover a,
.tabs-switch-center-gradient .nav-tabs > li.active a {
	display: block;
	padding: 1em 2.5em;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	border: 0;
	font-weight: 600;
	font-size: 0.933333em;
	line-height: 1.5em;
	letter-spacing: 0.1em;
}

.tabs-switch-center-gradient .nav-tabs > li.active a,
.tabs-switch-center-gradient .nav-tabs > li.active a:hover,
.tabs-switch-center-gradient .nav-tabs > li.active:hover a {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #fff;
}

.tabs-switch-center-gradient .nav-tabs > li:last-child {
	/* padding-right: 7px;*/
}

/* Broad Border
========================*/
.tabs-broad-border .nav-tabs {
	border: 1px solid #e6ecf3;
	margin-bottom: 4.28571em;
	text-align: center;
}

.tabs-broad-border .nav-tabs > li {
	font-size: 1em;
}

.tabs-broad-border .nav-tabs > li a {
	font-size: 0.86667em;
	line-height: 4.61538em;
	letter-spacing: 0.19231em;
	text-transform: uppercase;
	padding: 0 1.66667em;
	color: #000;
}

.tabs-broad-border .nav-tabs > li.active a {
	color: #f42958;
}

.broad-border-alt .nav-tabs {
	margin-bottom: 3.92857em;
	text-align: center;
}

.broad-border-alt .nav-tabs li {
	line-height: 1.5em;
}

.broad-border-alt .nav-tabs li a {
	padding: 1.07143em 2.14286em;
	font-size: 1em;
	letter-spacing: 0.12;
	line-height: 1.5em;
}

.broad-border-alt .nav-tabs li.active a {
	color: #000;
	background-color: #f7f7f7;
}

/* History
========================*/
.tabs-history .navbar-nav {
	margin-top: 40px;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: none;
}

.tabs-history .navbar-nav li {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.tabs-history .navbar-nav li a {
	padding: 0;
	font-weight: bold;
	text-align: center;
}

.tabs-history .navbar-nav li a:before, .tabs-history .navbar-nav li a:after {
	content: '';
	width: 45%;
	height: 1px;
	background: #f42958;
	position: absolute;
	top: 9.8px;
	right: 0;
}

.tabs-history .navbar-nav li a:after {
	right: auto;
	left: 0;
}

.tabs-history .navbar-nav li.active a,
.tabs-history .navbar-nav li a {
	background: none;
}

.tabs-history .navbar-nav li a {
	color: #000;
}

.tabs-history .navbar-nav li.active a {
	color: #e4442a;
}

.tabs-history .navbar-nav li.active i {
	color: #e4442a;
}

.tabs-history .navbar-nav i {
	color: #000;
	margin-bottom: 15px;
}

.tabs-history .navbar-nav i + i {
	display: none;
}

/* Icon Center
========================*/
.tabs-icon-center .nav-tabs {
	margin-bottom: 6.42857em;
	text-align: center;
}

.tabs-icon-center .nav-tabs > li {
	margin: 0 20px;
}

.tabs-icon-center .nav-tabs > li a {
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 1px #ddd;
	box-shadow: 0 0 0 1px #ddd;
	padding: 30px;
	font-size: 15px;
	color: #000;
}

.tabs-icon-center .nav-tabs > li.active a {
	-webkit-box-shadow: 0 0 0 2px #4360E0;
	box-shadow: 0 0 0 2px #4360E0;
}

.tabs-icon-center .nav-tabs > li.active a span {
	color: #4776e6;
}

.tabs-icon-center .nav-tabs > li:hover a {
	color: #000;
}

.tabs-icon-center .nav-tabs span {
	display: block;
	height: 60px;
	width: 60px;
	margin: 0 auto 15px;
	font-size: 60px;
}

/* Title naked
========================*/
.tabs-title-naked .nav-tabs {
	border: none;
	margin-bottom: 3.42857em;
}

.tabs-title-naked .nav-tabs li {
	float: none;
	display: inline-block;
	margin-bottom: 0.28571em;
	margin-right: 20px;
	padding-bottom: 0.05em;
	font-size: 6.07143em;
	line-height: 1em;
	font-weight: 600;
	letter-spacing: -0.025em;
}

.tabs-title-naked .nav-tabs li a {
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	line-height: 1.09em;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tabs-title-naked .nav-tabs li a:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #e5e5e5;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.tabs-title-naked .nav-tabs li a:before {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -6px;
	left: 50%;
	border-style: solid;
	height: 0;
	width: 0;
	border-color: #f42958 transparent transparent;
	border-width: 6px 6px 0;
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.tabs-title-naked .nav-tabs li a:focus, .tabs-title-naked .nav-tabs li a:hover {
	background-color: transparent;
	border: none;
}

.tabs-title-naked .nav-tabs li a[data-lettering]:after {
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

.tabs-title-naked .nav-tabs li a[data-lettering]:before {
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}

.tabs-title-naked .nav-tabs li a.tweening-done:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.tabs-title-naked .nav-tabs li a.tweening-done:before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.tabs-title-naked .nav-tabs li:last-of-type {
	margin-right: 0;
}

.tabs-title-naked .nav-tabs li.active a {
	color: #f42958;
}

.tabs-title-naked .nav-tabs li.active a:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.tabs-title-naked .nav-tabs li.active a:after {
	height: 3px;
	background-color: #f42958;
}

.tabs-title-naked .nav-tabs li.active a[data-lettering]:before {
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}

.tabs-title-naked .nav-tabs li.active a[data-lettering].tweening-done:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.tabs-title-naked h4 {
	margin: 0.14286em 0;
}

.tabs-side {
	position: relative;
}

.tabs-side .nav-tabs {
	float: right;
	position: absolute;
	top: -15px;
	right: -1.5em;
	-webkit-transform-origin: right center;
	transform-origin: right center;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.tabs-side .nav-tabs li a {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.12em;
	display: inline-block;
	padding-bottom: 6px;
	border-bottom: 1px solid transparent;
}

.tabs-side .nav-tabs li.active > a {
	color: #f42958;
	border-bottom-color: transparent;
}

.tabs-side .nav-tabs li:hover a {
	border-bottom: 1px solid #f42958;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.tabs-side .nav-tabs li:after {
	content: "/";
	margin: 0 10px;
}

.tabs-side .nav-tabs li:last-child:after {
	display: none;
}

.tabs-side.align-right .nav-tabs {
	right: auto;
	left: -10px;
	-webkit-transform: translateX(-100%) rotate(-90deg);
	transform: translateX(-100%) rotate(-90deg);
}

/* Underlined
========================*/
.tabs-underlined .nav-tabs {
	text-align: center;
	margin-bottom: 60px;
}

.tabs-underlined .nav-tabs li {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 0.86667em;
	font-weight: 700;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.tabs-underlined .nav-tabs li a {
	position: relative;
	line-height: 2.5em;
}

.tabs-underlined .nav-tabs li a:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	transform: scaleX(0);
	transform-origin: right center;
	transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.tabs-underlined .nav-tabs li.active a,
.tabs-underlined .nav-tabs li a:hover {
	color: #000;
}

.tabs-underlined .nav-tabs li.active a:after,
.tabs-underlined .nav-tabs li a:hover:after {
	transform: scaleX(1);
	transform-origin: left center;
}

/* Responsive*/
@media (max-width: 991px) {
	.equally-size-child .nav-tabs > li {
		flex-basis: 100%;
		width: 100%;
	}
	.tabs-border-floated .nav-tabs li {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		border-bottom: 1px solid #e5e5e5;
	}
	.tabs-border-floated .nav-tabs li:last-child:nth-child(even) {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
	.tabs-border-floated .nav-tabs .title {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		border-bottom: 2px solid #e5e5e5;
	}
	.tabs-icon-dots span.bg-line {
		display: none;
	}
	.tabs-icon-dots .nav-tabs > li {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
	.tabs-icon-dots .nav-tabs > li > a .icon-container {
		height: auto;
		margin-bottom: 1.42857em;
		line-height: 1;
	}
	.tabs-icon-dots .nav-tabs > li > a .icon-container i {
		font-size: 50px;
		line-height: 1;
	}
	.tabs-icon-dots .nav-tabs > li > a span.number-with-dot {
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.tabs-border-floated .nav-tabs .title h4 {
		font-size: 1em;
	}
}

@media (max-width: 768px) {
	.tabs-title-naked .nav-tabs li {
		display: block;
		font-size: 3.92857em;
	}
	.tabs-naked .nav-tabs > li {
		display: block;
		margin-top: 0;
		margin-bottom: 1.07143em;
	}
	.tabs-naked .nav-tabs > li > a {
		border-radius: 4px;
	}
	.tabs-naked .nav-tabs > li:hover a,
	.tabs-naked .nav-tabs > li a {
		background-color: rgba(0, 0, 0, 0.65);
	}
	.tabs-broad-border .nav-tabs > li {
		display: block;
	}
	.tabs-border-center .nav-tabs > li,
	.tabs-border-center-alt .nav-tabs > li,
	.tabs-border-center-alt2 .nav-tabs > li,
	.tabs-switch-center .nav-tabs > li,
	.tabs-switch-center-gradient .nav-tabs > li {
		display: block;
	}
	.tabs-icon-center .nav-tabs > li {
		display: block;
		margin: 0 15px 15px;
	}
}

@media (max-width: 543px) {
	.tabs-title-naked .nav-tabs li {
		font-size: 3.21429em;
	}
}
