/* Latest Posts */
.latest-posts,
.latest-posts figure {
	position: relative;
}

.latest-posts > figure img {
	width: 100%;
	height: auto;
}

.latest-posts .entry-title {
	display: block;
	line-height: 1.826em;
	font-size: 0.652em;
}

.latest-posts .aspect-ratio-container {
	max-width: 100% !important;
	max-height: none !important;
}

.latest-posts .aspect-ratio-fill {
	padding-bottom: 0 !important;
	overflow: hidden;
}

.latest-posts .aspect-ratio-fill img {
	width: 100% !important;
	height: auto !important;
}

.latest-posts .aspect-ratio-fill .progressive__img {
	position: relative;
	top: auto;
	left: auto;
}

.latest-post-no-margin {
	margin-bottom: 0 !important;
}

.latest-posts-carousel-nav > .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.latest-posts-carousel-nav > .row > [class^=col-] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.latest-posts-carousel-nav > .row > [class^=col-] > .row {
	display: block;
	width: 100%;
}

.latest-posts-carousel-nav .carousel-nav {
	border: 2px solid #f9f9f9;
}

.latest-posts-carousel-nav .carousel-nav .section-title hr {
	margin-left: 0;
	margin-right: auto;
}

.latest-posts-carousel-nav .latest-posts {
	margin-bottom: 0;
}

.latest-default {
	margin-bottom: 3.75em;
}

.latest-default .entry-title {
	font-size: 1.26667em;
	letter-spacing: 0.01px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0.4em;
	margin-left: 0;
}

.latest-default .entry-title a {
	color: #000;
}

.latest-default .entry-title a:hover {
	color: #f42958;
}

.latest-default .meta {
	font-size: 0.86667em;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.latest-default .excerpt p {
	margin-bottom: 0;
}

.latest-default .btn {
	margin-top: 30px;
}

.latest-default .latest-content .subheading {
	margin-top: 20px;
	margin-bottom: 15px;
}

.latest-default .latest-content .subheading, .latest-default .latest-content .subheading a {
	color: #ccc;
}

.latest-default .latest-content .subheading a {
	text-decoration: underline;
}

.latest-border, .latest-border-tabular {
	border: 1px solid #eee;
	background: #fff;
}

.latest-border .latest-content, .latest-border-tabular .latest-content {
	padding: 2.8em 20px 2.8em 35px;
}

.latest-shadow {
	background: #fff;
	-webkit-box-shadow: 3px 10px 20px 0 rgba(0, 0, 0, 0.07);
	box-shadow: 3px 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.latest-shadow .latest-content {
	padding: 2.8em 20px 2.8em 35px;
}

.latest-shadow-2 {
	background: #fff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.latest-shadow-2 .latest-content {
	padding: 2.8em 20px 2.8em 35px;
}

.latest-shadow-2 .read-more.btn {
	font-size: 14px;
	letter-spacing: 2px;
}

.latest-bg-grey {
	background: #fbfbfb;
}

.latest-bg-grey .latest-content {
	padding: 2.8em 20px 2.8em 35px;
}

.latest-hover-shadow:hover {
	-webkit-transition: box-shadow 300ms;
	-webkit-transition: -webkit-box-shadow 300ms;
	transition: -webkit-box-shadow 300ms;
	transition: box-shadow 300ms;
	transition: box-shadow 300ms, -webkit-box-shadow 300ms;
	-webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.latest-background {
	background: #fff;
}

.latest-title-md .entry-title {
	font-size: 1.4em;
	letter-spacing: 0;
	margin-bottom: 1.19048em;
}

.latest-title-md.title-no-margin .entry-title {
	margin-bottom: 0.5em;
}

.latest-title-md.title-no-margin .subheading {
	margin-top: 0;
}

.latest-title-md2 .entry-title {
	font-size: 1.53846em;
	letter-spacing: 0;
	margin-bottom: 0.5em;
}

.latest-title-md2.title-no-margin .entry-title {
	margin-bottom: 0.5em;
}

.latest-title-md2.title-no-margin .subheading {
	margin-top: 0;
}

.latest-title-md3 .entry-title {
	font-size: 20px;
	letter-spacing: 0;
	margin-bottom: 0.5em;
}

.latest-title-md3 .btn {
	margin-top: 20px;
	font-size: 13px;
	font-weight: 600;
}

.latest-title-md3.latest-content-extra-padding-sm2 .read-more {
	margin-top: 10px;
}

.latest-title-lg .entry-title {
	font-size: 1.5625em;
	margin-bottom: 0.6em;
}

.latest-title-lg2 .entry-title {
	font-size: 1.66667em;
	margin-bottom: 0.6em;
}

.latest-title-lg3 {
	/* Corporate 3 */
}

.latest-title-lg3 .entry-title {
	font-size: 23px;
	margin-bottom: 0.43478em;
	letter-spacing: -0.025em;
}

.latest-title-lg3.meta-sm4 .entry-title {
	margin-bottom: 25px;
}

.latest-title-lg3.meta-sm4 .meta {
	margin-bottom: 20px;
}

.latest-title-lg4 .entry-title {
	font-size: 22px;
	margin-bottom: 0.43478em;
	letter-spacing: -0.025em;
}

.latest-light-title .entry-title {
	font-weight: 300;
}

.latest-normal-title .entry-title {
	font-weight: 400;
}

.latest-bold-title .entry-title {
	font-weight: 700;
}

.latest-content-extra-padding .latest-content {
	padding: 2.8em 20px 2.8em 35px;
}

.latest-content-extra-padding2 .latest-content {
	padding: 1.6em 20px 2em 35px;
}

.latest-content-extra-padding2.meta-sticky-up .latest-content {
	padding: 2em 38px 2.25em;
}

.latest-content-extra-padding3 .latest-content {
	padding: 2.3333em 35px 2.5em 45px;
}

.latest-content-extra-padding-sm .latest-content {
	padding: 2em 0;
}

.latest-content-extra-padding-sm2 .latest-content {
	padding: 15px 0;
}

.latest-content-extra-padding-sm2 p {
	line-height: 2em;
}

.latest-content-extra-padding-sm2.meta-caption.meta-sm2 .meta {
	padding-top: 13px;
	padding-bottom: 13px;
}

.latest-content-extra-padding-sm2.meta-caption.meta-sm2 .latest-content {
	padding-top: 2em;
}

.latest-content-extra-padding-sm2.meta-caption.meta-sm2 .latest-content h3 {
	margin-bottom: 0.71429em;
}

.latest-content-extra-padding-sm2.meta-caption.meta-sm2 .latest-content p {
	margin-bottom: 0.57143em;
}

.latest-content-no-padding {
	padding-top: 0 !important;
}

.latest-meta .meta,
.meta-caption .meta {
	font-size: 13px;
	line-height: 2.308em;
	margin-bottom: 1.154em;
	letter-spacing: 0.07692em;
	color: rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.latest-meta .meta a,
.meta-caption .meta a {
	color: rgba(0, 0, 0, 0.25);
}

.latest-meta .meta a:hover,
.meta-caption .meta a:hover {
	color: #f42958;
}

.latest-meta .meta time::after,
.latest-meta .meta .user::after,
.latest-meta .meta .tags::after,
.latest-meta .meta .comments::after,
.latest-meta .meta .author::after,
.meta-caption .meta time::after,
.meta-caption .meta .user::after,
.meta-caption .meta .tags::after,
.meta-caption .meta .comments::after,
.meta-caption .meta .author::after {
	content: '\002C\0020';
}

.latest-meta .meta time:last-child::after,
.latest-meta .meta .user:last-child::after,
.latest-meta .meta .tags:last-child::after,
.latest-meta .meta .comments:last-child::after,
.latest-meta .meta .author:last-child::after,
.meta-caption .meta time:last-child::after,
.meta-caption .meta .user:last-child::after,
.meta-caption .meta .tags:last-child::after,
.meta-caption .meta .comments:last-child::after,
.meta-caption .meta .author:last-child::after {
	content: '';
}

.latest-meta.meta-sm .meta,
.latest-meta.meta-sm2 .meta,
.meta-caption.meta-sm .meta,
.meta-caption.meta-sm2 .meta {
	line-height: 1em;
	font-size: 1em;
	letter-spacing: 0;
	padding: 0.66667em 1.33333em;
}

.latest-meta.meta-sm2 .meta,
.meta-caption.meta-sm2 .meta {
	letter-spacing: 1.5px;
	font-weight: 600;
	font-size: 0.875em;
	padding: 0.85714em 1.57143em;
}

.latest-meta.meta-sm2.latest-title-md3 .meta,
.meta-caption.meta-sm2.latest-title-md3 .meta {
	font-size: 0.785714286em;
}

.latest-meta.meta-sm3 .meta,
.meta-caption.meta-sm3 .meta {
	font-size: 0.8666em;
	line-height: 1.385em;
	letter-spacing: 0.075em;
	font-weight: 700;
	padding: 0.66667em 1.33333em;
}

.latest-meta.meta-sm4 .meta,
.meta-caption.meta-sm4 .meta {
	font-size: 11px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 1.5px;
	color: #d3d3d3;
}

.latest-meta.meta-sm4 .meta a,
.meta-caption.meta-sm4 .meta a {
	color: #d3d3d3;
}

.latest-meta.meta-sm4 .meta a:hover,
.meta-caption.meta-sm4 .meta a:hover {
	color: #f42958;
}

.latest-meta.meta-sm5 .meta,
.meta-caption.meta-sm5 .meta {
	font-size: 12px;
	line-height: 3em;
	letter-spacing: 1.5px;
}

.latest-meta.meta-sm5 .meta a:hover,
.meta-caption.meta-sm5 .meta a:hover {
	color: #f42958;
}

.latest-meta.meta-sm6 .meta,
.meta-caption.meta-sm6 .meta {
	font-size: 11px;
	line-height: 3.2em;
}

.latest-meta.meta-lg .meta,
.meta-caption.meta-lg .meta {
	font-size: 0.86667em;
	line-height: 1.9230em;
	letter-spacing: 0.199em;
	font-weight: 600;
	padding: 0.7692em 1.53814em;
}

.latest-meta.meta-lg2 .meta,
.meta-caption.meta-lg2 .meta {
	position: relative !important;
	top: -1px;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	font-size: 1em;
	letter-spacing: 0;
	line-height: 1.7em;
	font-weight: 400;
	padding: 0.7692em 0;
}

.latest-meta.meta-lg2 .meta i,
.meta-caption.meta-lg2 .meta i {
	margin-right: 5px;
}

.latest-meta.meta-lg3 .meta,
.meta-caption.meta-lg3 .meta {
	font-size: 13px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.meta-caption .meta {
	background-color: #f42958;
	line-height: 1.385em;
	padding: 0 15px;
	margin: 0;
}

.meta-caption .meta,
.meta-caption .meta span a,
.meta-caption .meta span a:hover {
	color: #fff;
}

.meta-caption .aspect-ratio-container + .meta,
.meta-caption img + .meta {
	position: absolute;
	bottom: -1px;
	left: 0;
}

.latest-meta .meta {
	margin-bottom: 0.5em;
}

.latest-meta .read-more {
	font-weight: 500;
}

.latest-meta2 .meta, .latest-meta2 .meta a {
	color: rgba(0, 0, 0, 0.4);
}

.meta-no-comma .meta time,
.meta-no-comma .meta .user,
.meta-no-comma .meta .tags,
.meta-no-comma .meta .comments,
.meta-no-comma .meta .author {
	margin-right: 20px;
}

.meta-no-comma .meta time:last-child,
.meta-no-comma .meta .user:last-child,
.meta-no-comma .meta .tags:last-child,
.meta-no-comma .meta .comments:last-child,
.meta-no-comma .meta .author:last-child {
	margin-right: 0;
}

.meta-no-comma .meta time::after,
.meta-no-comma .meta .user::after,
.meta-no-comma .meta .tags::after,
.meta-no-comma .meta .comments::after,
.meta-no-comma .meta .author::after {
	content: '';
}

.meta-sticky-up img + .meta,
.meta-sticky-up .aspect-ratio-container + .meta {
	top: 0;
	bottom: auto;
	left: 35px;
}

.meta-sticky-up .read-more {
	margin-top: 1.3333em;
}

.meta-sticky-up .entry-title {
	margin-bottom: 0.7894736em;
}

.meta-sticky-down .meta {
	right: 0;
}

.meta-sticky-left img + .meta,
.meta-sticky-left .aspect-ratio-container + .meta {
	left: 0;
	right: auto;
	top: 20px;
	background-color: #000;
	bottom: auto !important;
	text-align: center;
	text-transform: uppercase;
}

.meta-caption-grouped .meta {
	top: 20px;
	left: 20px;
	background: none;
}

.meta-caption-grouped .meta time,
.meta-caption-grouped .meta .comments {
	font-size: 0.73333em;
	float: left;
	min-width: 5.45455em;
	padding: 10px;
	margin-right: 0;
	text-align: center;
}

.meta-caption-grouped .meta time i,
.meta-caption-grouped .meta .comments i {
	font-size: 1.54545em;
	margin-bottom: 0.29412em;
}

.meta-caption-grouped .meta time {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	background: #f42958;
}

.meta-caption-grouped .meta .comments {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background: #2331f5;
}

.latest-read-more-sm .read-more {
	font-size: 0.93333em;
	font-weight: 600;
}

.meta-caption-rhombus {
	margin-bottom: 3.8461em;
}

.meta-caption-rhombus .latest-content {
	padding: 3.8461em 3.0769em 2.6923em;
}

.meta-caption-rhombus footer .btn {
	margin-top: 1.5384em;
}

.meta-caption-rhombus .meta {
	padding: 0 1em;
	position: absolute;
	bottom: -1.38889em;
	left: 50px;
	right: auto;
	z-index: 1;
	background-color: transparent !important;
	vertical-align: middle;
	font-size: 1.28571em;
	font-weight: 700;
	line-height: 2.75em;
	letter-spacing: 0;
}

.meta-caption-rhombus .meta i {
	margin-right: 0.3846em;
	line-height: 1.3846em;
	font-size: 0.7222em;
	vertical-align: middle;
}

.meta-caption-rhombus .meta:before {
	content: '';
	background-color: #f42958;
	-webkit-transform: skew(-30deg);
	transform: skew(-30deg);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* SVG Hover
========================*/
.latest-svg-hover {
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: 0.025em;
}

.latest-svg-hover .entry-title {
	margin-bottom: 0.8em;
	font-size: 1.66667em;
	font-weight: 400;
	line-height: 1.44em;
	letter-spacing: 0.01em;
}

.latest-svg-hover .latest-content {
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.latest-svg-hover .meta {
	margin-bottom: 1.3em;
	font-size: 1em;
	letter-spacing: 0.1em;
	font-weight: 400;
	color: #c8c8c8;
}

.latest-svg-hover .meta a {
	color: #f42958;
}

.latest-svg-hover footer, .latest-svg-hover svg {
	-webkit-transition: all 0.8s cubic-bezier(0.18, 0.765, 0.32, 0.975);
	transition: all 0.8s cubic-bezier(0.18, 0.765, 0.32, 0.975);
}

.latest-svg-hover footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .6em 1em;
	-webkit-transform: translateY(130%);
	transform: translateY(130%);
	text-align: center;
	opacity: 0;
	background-color: #f42958;
}

.latest-svg-hover footer svg {
	width: 120px;
	height: 12px;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	fill: #f42958;
	position: absolute;
	top: 1px;
	left: 50%;
}

.latest-svg-hover footer a {
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.latest-svg-hover:hover footer {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 1;
}

.latest-svg-hover:hover footer svg {
	-webkit-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100%, 0);
}

/* Border Tabular
========================*/
.latest-border-tabular {
	height: 100%;
}

.latest-border-tabular .row {
	margin: 0;
	height: 100%;
}

.latest-border-tabular .meta,
.latest-border-tabular .entry-title,
.latest-border-tabular .read-more {
	letter-spacing: 0.1em;
}

.latest-border-tabular .meta {
	margin-bottom: 1em;
	color: #292828;
	opacity: 0.5;
	font-size: 0.73333em;
	letter-spacing: 0.22727em;
}

.latest-border-tabular .entry-title {
	font-size: 1em;
	letter-spacing: 0.08em;
	line-height: 2.13333em;
	font-weight: 400;
	margin-top: 0;
}

.latest-border-tabular .latest-content {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.latest-border-tabular header {
	padding: 0 3em 4.66667em;
}

.latest-border-tabular figure {
	position: relative;
	z-index: 2;
}

.latest-border-tabular figure img {
	width: 100%;
	height: auto;
	visibility: hidden;
}

.latest-border-tabular [class*='col-'] {
	position: static;
}

.latest-border-tabular .read-more {
	font-size: 0.8em;
	letter-spacing: 0.20833em;
	font-weight: 400;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	line-height: 5.41667em;
	padding-left: 3.75em;
	text-align: left;
	border-top: 1px solid #eee !important;
}

.latest-border-tabular .read-more:hover {
	letter-spacing: 0.325em;
}

/* Caption
========================*/
.latest-caption {
	width: calc(100% + 0.5px);
	height: 550px;
	overflow: hidden;
}

.latest-caption figure {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
	transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}

.latest-caption figure .progressive__img,
.latest-caption figure img {
	width: 100%;
	height: 100% !important;
	-o-object-fit: cover;
	object-fit: cover;
	font-family: "object-fit: cover";
}

.latest-caption .overlay-link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.latest-caption .aspect-ratio-fill {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0 !important;
}

.latest-caption .latest-content {
	padding: 15px 40px;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(rgba(0, 0, 0, 0.95)));
	background: linear-gradient(to bottom, transparent 0%, transparent 30%, rgba(0, 0, 0, 0.95) 100%);
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	z-index: 2;
}

.latest-caption .latest-content,
.latest-caption .latest-content a {
	color: #fff;
}

.latest-caption .latest-content .meta {
	font-size: 0.85714em;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.7);
}

.latest-caption .latest-content .meta a,
.latest-caption .latest-content .meta a:hover {
	color: #fff;
}

.latest-caption .latest-content .tags {
	line-height: 2.5em;
	padding: 0 20px;
	background: #f42958;
	position: absolute;
	top: 3.35714em;
	left: 0;
}

.latest-caption .latest-content header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-ms-flex-flow: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-flow: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.latest-caption .latest-content time {
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.latest-caption .latest-content h3 {
	margin-top: 0;
	margin-bottom: 1.35714em;
	font-size: 1.28571em;
	line-height: 2em;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.latest-caption-nav .subscribe-form {
	margin-bottom: 0;
}

.latest-caption-nav .flickity-prev-next-button, .latest-caption-nav .flickity-prev-next-button.previous, .latest-caption-nav .flickity-prev-next-button.next {
	border-radius: 0;
	font-size: 21px;
	height: 100%;
	width: 100%;
	display: block;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #dddfe0;
	border-radius: 3px;
}

.latest-caption-nav .flickity-prev-next-button i, .latest-caption-nav .flickity-prev-next-button.previous i, .latest-caption-nav .flickity-prev-next-button.next i {
	margin-top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.latest-caption-nav .flickity-prev-next-button:hover i, .latest-caption-nav .flickity-prev-next-button.previous:hover i, .latest-caption-nav .flickity-prev-next-button.next:hover i {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* content-overlap
========================*/
.latest-content-overlap figure {
	z-index: -1;
}

.latest-content-overlap .latest-content {
	padding: 1.6em 20px 0.25em 25px;
	margin-right: 40px;
	background: #fff;
	margin-top: -70px;
	z-index: 10;
}

.latest-content-overlap .entry-title {
	line-height: 1.36842em;
}

.latest-content-overlap p {
	margin-bottom: 0;
	margin-top: 15px;
	font-size: 0.93333em;
	color: #979797;
	line-height: 1.85714em;
}

.latest-content-overlap .read-more {
	margin-top: 15px;
	letter-spacing: 0.2em;
}

/* latest-post-hover-text
========================*/
.latest-post-hover {
	height: 370px;
	margin-bottom: 2.14286em;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-transition: all 0.45s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

.latest-post-hover h3,
.latest-post-hover p,
.latest-post-hover a {
	color: #fff;
}

.latest-post-hover a:hover,
.latest-post-hover a:focus {
	color: #fff;
}

.latest-post-hover .latest-hover-box {
	display: none;
}

.cssfilters .latest-post-hover .latest-hover-box {
	display: block;
	width: 96%;
	height: 100%;
	position: absolute;
	top: 3.5%;
	left: 2%;
	z-index: 0;
	opacity: 0;
	-webkit-filter: blur(15px) brightness(1.3) contrast(1.1);
	filter: blur(15px) brightness(1.3) contrast(1.1);
	background-image: linear-gradient(120deg, #ec7c97 0%, #d04a34 100%);
	-webkit-transform: translate3d(0, 0, 38px);
	transform: translate3d(0, 0, 38px);
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.latest-post-hover .overlay-link {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	-webkit-transform: translate3d(0, 0, 120px);
	transform: translate3d(0, 0, 120px);
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.latest-post-hover .latest-hover-box,
.latest-post-hover .latest-hover-image,
.latest-post-hover .latest-hover-line {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	will-change: auto;
}

.latest-post-hover .latest-hover-line {
	width: 100%;
	height: 100%;
	padding: 3.5em 3.5em;
	z-index: 3;
	position: relative;
	background-image: linear-gradient(120deg, #ec7c97 0%, #d04a34 100%);
	-webkit-transform: translate3d(0, 0, 50px);
	transform: translate3d(0, 0, 50px);
}

.latest-post-hover .latest-hover-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-transform: scale3d(0.975, 0.975, 0.975) translate3d(0, 0, 15px);
	transform: scale3d(0.975, 0.975, 0.975) translate3d(0, 0, 15px);
	/* -webkit-transition: all 0.45s cubic-bezier(0,0,.2,1);*/
	/* transition: all 0.45s cubic-bezier(0,0,.2,1);*/
}

.latest-post-hover .latest-hover-image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 60px);
	transform: translate3d(0, 0, 60px);
}

.latest-post-hover .latest-hover-image figure {
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
	background-size: cover;
	background-position: center;
	-webkit-transform: scale3d(1.12, 1.12, 1) translate3d(0, -10px, 5px);
	transform: scale3d(1.12, 1.12, 1) translate3d(0, -10px, 5px);
}

.latest-post-hover .latest-hover-image img {
	visibility: hidden;
}

.latest-post-hover h3 {
	margin-top: 0;
	font-size: 1.35714em;
	line-height: 1.84211em;
}

.latest-post-hover p {
	font-size: 1.14286em;
	line-height: 2em;
	font-weight: 300;
	opacity: 0;
	-webkit-transform: translate3d(0, 6px, 0);
	transform: translate3d(0, 6px, 0);
	-webkit-transition: all 0.6s cubic-bezier(0, 0, 0.2, 1);
	transition: all 0.6s cubic-bezier(0, 0, 0.2, 1);
}

.latest-post-hover footer a,
.latest-post-hover footer span {
	display: block;
	position: relative;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.latest-post-hover footer a i,
.latest-post-hover footer span i {
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 1.28571em;
	opacity: 0;
	-webkit-transform: translate3d(-5px, -50%, 0);
	transform: translate3d(-5px, -50%, 0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.latest-post-hover:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.latest-post-hover:hover footer i {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.latest-post-hover:hover p {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.latest-post-hover:hover .latest-hover-content {
	-webkit-transform: scale3d(0.925, 0.925, 0.925) translate3d(0, 0, 50px);
	transform: scale3d(0.925, 0.925, 0.925) translate3d(0, 0, 50px);
}

.latest-post-hover:hover .latest-hover-box {
	opacity: 1;
}

.latest-post-hover:hover .latest-hover-image figure {
	opacity: 0.15;
	-webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 5px);
	transform: scale3d(1, 1, 1) translate3d(0, 0, 5px);
}

.latest-post-hover.mouse-in .latest-hover-box,
.latest-post-hover.mouse-in .latest-hover-image,
.latest-post-hover.mouse-in .latest-hover-line {
	will-change: transform;
}

/*
	Media Queries
*/
@media (max-width: 991px) {
	.latest-border-tabular .row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.latest-border-tabular .col-xs-6 {
		width: 100%;
	}
	.latest-border-tabular .aspect-ratio-fill img {
		position: relative;
	}
	.latest-post-hover .latest-hover-box {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.latest-border-tabular > .row {
		/* display: block;*/
	}
	.latest-border-tabular > .row > [class^=col-] {
		width: 100%;
	}
	.latest-border-tabular .latest-content {
		padding-bottom: 0;
	}
	.latest-border-tabular figure {
		position: relative;
		top: auto;
		right: auto;
		background-image: none !important;
	}
	.latest-border-tabular figure img {
		visibility: visible;
	}
	.latest-border-tabular .read-more {
		display: block;
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
	}
	.latest-posts-carousel-nav > .row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.latest-posts-carousel-nav > .row > [class^=col-] > .row .flickity-viewport {
		margin-right: -30px;
	}
}
