/* Contact Form */
.contact-form:before, .contact-form:after {
	content: "";
	display: table;
}

.contact-form:after {
	clear: both;
}

.contact-form p {
	margin-bottom: 2em;
}

.contact-form .wpcf7-form-control-wrap {
	display: block;
	position: relative;
}

.contact-form .wpcf7-form-control-wrap[class*=acceptance] {
	display: inline-block;
}

.contact-form .ui-selectmenu-button,
.contact-form select,
.contact-form input,
.contact-form textarea {
	background-color: #fff;
	display: inline-block;
	width: 100%;
	line-height: inherit;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.contact-form .ui-selectmenu-button::-webkit-input-placeholder,
.contact-form select::-webkit-input-placeholder,
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
	color: inherit;
}

.contact-form .ui-selectmenu-button::-moz-placeholder,
.contact-form select::-moz-placeholder,
.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
	color: inherit;
}

.contact-form .ui-selectmenu-button:-moz-placeholder,
.contact-form select:-moz-placeholder,
.contact-form input:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
	color: inherit;
}

.contact-form .ui-selectmenu-button:-ms-input-placeholder,
.contact-form select:-ms-input-placeholder,
.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
	color: inherit;
}

.contact-form .ui-selectmenu-button:focus, .contact-form .ui-selectmenu-button:hover, .contact-form .ui-selectmenu-button:active,
.contact-form select:focus,
.contact-form select:hover,
.contact-form select:active,
.contact-form input:focus,
.contact-form input:hover,
.contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:hover,
.contact-form textarea:active {
	outline: none;
}

.contact-form .ui-selectmenu-button:focus::-webkit-input-placeholder, .contact-form .ui-selectmenu-button:hover::-webkit-input-placeholder, .contact-form .ui-selectmenu-button:active::-webkit-input-placeholder,
.contact-form select:focus::-webkit-input-placeholder,
.contact-form select:hover::-webkit-input-placeholder,
.contact-form select:active::-webkit-input-placeholder,
.contact-form input:focus::-webkit-input-placeholder,
.contact-form input:hover::-webkit-input-placeholder,
.contact-form input:active::-webkit-input-placeholder,
.contact-form textarea:focus::-webkit-input-placeholder,
.contact-form textarea:hover::-webkit-input-placeholder,
.contact-form textarea:active::-webkit-input-placeholder {
	color: inherit;
}

.contact-form .ui-selectmenu-button:focus::-moz-placeholder, .contact-form .ui-selectmenu-button:hover::-moz-placeholder, .contact-form .ui-selectmenu-button:active::-moz-placeholder,
.contact-form select:focus::-moz-placeholder,
.contact-form select:hover::-moz-placeholder,
.contact-form select:active::-moz-placeholder,
.contact-form input:focus::-moz-placeholder,
.contact-form input:hover::-moz-placeholder,
.contact-form input:active::-moz-placeholder,
.contact-form textarea:focus::-moz-placeholder,
.contact-form textarea:hover::-moz-placeholder,
.contact-form textarea:active::-moz-placeholder {
	color: inherit;
}

.contact-form .ui-selectmenu-button:focus:-moz-placeholder, .contact-form .ui-selectmenu-button:hover:-moz-placeholder, .contact-form .ui-selectmenu-button:active:-moz-placeholder,
.contact-form select:focus:-moz-placeholder,
.contact-form select:hover:-moz-placeholder,
.contact-form select:active:-moz-placeholder,
.contact-form input:focus:-moz-placeholder,
.contact-form input:hover:-moz-placeholder,
.contact-form input:active:-moz-placeholder,
.contact-form textarea:focus:-moz-placeholder,
.contact-form textarea:hover:-moz-placeholder,
.contact-form textarea:active:-moz-placeholder {
	color: inherit;
}

.contact-form .ui-selectmenu-button:focus:-ms-input-placeholder, .contact-form .ui-selectmenu-button:hover:-ms-input-placeholder, .contact-form .ui-selectmenu-button:active:-ms-input-placeholder,
.contact-form select:focus:-ms-input-placeholder,
.contact-form select:hover:-ms-input-placeholder,
.contact-form select:active:-ms-input-placeholder,
.contact-form input:focus:-ms-input-placeholder,
.contact-form input:hover:-ms-input-placeholder,
.contact-form input:active:-ms-input-placeholder,
.contact-form textarea:focus:-ms-input-placeholder,
.contact-form textarea:hover:-ms-input-placeholder,
.contact-form textarea:active:-ms-input-placeholder {
	color: inherit;
}

.contact-form .ui-icon {
	position: absolute;
	top: 50%;
	right: 5%;
	margin-top: -8px;
}

.contact-form input[type=radio],
.contact-form input[type=file],
.contact-form input[type=checkbox] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 0 10px 0 0;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	line-height: normal;
}

.contact-form button {
	width: auto;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	border-color: transparent;
	letter-spacing: 1.5px;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 2px;
}

.contact-form button:hover {
	opacity: .8;
}

.contact-form button.full-width-submit {
	width: 100%;
}

.contact-form button i {
	margin: 0 5px;
}

.contact-form button:focus {
	outline: none;
}

.contact-form button + .ajax-loader {
	position: absolute;
	top: 50%;
	right: 25px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Default, Default Alt
========================*/
.contact-default {
	/* Adding height due to IE issues with padding*/
}

.contact-default .ui-selectmenu-button,
.contact-default select,
.contact-default input,
.contact-default button {
	height: 60px;
	line-height: 60px;
}

.contact-default .ui-selectmenu-button,
.contact-default select,
.contact-default input,
.contact-default textarea {
	width: 100%;
	border: 1px solid #dddfe0;
	border-radius: 2px;
	padding: 0 20px;
	color: #000;
}

.contact-default .ui-selectmenu-button:focus,
.contact-default select:focus,
.contact-default input:focus,
.contact-default textarea:focus {
	border-color: #ededed;
	background: #F7F7F7;
	outline: none;
}

.contact-default textarea {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.contact-default button {
	padding: 0 20px;
	border-radius: 3px;
	line-height: 2em;
	letter-spacing: 0.1em;
}

.contact-default.thick-border input, .contact-default.thick-border textarea {
	border: 2px solid #e5e5e5;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.contact-default-primary button {
	background-color: #f42958;
	color: #fff;
	width: 100%;
}

.contact-default-primary button + img {
	position: absolute;
	top: 50%;
	left: 100%;
	-webkit-transform: translateX(-50px) translateY(-50%);
	transform: translateX(-50px) translateY(-50%);
}

.contact-default-primary label {
	position: absolute;
	top: 1.07143em;
	left: 22px;
	font-size: 1em;
	font-weight: 400;
	color: #888888;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.contact-default-primary input,
.contact-default-primary textarea {
	border-color: transparent;
	-webkit-box-shadow: 0 0 0 3px #e0e0e0 inset;
	box-shadow: 0 0 0 3px #e0e0e0 inset;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contact-default-primary input:active, .contact-default-primary input:focus,
.contact-default-primary textarea:active,
.contact-default-primary textarea:focus {
	background-color: transparent;
	-webkit-box-shadow: 0 0 0 0 #e0e0e0 inset;
	box-shadow: 0 0 0 0 #e0e0e0 inset;
}

.contact-default-primary .wpcf7-form-control-wrap + label {
	left: 37px;
}

.contact-default-primary .wpcf7-form-control-wrap.input-focused ~ label, .contact-default-primary .wpcf7-form-control-wrap.input-filled ~ label {
	-webkit-transform: translateY(-3.25em);
	transform: translateY(-3.25em);
}

.contact-default-alt .ui-selectmenu-button,
.contact-default-alt input,
.contact-default-alt select,
.contact-default-alt button {
	height: 60px;
	line-height: 60px;
}

.contact-default-alt input,
.contact-default-alt textarea {
	padding: 0 20px;
}

.contact-default-alt input:focus,
.contact-default-alt textarea:focus {
	background: none;
	border-color: #f42958;
}

.contact-default-alt textarea {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.contact-default-alt button {
	padding: 0 30px;
	font-size: 13px;
	background: transparent;
	border: 2px solid #f42958;
	border-radius: 2px;
	line-height: 56px;
	color: #f42958;
}

.contact-default-alt2 .ui-selectmenu-button,
.contact-default-alt2 input,
.contact-default-alt2 select,
.contact-default-alt2 button {
	height: 60px;
	line-height: 60px;
}

.contact-default-alt2 input,
.contact-default-alt2 textarea {
	padding: 0 20px 0 0;
	border-width: 0 0 1px 0;
	border-radius: 0;
	letter-spacing: 0.03em;
	vertical-align: middle;
}

.contact-default-alt2 input:focus,
.contact-default-alt2 textarea:focus {
	background-color: transparent;
	border-color: transparent;
}

.contact-default-alt2 label {
	position: absolute;
	top: 1.07143em;
	left: 0;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.03em;
	overflow: hidden;
	pointer-events: none;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-transform: translateX(15%);
	transform: translateX(15%);
}

.contact-default-alt2 textarea {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.contact-default-alt2 button {
	padding: 0 2.14286em;
	border-radius: 3px;
	background-color: #f42958;
	line-height: 56px;
	color: #fff;
}

.contact-default-alt2 p {
	margin-bottom: 2.57143em;
}

.contact-default-alt2 .wpcf7-form-control-wrap {
	position: relative;
}

.contact-default-alt2 .wpcf7-form-control-wrap:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contact-default-alt2 .wpcf7-form-control-wrap.input-focused:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.contact-default-alt2 .wpcf7-form-control-wrap.input-focused ~ label {
	-webkit-transform: translateX(0) translateY(-115%) scale(0.8);
	transform: translateX(0) translateY(-115%) scale(0.8);
}

.contact-default-alt3 p {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.contact-default-alt3 label,
.contact-default-alt3 select,
.contact-default-alt3 input, .contact-default-alt3 textarea,
.contact-default-alt3 .ui-selectmenu-button {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.03em;
	background-color: transparent;
}

.contact-default-alt3 .ui-selectmenu-button,
.contact-default-alt3 select,
.contact-default-alt3 input, .contact-default-alt3 textarea {
	border-radius: 3px;
	padding: 0 30px 0 45px;
}

.contact-default-alt3 .ui-selectmenu-button:focus,
.contact-default-alt3 select:focus,
.contact-default-alt3 input:focus, .contact-default-alt3 textarea:focus {
	background-color: transparent;
}

.contact-default-alt3 label,
.contact-default-alt3 select,
.contact-default-alt3 .ui-selectmenu-button {
	color: #888888;
}

.contact-default-alt3 input, .contact-default-alt3 textarea {
	color: #000;
}

.contact-default-alt3 textarea {
	padding-top: 18px;
	padding-bottom: 12px;
}

.contact-default-alt3 label {
	position: absolute;
	top: 50%;
	left: 30px;
	line-height: 1.5em;
	margin: 0;
	z-index: 3;
	pointer-events: none;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	-webkit-transition: all 0.3s cubic-bezier(0.66, 0.005, 0.31, 1.00499);
	transition: all 0.3s cubic-bezier(0.66, 0.005, 0.31, 1.00499);
}

.contact-default-alt3 i {
	position: absolute;
	top: 50%;
	left: 13px;
	font-size: 1.21429em;
	opacity: 0;
	-webkit-transform: translate3d(-100%, -50%, 0);
	transform: translate3d(-100%, -50%, 0);
	-webkit-transition: all 0.3s cubic-bezier(0.66, 0.005, 0.31, 1.00499);
	transition: all 0.3s cubic-bezier(0.66, 0.005, 0.31, 1.00499);
}

.contact-default-alt3 button {
	padding: 0 35px;
	background-color: #f42958;
	font-size: 1.07143em;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #fff;
}

.contact-default-alt3 .row > p[class*=col-]:nth-last-child(2) i,
.contact-default-alt3 .row > p[class*=col-]:nth-last-child(2) label {
	top: 30px;
}

.contact-default-alt3 .wpcf7-form-control-wrap {
	overflow: hidden;
}

.contact-default-alt3 .wpcf7-form-control-wrap.input-filled ~ label, .contact-default-alt3 .wpcf7-form-control-wrap.input-focused ~ label {
	-webkit-transform: translate3d(100%, -50%, 0);
	transform: translate3d(100%, -50%, 0);
	opacity: 0;
}

.contact-default-alt3 .wpcf7-form-control-wrap.input-filled ~ i,
.contact-default-alt3 .wpcf7-form-control-wrap.input-filled i, .contact-default-alt3 .wpcf7-form-control-wrap.input-focused ~ i,
.contact-default-alt3 .wpcf7-form-control-wrap.input-focused i {
	opacity: 1;
	-webkit-transform: translate3d(20px, -50%, 0);
	transform: translate3d(20px, -50%, 0);
}

/* Line
========================*/
.contact-line .ui-selectmenu-button,
.contact-line input,
.contact-line select,
.contact-line button {
	height: 60px;
	line-height: 60px;
}

.contact-line input,
.contact-line textarea {
	padding: 0;
	margin-bottom: 0.5em;
	border: 0;
	border-bottom: 2px solid #f42958;
	font-size: 1em;
	color: #000;
}

.contact-line textarea {
	padding-top: 1em;
	padding-bottom: 1.5em;
}

.contact-line.contact-elegant p {
	margin-bottom: 1em;
}

.contact-line.contact-elegant input,
.contact-line.contact-elegant textarea {
	border: none;
	padding: 0;
	margin-bottom: 0;
	background-color: transparent;
}

.contact-line.contact-elegant .wpcf7-form-control-wrap {
	position: relative;
}

.contact-line.contact-elegant .wpcf7-form-control-wrap:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0.5em;
	left: 0;
	background-image: -webkit-gradient(linear, left top, right top, from(#0070ff), to(#00b1ff));
	background-image: linear-gradient(to right, #0070ff 0%, #00b1ff 100%);
}

.contact-line.contact-elegant .wpcf7-submit {
	margin-top: 1em;
	position: relative;
}

.contact-line.contact-elegant .wpcf7-submit:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	z-index: -1;
	border-radius: 50em;
	background-image: -webkit-gradient(linear, left top, right top, from(#0070ff), to(#00b1ff));
	background-image: linear-gradient(to right, #0070ff 0%, #00b1ff 100%);
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contact-line.contact-elegant .wpcf7-submit span {
	padding-left: 3.2em;
	padding-right: 3.2em;
	position: relative;
	z-index: 2;
}

.contact-line.contact-elegant .wpcf7-submit:hover {
	color: #fff;
}

.contact-line.contact-elegant .wpcf7-submit:hover:before {
	opacity: 1;
}

.contact-line button {
	padding: 0 45px;
	border: 1px solid #e0e0e0;
	border-radius: 50px;
	color: #000;
}

.contact-line-thin p {
	margin-bottom: 1em;
}

.contact-line-thin .ui-selectmenu-button,
.contact-line-thin input,
.contact-line-thin select,
.contact-line-thin button {
	height: 60px;
	line-height: 60px;
}

.contact-line-thin input,
.contact-line-thin textarea {
	color: #2b2b2b;
	margin-bottom: 0;
	border-bottom: 1px solid #d9d9d9;
	padding: 0 30px 0 0;
}

.contact-line-thin input::-webkit-input-placeholder,
.contact-line-thin textarea::-webkit-input-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-line-thin input::-moz-placeholder,
.contact-line-thin textarea::-moz-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-line-thin input:-moz-placeholder,
.contact-line-thin textarea:-moz-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-line-thin input:-ms-input-placeholder,
.contact-line-thin textarea:-ms-input-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-line-thin input:focus,
.contact-line-thin textarea:focus {
	border-bottom-color: #f42958;
}

.contact-line-thin textarea {
	padding-top: 2em;
	padding-bottom: 2em;
}

.contact-line-thin button {
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 3px;
	padding: 0 30px;
	border: 2px solid #f42958;
	color: #f42958;
	font-size: 1.0625em;
	line-height: 56px;
}

.contact-line-alt p {
	margin-bottom: 2.85714em;
}

.contact-line-alt .ui-selectmenu-button,
.contact-line-alt input,
.contact-line-alt button,
.contact-line-alt select {
	height: 54px;
	line-height: 54px;
}

.contact-line-alt input,
.contact-line-alt textarea,
.contact-line-alt label {
	font-size: 1em;
	letter-spacing: 0.03em;
	font-weight: 400;
	background-color: transparent;
	vertical-align: middle;
}

.contact-line-alt input,
.contact-line-alt textarea {
	padding: 0;
	border-width: 0 0 2px 0;
	border-color: #d7d7d7;
	color: #000;
}

.contact-line-alt label {
	position: absolute;
	top: 50%;
	left: 0;
	margin: 0;
	color: #999999;
	pointer-events: none;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.contact-line-alt button {
	padding: 0 1.78571em;
	background-color: #f42958;
	font-size: 1.07143em;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.1em;
	color: #fff;
}

.contact-line-alt .wpcf7-form-control-wrap:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #f42958;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.contact-line-alt .wpcf7-form-control-wrap.input-focused:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.contact-line-alt .wpcf7-form-control-wrap.input-filled ~ label, .contact-line-alt .wpcf7-form-control-wrap.input-focused ~ label {
	-webkit-animation: linesAltLabel 0.3s ease-out forwards;
	animation: linesAltLabel 0.3s ease-out forwards;
}

/* Envelope
========================*/
.contact-envelope {
	padding: 2em 20px 1.33333em;
	background: #fff;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	-o-border-image: 8 repeating-linear-gradient(-45deg, #d43c49 0, #d43c49 2em, transparent 0, transparent 4em, #289dc0 0, #289dc0 6em, transparent 0, transparent 8em);
	border-image: 8 repeating-linear-gradient(-45deg, #d43c49 0, #d43c49 2em, transparent 0, transparent 4em, #289dc0 0, #289dc0 6em, transparent 0, transparent 8em);
}

.contact-envelope .ui-selectmenu-button,
.contact-envelope input,
.contact-envelope select,
.contact-envelope button {
	height: 46px;
	line-height: 46px;
}

.contact-envelope p {
	margin-bottom: 1em;
}

.contact-envelope input,
.contact-envelope textarea {
	border: 1px solid #e9e9e9;
	border-radius: 2px;
	padding: 0 1em;
}

.contact-envelope input:focus,
.contact-envelope textarea:focus {
	border-color: #2991d1;
}

.contact-envelope input::-webkit-input-placeholder,
.contact-envelope textarea::-webkit-input-placeholder {
	opacity: 1;
}

.contact-envelope input::-moz-placeholder,
.contact-envelope textarea::-moz-placeholder {
	opacity: 1;
}

.contact-envelope input:-moz-placeholder,
.contact-envelope textarea:-moz-placeholder {
	opacity: 1;
}

.contact-envelope input:-ms-input-placeholder,
.contact-envelope textarea:-ms-input-placeholder {
	opacity: 1;
}

.contact-envelope textarea {
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 1.86667em;
}

.contact-envelope button {
	padding: 0 20px;
	color: #fff;
	background-color: #2991d1;
}

/* Minimal
========================*/
.contact-minimal .ui-selectmenu-button,
.contact-minimal input,
.contact-minimal select,
.contact-minimal button {
	height: 54px;
	line-height: 54px;
}

.contact-minimal input,
.contact-minimal textarea {
	border: 1px solid #e9e9e9;
	border-radius: 2px;
	background-color: #fdfdfd;
	padding: 0 15px;
	color: #000;
	font-size: 13px;
}

.contact-minimal input::-webkit-input-placeholder,
.contact-minimal textarea::-webkit-input-placeholder {
	opacity: 1;
}

.contact-minimal input::-moz-placeholder,
.contact-minimal textarea::-moz-placeholder {
	opacity: 1;
}

.contact-minimal input:-moz-placeholder,
.contact-minimal textarea:-moz-placeholder {
	opacity: 1;
}

.contact-minimal input:-ms-input-placeholder,
.contact-minimal textarea:-ms-input-placeholder {
	opacity: 1;
}

.contact-minimal input:focus,
.contact-minimal textarea:focus {
	border-color: #000;
}

.contact-minimal textarea {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.contact-minimal button {
	color: #000;
	line-height: 50px;
}

.contact-minimal button:hover {
	color: #f42958;
}

.main-footer .contact-minimal input,
.main-footer .contact-minimal textarea {
	padding: 7px 15px;
}

.main-footer .contact-minimal p {
	margin-bottom: 15px;
}

/* Black
========================*/
.contact-black .ui-selectmenu-button,
.contact-black input,
.contact-black select,
.contact-black button {
	height: 80px;
	line-height: 80px;
}

.contact-black input:not([type="submit"]),
.contact-black textarea {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	border: 1px solid #000;
	padding: 0 25px;
	color: #000;
}

.contact-black input:not([type="submit"])::-webkit-input-placeholder,
.contact-black textarea::-webkit-input-placeholder {
	opacity: 1;
}

.contact-black input:not([type="submit"])::-moz-placeholder,
.contact-black textarea::-moz-placeholder {
	opacity: 1;
}

.contact-black input:not([type="submit"]):-moz-placeholder,
.contact-black textarea:-moz-placeholder {
	opacity: 1;
}

.contact-black input:not([type="submit"]):-ms-input-placeholder,
.contact-black textarea:-ms-input-placeholder {
	opacity: 1;
}

.contact-black textarea {
	padding-top: 2em;
	padding-bottom: 2em;
}

.contact-black button {
	border: 2px solid #f42958;
	padding: 0 45px;
	line-height: 76px;
	color: #f42958;
}

/* Black Alt
========================*/
.contact-black-alt {
	font-size: 1em;
}

.contact-black-alt p {
	padding: 0 35px;
	margin-bottom: 45px;
}

.contact-black-alt .ui-selectmenu-button,
.contact-black-alt select,
.contact-black-alt input,
.contact-black-alt button {
	height: 62px;
	line-height: 62px;
}

.contact-black-alt select,
.contact-black-alt input:not([type="submit"]),
.contact-black-alt textarea,
.contact-black-alt .ui-selectmenu-button,
.contact-black-alt .ui-selectmenu-button:focus {
	width: 100%;
	border-radius: 0;
	font-size: 0.86667em;
	text-transform: uppercase;
	letter-spacing: 0.19231em;
	border: 1px solid #000;
	background: none;
	padding: 0 2.30769em;
	color: #000;
}

.contact-black-alt select::-webkit-input-placeholder,
.contact-black-alt input:not([type="submit"])::-webkit-input-placeholder,
.contact-black-alt textarea::-webkit-input-placeholder,
.contact-black-alt .ui-selectmenu-button::-webkit-input-placeholder,
.contact-black-alt .ui-selectmenu-button:focus::-webkit-input-placeholder {
	opacity: 1;
	color: #000;
}

.contact-black-alt select::-moz-placeholder,
.contact-black-alt input:not([type="submit"])::-moz-placeholder,
.contact-black-alt textarea::-moz-placeholder,
.contact-black-alt .ui-selectmenu-button::-moz-placeholder,
.contact-black-alt .ui-selectmenu-button:focus::-moz-placeholder {
	opacity: 1;
	color: #000;
}

.contact-black-alt select:-moz-placeholder,
.contact-black-alt input:not([type="submit"]):-moz-placeholder,
.contact-black-alt textarea:-moz-placeholder,
.contact-black-alt .ui-selectmenu-button:-moz-placeholder,
.contact-black-alt .ui-selectmenu-button:focus:-moz-placeholder {
	opacity: 1;
	color: #000;
}

.contact-black-alt select:-ms-input-placeholder,
.contact-black-alt input:not([type="submit"]):-ms-input-placeholder,
.contact-black-alt textarea:-ms-input-placeholder,
.contact-black-alt .ui-selectmenu-button:-ms-input-placeholder,
.contact-black-alt .ui-selectmenu-button:focus:-ms-input-placeholder {
	opacity: 1;
	color: #000;
}

.contact-black-alt .datepicker, .contact-black-alt .timepicker {
	cursor: pointer;
}

.contact-black-alt select,
.contact-black-alt .datepicker-container,
.contact-black-alt .timepicker-container,
.contact-black-alt .ui-selectmenu-button {
	position: relative;
	display: block;
}

.contact-black-alt select:before,
.contact-black-alt .datepicker-container:before,
.contact-black-alt .timepicker-container:before,
.contact-black-alt .ui-selectmenu-button:before {
	font-family: 'FontAwesome';
	content: '\f107';
	font-size: 1.06667em;
	letter-spacing: 0;
	line-height: 62px;
	color: #000;
	position: absolute;
	top: 0;
	right: 1.875em;
}

.contact-black-alt .ui-selectmenu-button:before {
	font-size: 1.23077em;
}

.contact-black-alt button {
	border-radius: 0;
	font-size: 0.86667em;
	letter-spacing: 0.19231em;
	text-transform: uppercase;
	font-weight: 400;
	border: 2px solid #f42958;
	padding: 0 2.30769em;
	color: #f42958;
}

.contact-black-alt .ui-selectmenu-button {
	min-width: 100%;
}

.contact-black-alt .ui-selectmenu-icon {
	display: none;
}

/* Icons
========================*/
.contact-icons p {
	position: relative;
	margin-bottom: 1.57143em;
}

.contact-icons p .wpcf7-form-control-wrap + i {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	color: #f42958;
	font-size: 22px;
	line-height: 58px;
	border-left: 1px solid #eee;
	padding: 0 20px;
}

.contact-icons .ui-selectmenu-button,
.contact-icons input,
.contact-icons button,
.contact-icons select {
	height: 58px;
	line-height: 56px;
}

.contact-icons input:not([type="submit"]),
.contact-icons textarea {
	border: 1px solid #e3e3e3;
	padding: 0 70px 0 15px;
}

.contact-icons input:not([type="submit"]):focus,
.contact-icons textarea:focus {
	border-color: #f42958;
}

.contact-icons textarea {
	padding: 0.9em 15px;
}

.contact-icons button {
	padding: 0 25px;
	color: #fff;
	background-color: #f42958;
	text-transform: none;
	font-size: 1em;
}

/* Inverted Default
========================*/
.contact-white .ui-selectmenu-button,
.contact-white input,
.contact-white select,
.contact-white button {
	height: 58px;
	line-height: 58px;
}

.contact-white input:not([type="submit"]),
.contact-white textarea {
	padding: 0 30px;
	border: 0;
	color: #000;
}

.contact-white textarea {
	padding-top: 1em;
	padding-bottom: 1em;
}

.contact-white button {
	border: 0;
	padding: 0 45px;
	border-radius: 5px;
}

.contact-white-default {
	letter-spacing: 0.035em;
}

.contact-white-default p:last-child {
	margin-bottom: 2em !important;
}

.contact-white-default .ui-selectmenu-button,
.contact-white-default input,
.contact-white-default select,
.contact-white-default button {
	height: 58px;
	line-height: 58px;
}

.contact-white-default input:not([type="submit"]),
.contact-white-default textarea {
	padding: 0 8%;
	border-radius: 4px;
}

.contact-white-default textarea {
	padding-top: 1.8em;
	padding-bottom: 1.9em;
}

.contact-white-default button {
	padding: 0 4%;
	font-size: 1em;
	background-color: #fff;
	color: #000;
}

.contact-inverted input:not([type="submit"]),
.contact-inverted textarea {
	color: #f42958;
}

.contact-inverted input:not([type="submit"])::-webkit-input-placeholder,
.contact-inverted textarea::-webkit-input-placeholder {
	opacity: 1;
}

.contact-inverted input:not([type="submit"])::-moz-placeholder,
.contact-inverted textarea::-moz-placeholder {
	opacity: 1;
}

.contact-inverted input:not([type="submit"]):-moz-placeholder,
.contact-inverted textarea:-moz-placeholder {
	opacity: 1;
}

.contact-inverted input:not([type="submit"]):-ms-input-placeholder,
.contact-inverted textarea:-ms-input-placeholder {
	opacity: 1;
}

.contact-inverted button {
	padding: 0 2em;
	background-color: #f42958;
	color: #fff;
}

/* Inverted Lines
========================*/
.contact-inverted-line input,
.contact-inverted-line textarea {
	padding: 0 1.71429em;
	color: #fff;
	border: 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
}

.contact-inverted-line input:focus,
.contact-inverted-line textarea:focus {
	border-bottom-color: #fff;
}

.contact-inverted-line input::-webkit-input-placeholder,
.contact-inverted-line textarea::-webkit-input-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-inverted-line input::-moz-placeholder,
.contact-inverted-line textarea::-moz-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-inverted-line input:-moz-placeholder,
.contact-inverted-line textarea:-moz-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-inverted-line input:-ms-input-placeholder,
.contact-inverted-line textarea:-ms-input-placeholder {
	opacity: 1;
	color: inherit;
}

.contact-inverted-line textarea {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.contact-inverted-line button {
	font-size: 12.6px;
	padding: 0 50px;
	border: 2px solid transparent;
	color: #fff;
}

.contact-inverted-line-default .ui-selectmenu-button,
.contact-inverted-line-default input,
.contact-inverted-line-default button,
.contact-inverted-line-default select {
	height: 42px;
	line-height: 42px;
}

.contact-inverted-line-default button {
	height: 60px;
	line-height: 56px;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-color: rgba(255, 255, 255, 0.1);
}

.contact-inverted-line-default input:not([type="submit"]),
.contact-inverted-line-default textarea {
	padding: 0;
	border-bottom-color: rgba(255, 255, 255, 0.1);
}

.contact-inverted-line-default input:not([type="submit"])::-webkit-input-placeholder,
.contact-inverted-line-default textarea::-webkit-input-placeholder {
	color: #999;
}

.contact-inverted-line-default input:not([type="submit"])::-moz-placeholder,
.contact-inverted-line-default textarea::-moz-placeholder {
	color: #999;
}

.contact-inverted-line-default input:not([type="submit"]):-moz-placeholder,
.contact-inverted-line-default textarea:-moz-placeholder {
	color: #999;
}

.contact-inverted-line-default input:not([type="submit"]):-ms-input-placeholder,
.contact-inverted-line-default textarea:-ms-input-placeholder {
	color: #999;
}

.contact-inverted-line-default textarea {
	padding-top: 1em;
	padding-bottom: 1em;
}

.contact-inverted-line-default .input-focused input:not([type="submit"]),
.contact-inverted-line-default .input-focused textarea {
	border-color: #fff;
}

.contact-inverted-line-default p {
	margin-bottom: 2.875em;
}

.contact-inverted-line-default p:nth-last-child(2) {
	margin-bottom: 2.5em;
}

.contact-inverted-line-alt p {
	margin-bottom: 1.5em;
}

.contact-inverted-line-alt .ui-selectmenu-button,
.contact-inverted-line-alt input,
.contact-inverted-line-alt button,
.contact-inverted-line-alt select {
	height: 62px;
	line-height: 62px;
}

.contact-inverted-line-alt input:not([type=submit]),
.contact-inverted-line-alt textarea {
	font-size: 1.14286em;
	padding: 0;
}

.contact-inverted-line-alt textarea {
	padding: 0.95em 0;
}

.contact-inverted-line-alt button {
	margin-top: 2.75em;
	padding: 0 40px;
	border-radius: 50px;
	background-color: #f42958;
	border: none;
}

.contact-inverted-line-alt button i {
	font-size: 1.3em;
	margin-right: 0;
}

.contact-inverted-line-sm .ui-selectmenu-button,
.contact-inverted-line-sm input,
.contact-inverted-line-sm select,
.contact-inverted-line-sm button {
	height: 42px;
	line-height: 42px;
}

.contact-inverted-line-sm input,
.contact-inverted-line-sm textarea {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0.57143em;
	border-radius: 0;
}

.contact-inverted-line-sm button {
	padding: 0;
}

.contact-inverted-line-sm .fa {
	display: inline;
	font-size: 13px;
}

/* Inverted Minimal
========================*/
.contact-inverted-minimal .ui-selectmenu-button,
.contact-inverted-minimal input,
.contact-inverted-minimal button,
.contact-inverted-minimal select {
	height: 60px;
	line-height: 60px;
}

.contact-inverted-minimal input,
.contact-inverted-minimal textarea {
	border: 0;
	padding: 0 20px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
}

.contact-inverted-minimal textarea {
	padding-top: 1em;
	padding-bottom: 1em;
}

.contact-inverted-minimal button {
	color: #fff;
	padding: 0;
}

.main-footer .contact-inverted-minimal .ui-selectmenu-button,
.main-footer .contact-inverted-minimal input,
.main-footer .contact-inverted-minimal button,
.main-footer .contact-inverted-minimal select {
	height: 42px;
	line-height: 42px;
}

.main-footer .contact-inverted-minimal textarea {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.main-footer .contact-inverted-minimal p {
	margin-bottom: 15px;
}

/* Classic
========================*/
.contact-form-classic {
	padding: 0;
	border: none;
}

.contact-form-classic .wpcf7-form {
	margin-left: -15px;
	margin-right: -15px;
}

.contact-form-classic p {
	margin-bottom: 2.5em;
}

.contact-form-classic p:last-child {
	margin-bottom: 0;
}

.contact-form-classic input,
.contact-form-classic textarea {
	padding: 0 1.42857em;
	border-radius: 0;
	font-weight: 400;
}

.contact-form-classic input:focus,
.contact-form-classic textarea:focus {
	border-color: #000;
}

.contact-form-classic textarea {
	padding-top: 0.5em;
}

.contact-form-classic button {
	padding: 0 0.64286em;
	background-color: #383e47;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/* Gray
========================*/
.contact-gray .ui-selectmenu-button,
.contact-gray input,
.contact-gray button,
.contact-gray select {
	height: 54px;
	line-height: 54px;
}

.contact-gray input,
.contact-gray textarea,
.contact-gray label {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.03em;
}

.contact-gray input,
.contact-gray textarea {
	padding: 0 28px;
	border: 2px solid transparent;
	border-radius: 0;
	background-color: #f2f2f2;
	color: #000;
}

.contact-gray textarea {
	padding-top: 0.71429em;
	padding-bottom: 0.71429em;
}

.contact-gray label {
	padding-left: 30px;
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	line-height: 1.5em;
	cursor: text;
	overflow: hidden;
	pointer-events: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.contact-gray label:after {
	content: attr(data-content);
	position: absolute;
	top: -2em;
	left: 15px;
	height: 100%;
	width: 100%;
	font-size: 0.85em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.contact-gray label span {
	display: inline-block;
	-webkit-transition: all 0.25s 0.25s;
	transition: all 0.25s 0.25s;
}

.contact-gray button {
	padding: 0 28px;
	line-height: 50px;
	background-color: #f42958;
	font-size: 1em;
	color: #fff;
}

.contact-gray .wpcf7-form-control-wrap[class*=textarea] ~ label {
	top: 1.14286em;
	-webkit-transform: none;
	transform: none;
}

.contact-gray .wpcf7-form-control-wrap.input-filled ~ label, .contact-gray .wpcf7-form-control-wrap.input-focused ~ label {
	-webkit-transform: translateY(-3.5em);
	transform: translateY(-3.5em);
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.contact-gray .wpcf7-form-control-wrap.input-filled ~ label:after, .contact-gray .wpcf7-form-control-wrap.input-focused ~ label:after {
	-webkit-transform: translateY(2em);
	transform: translateY(2em);
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.contact-gray .wpcf7-form-control-wrap.input-filled ~ label span, .contact-gray .wpcf7-form-control-wrap.input-focused ~ label span {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.contact-gray .wpcf7-form-control-wrap.input-filled[class*=textarea] ~ label, .contact-gray .wpcf7-form-control-wrap.input-focused[class*=textarea] ~ label {
	top: 1em;
	-webkit-transform: translateY(-3em);
	transform: translateY(-3em);
}

.contact-gray .wpcf7-form-control-wrap.input-focused:before {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.contact-gray .wpcf7-form-control-wrap.input-focused input,
.contact-gray .wpcf7-form-control-wrap.input-focused textarea {
	border-color: #f2f2f2;
}

/* Responsive*/
@media (max-width: 991px) {
	.contact-default-primary form > .row {
		position: relative;
		padding-bottom: 5em;
	}
	.contact-default-primary form > .row > p:nth-child(4) {
		position: absolute;
		bottom: 2em;
		left: 0;
		right: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	.contact-default-primary form input,
	.contact-default-primary form textarea {
		border: 1px solid #e0e0e0;
	}
}

@media (max-width: 768px) {
	.contact-form form {
		text-align: center;
	}
	.contact-form input,
	.contact-form select,
	.contact-form textarea,
	.contact-form label,
	.contact-form .ui-selectmenu-button {
		text-align: left;
	}
}
