/* Banner */
.banner {
		position: relative;
}

.banner h2, .banner h3, .banner h4, .banner h5, .banner h6, .banner p {
		color: #111;
		margin-bottom: 1.07143em;
}

.banner-half-bg {
		padding: 110px 10% 120px;
}

.banner-half-bg h2, .banner-half-bg h6 {
		color: #fff;
}

.banner-half-bg h2 {
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0.15em;
		line-height: 1em;
		letter-spacing: -0.05em;
}

.banner-half-bg h4 {
		color: #a0aec6;
		font-weight: normal;
		opacity: 0.5;
		line-height: 1.5em;
		margin-bottom: 2em;
}

.banner-half-bg .btn {
		margin-top: 30px;
}

.banner-half-bg .icon-container span, .banner-half-bg .icon-container i {
		font-size: 70px;
		color: #fff;
}

.banner-half-bg .icon-box {
		margin-bottom: 20px;
}

.banner-condensed {
		padding: 0 2.8em;
}

.banner-condensed .wpb_text_column {
		margin-bottom: 0;
}

.banner-condensed .wpb_text_column h1, .banner-condensed .wpb_text_column h2, .banner-condensed .wpb_text_column h3, .banner-condensed .wpb_text_column h4, .banner-condensed .wpb_text_column h5, .banner-condensed .wpb_text_column h6 {
		margin: 1.666667em 0 !important;
}

.banner-condensed .wpb_text_column h5 {
		overflow: hidden;
		line-height: 1.42857em;
		font-size: 1.5em;
		letter-spacing: 0;
}

.banner-condensed-2 {
		/* padding: 2em 30% 2em 60px;*/
		-webkit-box-shadow: 0 -10px 45px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 -10px 45px 0 rgba(0, 0, 0, 0.08);
		/* .btn, .btn:hover {*/
		/* 	border-left: 1px solid rgba(0,0,0,0.08);*/
		/* }*/
		/* .btn {*/
		/* 	padding: 0 30px;*/
		/* 	font-size: 0.866667em;*/
		/**/
		/* 	@include position(absolute, 0 0 0 null);*/
		/* 	span {*/
		/* 		position: relative;*/
		/* 		top: 50%;*/
		/* 		transform: translateY(-50%);*/
		/* 		letter-spacing: 0.2em;*/
		/* 	}*/
		/* }*/
}

.banner-condensed-2 .wpb_text_column,
.banner-condensed-2 h3,
.banner-condensed-2 h4 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.5;
}

.banner-condensed-2 h4 {
		font-size: 1.5em;
}

.banner-condensed-2-alt {
		padding-top: 1.78571em;
		padding-bottom: 1.78571em;
		-webkit-box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.08);
}

.banner-condensed-2-alt h3 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.46429em;
		line-height: 1.5;
		font-weight: 500;
}

.banner-bg-rhombus {
		padding: 60px 0;
		overflow: visible;
		z-index: 1;
}

.banner-bg-rhombus .banner-container {
		max-width: 700px;
		float: right;
		margin-right: 60px;
}

.banner-bg-rhombus:before {
		content: "";
		width: 200px;
		position: absolute;
		top: 0;
		right: -100px;
		bottom: 0;
		background: inherit;
		z-index: -1;
		-webkit-transform: skewX(-20deg);
		transform: skewX(-20deg);
}

.banner-bg-rhombus:after {
		content: "";
		display: block;
		clear: both;
}

.banner-broad {
		text-align: center;
		margin: 7em 0 6em;
}

.banner-broad p {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0.73333em;
		line-height: 2.72727em;
		text-transform: uppercase;
		letter-spacing: 0.45455em;
}

.banner-broad p:before, .banner-broad p:after {
		content: "";
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		height: 1px;
		background: #fff;
		position: relative;
		margin-top: 1.36364em;
		opacity: 0.25;
}

.banner-broad p:before {
		margin-right: 3.18182em;
}

.banner-broad p:after {
		margin-left: 3.18182em;
}

.banner-broad h2 {
		margin-top: 0.5em;
		text-transform: uppercase;
}

.banner-broad h3 {
		font-weight: 400;
		text-transform: lowercase;
}

.banner-broad-2 {
		text-align: center;
		padding-top: 45px;
		padding-bottom: 110px;
}

.banner-broad-2 h6 {
		color: #cfcfcf;
		line-height: 5em;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		margin-bottom: 10px;
}

.banner-broad-2 h2 {
		margin-top: 0;
		letter-spacing: -0.05em;
		line-height: 1em;
		margin-bottom: 0.6em;
		color: #fff;
}

.banner-broad-2 p {
		font-size: 1.21429em;
		line-height: 2.11765em;
		color: #b9c3d4;
		margin-bottom: 40px;
}

.banner-icons {
		background: #EB3659;
		border-radius: 10px;
		border-bottom: 5px solid #cf193c;
		-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.banner-icons:before, .banner-icons:after {
		content: "";
		display: table;
}

.banner-icons:after {
		clear: both;
}

.banner-icons .wpb_text_column h1, .banner-icons .wpb_text_column h2, .banner-icons .wpb_text_column h3, .banner-icons .wpb_text_column h4, .banner-icons .wpb_text_column h5, .banner-icons .wpb_text_column h6 {
		margin-top: 0;
}

.banner-deals {
		position: relative;
		border-radius: 5px;
		text-transform: uppercase;
}

.banner-deals .banner-inner > .vc_row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
}

.banner-deals .banner-inner > .vc_row > .wpb_column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
}

.banner-deals .banner-inner > .vc_row > .wpb_column .vc_column-inner {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
}

.banner-deals .wpb_text_column {
		display: inline-block;
		width: 100%;
		margin: 0;
}

.banner-deals .text-left,
.banner-deals .text-right {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
}

.banner-deals .text-left .wpb_wrapper,
.banner-deals .text-right .wpb_wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
}

.banner-deals .text-left p,
.banner-deals .text-right p {
		font-size: 1.33333em;
		text-transform: uppercase;
		line-height: 5em;
		margin-bottom: 0;
}

.banner-deals .text-lg-left,
.banner-deals .text-left {
		padding-right: 130px;
		padding-left: 20px;
}

.banner-deals .text-lg-right,
.banner-deals .text-right {
		float: right;
		padding-left: 130px;
		padding-right: 20px;
}

.banner-deals .text-lg-center,
.banner-deals .text-center {
		position: absolute;
		top: 50%;
		right: 50%;
		-webkit-transform: translateX(50%) translateY(-50%);
		transform: translateX(50%) translateY(-50%);
		background-repeat: no-repeat !important;
		background-position: center !important;
		width: 180px;
		height: 205px;
		padding: 0;
}

.banner-deals .text-lg-center > .vc_column-inner,
.banner-deals .text-center > .vc_column-inner {
		padding: 0;
}

.banner-deals .text-lg-center > .vc_column-inner > .wpb_wrapper,
.banner-deals .text-center > .vc_column-inner > .wpb_wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-top: 25px;
		padding-bottom: 25px;
}

.banner-deals .text-lg-center p,
.banner-deals .text-center p {
		font-size: 1.6em;
		margin-bottom: 5px;
}

.banner-deals .text-lg-center .subtitle,
.banner-deals .text-center .subtitle {
		font-size: 0.86667em;
		line-height: 1.3;
		margin-bottom: 0;
}

.banner-deals .text-lg-center .ribbon-text,
.banner-deals .text-center .ribbon-text {
		min-width: 100%;
		margin-right: -2px;
		margin-bottom: 10px;
		margin-left: -2px;
		color: rgba(0, 0, 0, 0.8);
		background: #FFCE18;
}

.banner-deals .text-lg-center .ribbon-text:before, .banner-deals .text-lg-center .ribbon-text:after,
.banner-deals .text-center .ribbon-text:before,
.banner-deals .text-center .ribbon-text:after {
		content: "";
		width: 38px;
		height: 32px;
		display: block;
		-webkit-transform: translateY(-20%);
		transform: translateY(-20%);
}

.banner-deals .text-lg-center .ribbon-text:before,
.banner-deals .text-center .ribbon-text:before {
		position: absolute;
		top: 50%;
		left: -40px;
		background: url("../../../img/ribbon-left.svg");
}

.banner-deals .text-lg-center .ribbon-text:after,
.banner-deals .text-center .ribbon-text:after {
		position: absolute;
		top: 50%;
		right: -40px;
		background: url("../../../img/ribbon-right.svg");
}

.banner-app .content {
		padding-top: 5.38462em;
		padding-left: 3.07692em;
}

.banner-app figure {
		text-align: center;
}

.banner-app h6 {
		margin-bottom: 2.14286em;
		font-size: 1.077em;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1.5px;
		line-height: 1em;
		color: #425fca;
}

.banner-app h3 {
		font-size: 45px;
		color: white;
		line-height: 1.333;
		font-weight: 300;
}

.banner-app h4 {
		font-size: 40px;
		color: black;
		line-height: 1.065;
		font-weight: 300;
}

.banner-app p {
		margin: 30px 0;
		color: #999999;
}

.banner-app .wpb_text_column {
		margin-bottom: 1.78571em;
}

.banner-bg-zoom {
		padding: 3em 2.14286em;
		overflow: hidden;
		position: relative;
}

.banner-bg-zoom h5,
.banner-bg-zoom h6 {
		margin-top: 0;
		text-transform: uppercase;
		line-height: 1.2em;
}

.banner-bg-zoom h2 {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
}

.banner-bg-zoom h6 {
		margin-bottom: 0.3em;
		font-size: 1.133em;
		letter-spacing: 0.17em;
		line-height: 1.059em;
		font-weight: 400;
}

.banner-bg-zoom h5 {
		font-size: 1.66667em;
		letter-spacing: 0.1em;
		line-height: 1em;
		font-weight: 700;
}

.banner-bg-zoom > * {
		position: relative;
		z-index: 2;
}

.banner-bg-zoom .wpb_single_image {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 0;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.banner-bg-zoom .wpb_single_image > div,
.banner-bg-zoom .wpb_single_image > figure {
		width: 100%;
		height: 100%;
}

.banner-bg-zoom .btn {
		margin-top: 1.3em;
}

.banner-bg-zoom .btn-xsm span {
		padding: 0.75em 1.6em;
}

.banner-bg-zoom .vc_single_image-wrapper,
.banner-bg-zoom .vc-zoom-wrapper {
		height: 100%;
}

.banner-bg-zoom .vc_single_image-wrapper {
		width: 100%;
		height: 100%;
}

.banner-bg-zoom .wpb_single_image img,
.banner-bg-zoom .vc-zoom-wrapper img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		font-family: "object-fit: cover";
}

.banner-bg-zoom .wpb_single_image,
.banner-bg-zoom .wpb_content_element {
		margin: 0;
}

.banner-bg-zoom .aspect-ratio-container {
		width: 100%;
		height: 100%;
		max-width: none !important;
		max-height: none !important;
}

.banner-bg-zoom .aspect-ratio-fill {
		width: 100%;
		height: 100%;
		padding: 0 !important;
}

.banner-rhombus-subtitle {
		text-align: center;
		padding: 60px 0 110px;
}

.banner-rhombus-subtitle h2 {
		line-height: 1.25em;
		margin-top: 0;
		color: #fff;
		letter-spacing: -0.1px;
		margin-bottom: 1em;
		text-align: center;
}

.banner-rhombus-subtitle h6 {
		position: relative;
		color: #000;
		display: inline-block;
		font-size: 1.538461538em;
		line-height: 1.5em;
		padding: 0.6em 0;
		z-index: 1;
		margin-top: 0;
		margin-bottom: 0;
		text-align: center;
		background: #fff;
}

.banner-rhombus-subtitle h6 i {
		margin-right: 0.2em;
		vertical-align: middle;
}

.banner-rhombus-subtitle h6:after {
		background: inherit;
		content: "";
		position: absolute;
		top: 0;
		right: -2em;
		bottom: 0;
		left: -2em;
		-webkit-transform: skew(-45deg);
		transform: skew(-45deg);
		z-index: -1;
}

.banner-rhombus-subtitle-alt h6 {
		color: #fff;
		font-size: 1.3333em;
		font-weight: 600;
		background: #EFA810;
}

.banner-rhombus-subtitle-alt h6:after {
		background: inherit;
}

.banner-list {
		padding: 2.85em 3em 3.5em;
		background: #F2F7F8;
}

.banner-list h2 {
		margin-top: 0;
		margin-bottom: 1.13636em;
		font-size: 1.57143em;
		line-height: 1.63636em;
		font-weight: normal;
}

.banner-list ul {
		padding-left: 0;
		list-style: none;
		margin-top: 0;
		margin-bottom: 1.78571em;
}

.banner-list li {
		position: relative;
		padding-left: 1em;
		margin-bottom: 1em;
		line-height: 1.5em;
		color: #4c4c4c;
}

.banner-list li:before {
		content: "";
		background: #288fd7;
		height: 5px;
		width: 5px;
		position: absolute;
		top: 0.75em;
		left: 0;
		display: block;
		border-radius: 100px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
}

/* Responsive*/
@media (min-width: 992px) and (max-width: 1199px) {
		.banner-list {
				padding-left: 15px;
				padding-right: 15px;
		}
}

@media (max-width: 1199px) {
		.banner-deals .text-left p,
		.banner-deals .text-lg-left p,
		.banner-deals .text-lg-right p,
		.banner-deals .text-right p {
				font-size: 1em;
		}
		.banner-deals .text-lg-left,
		.banner-deals .text-left {
				padding-left: 15px;
		}
}

@media (max-width: 991px) {
		.banner-deals .text-lg-right,
		.banner-deals .text-right {
				padding-right: 15px;
		}
		.banner-deals .text-left .wpb_wrapper,
		.banner-deals .text-right .wpb_wrapper,
		.banner-deals .text-lg-left .wpb_wrapper,
		.banner-deals .text-lg-right .wpb_wrapper {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
		}
}

@media (max-width: 768px) {
		.banner-bg-rhombus .banner-container {
				max-width: none;
				float: none;
				padding-right: 30px;
				padding-left: 30px;
		}
		.banner-deals {
				padding-bottom: 1.07143em;
		}
		.banner-deals .banner-inner {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
		}
		.banner-deals .banner-inner > div {
				text-align: center;
				padding-left: 0;
				padding-right: 0;
		}
		.banner-deals .banner-inner > div p {
				float: none;
		}
		.banner-deals .banner-inner > .vc_row {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
		}
		.banner-deals .text-lg-center,
		.banner-deals .text-center {
				position: relative;
				top: auto;
				left: auto;
				right: auto;
				margin: 0 auto;
				-webkit-transform: none;
				transform: none;
		}
		.banner-deals .text-left,
		.banner-deals .text-right,
		.banner-deals .text-lg-left,
		.banner-deals .text-lg-right {
				padding-left: 0;
				padding-right: 0;
		}
}
